@*-----------------------------------------------------------------------
<copyright file="EditPeople.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
<author>Environmental Science Associates</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Models
@using Newtonsoft.Json.Linq
@inherits ProjectFirma.Web.Views.Shared.ProjectPerson.EditPeople

<script type="text/javascript">
    // <![CDATA[    
    angular.module("ProjectFirmaApp").factory("angularModelAndViewData", function ()
    {
        return {
            AngularModel: @Html.Raw(JObject.FromObject(Model)),
            AngularViewData: @Html.Raw(JObject.FromObject(ViewDataTyped))
        };
    });
    jQuery(function ()
    {
        angular.bootstrap(jQuery("#EditPeopleAngularApp"), ["ProjectFirmaApp"]);

        jQuery(".selectpicker").selectpicker("refresh");
        jQuery(".modal").on("hidden.bs.modal",
            function() {
                jQuery(".bootstrap-select.open").removeClass("open");
            });
    });
    // ]]>
</script>
<script type="text/javascript" src="/Content/Bootstrap-select/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="/Content/Bootstrap-select/bootstrap-select.min.css" type="text/css" />

<style>
    .table > tbody > tr.subRelationships > td {
        border-top: none;
        padding-top: 0;
    }
    .col-xs-5.personIdSelectGroup div.bootstrap-select.btn-group {
        width: 100%;
    }
    .btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, #projectWizardContent .btn-default.disabled, #projectWizardContent .btn-default.disabled:hover, #projectWizardContent .btn-default.disabled:focus {
        background-color: #eee;
        color: #555
    }

</style>

<div class="validationError">
    @Html.ValidationSummary()
</div>

<div id="EditPeopleAngularApp" ng-controller="ProjectPersonController">
    <div class="row">
        <div class="col-md-12">
            <p>Select the @FieldDefinition.Contact.GetFieldDefinitionLabelPluralized() that are associated with your @FieldDefinition.Project.GetFieldDefinitionLabel(). The Primary Contact relationship is required, can have only one contact associated, and is marked with a required symbol (<sup>@Html.Raw(BootstrapHtmlHelpers.RequiredIcon)</sup>). Other relationship types can apply to any number of contacts and are not required.</p>
            @if (ViewDataTyped.UserCanManageContacts)
            {
            <p>If you do not see the contact listed, you can <a href="@ViewDataTyped.AddContactUrl" target="_blank">Add a @FieldDefinition.Contact.GetFieldDefinitionLabel()</a></p>
            }
            else
            {
                <p>If you do not see the contact listed, you can use the Help Menu to request support.</p>
            }
        </div>
    </div>

    @*------------------------------------ Primary Contact Relationship Type (if there is one) and Primary Contact ------------------------------------*@
    <br />
    <div ng-show="AngularViewData.PrimaryContactProjectPersonRelationshipType != null">
        <div class="row">
            @*Relationship type and description*@
            <div class="col-md-12"><label ng-bind="AngularViewData.PrimaryContactProjectPersonRelationshipType.ProjectPersonRelationshipTypeDisplayName"></label></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-push-9">
                <p class="smallExplanationText" ng-bind="AngularViewData.PrimaryContactProjectPersonRelationshipType.ProjectPersonRelationshipTypeDescription"></p>
            </div>
            <div class="col-md-9 col-md-pull-3">
                <div class="row">
                    @*Selectpicker*@
                    <div class="col-md-12">
                        <div class="input-group" style="width: 100%;">
                            <select class="selectpicker" id="todo{{AngularViewData.PrimaryContactProjectPersonRelationshipType.RelationshipTypeID}}" ng-model="selectedPersonID[AngularViewData.PrimaryContactProjectPersonRelationshipType.ProjectPersonRelationshipTypeID]" ng-change="selectionChanged(selectedPersonID[AngularViewData.PrimaryContactProjectPersonRelationshipType.ProjectPersonRelationshipTypeID], AngularViewData.PrimaryContactProjectPersonRelationshipType)" data-width="100%" data-live-search="true" data-size="8">
                                <option value="" selected ng-bind="dropdownDefaultOption(AngularViewData.PrimaryContactProjectPersonRelationshipType)">Select one</option>
                                <option ng-repeat="person in getAvailablePeopleForProjectPersonRelationshipType(AngularViewData.PrimaryContactProjectPersonRelationshipType)"
                                        ng-bind="person.FullName"
                                        ng-value="person.PersonID"
                                        ng-selected="isOptionSelected(person,AngularViewData.PrimaryContactProjectPersonRelationshipType)"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*------------------------------------ All Other Relationship Types ------------------------------------*@
    <div ng-repeat="projectPersonRelationshipType in AngularViewData.AllProjectPersonRelationshipTypes | orderBy:['ProjectPersonRelationshipTypeName']">
        <hr />
        <div class="row">
            @*Relationship type and description*@
            <div class="col-md-12"><label ng-bind="projectPersonRelationshipType.ProjectPersonRelationshipTypeDisplayName"></label><sup ng-show="projectPersonRelationshipType.ProjectPersonRelationshipTypeCanOnlyBeRelatedOnceToAProject">@Html.Raw(BootstrapHtmlHelpers.RequiredIcon)</sup></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-push-9">
                <p class="smallExplanationText" ng-bind="projectPersonRelationshipType.ProjectPersonRelationshipTypeDescription"></p>
            </div>
            <div class="col-md-9 col-md-pull-3">
                <div class="row">
                    @*Selectpicker*@
                    <div class="col-md-12">
                        <div class="input-group" style="width: 100%;">
                            <select ng-disabled="checkForFieldImport(projectPersonRelationshipType.ProjectPersonRelationshipTypeID)" class="selectpicker" id="todo{{projectPersonRelationshipType.ProjectPersonRelationshipTypeID}}" ng-model="selectedPersonID[projectPersonRelationshipType.ProjectPersonRelationshipTypeID]" ng-change="selectionChanged(selectedPersonID[projectPersonRelationshipType.ProjectPersonRelationshipTypeID],projectPersonRelationshipType)" data-width="100%" data-live-search="true" data-size="8">
                                <option value="" disabled selected ng-bind="dropdownDefaultOption(projectPersonRelationshipType)">Select one</option>
                                <option ng-repeat="person in getAvailablePeopleForProjectPersonRelationshipType(projectPersonRelationshipType)"
                                        ng-bind="person.FullName"
                                        ng-value="person.PersonID"
                                        ng-selected="isOptionSelected(person,projectPersonRelationshipType)"></option>
                            </select>
                            <button type="button" class="btn btn-sm btn-firma" ng-click="addProjectPersonSimple(selectedPersonID[projectPersonRelationshipType.ProjectPersonRelationshipTypeID], projectPersonRelationshipType.ProjectPersonRelationshipTypeID)" ng-disabled="!selectedPersonID[projectPersonRelationshipType.ProjectPersonRelationshipTypeID]" ng-show="!projectPersonRelationshipType.ProjectPersonRelationshipTypeCanOnlyBeRelatedOnceToAProject">
                                <span class="glyphicon glyphicon-plus"></span>
                                Add
                            </button>

                        </div>
                        <p class="smallExplanationText" ng-show="checkForFieldImport(projectPersonRelationshipType.ProjectPersonRelationshipTypeID)">@Project.ImportedFieldWarningMessage</p>
                    </div>
                </div>

                <div class="row" ng-repeat="person in chosenPeopleForProjectPersonRelationshipType(projectPersonRelationshipType.ProjectPersonRelationshipTypeID)" ng-hide="projectPersonRelationshipType.ProjectPersonRelationshipTypeCanOnlyBeRelatedOnceToAProject" style="margin-top: 5px;">
                    @*Selections*@
                    <div class="col-md-12">
                        <span>
                            <a href="#" ng-click="removeProjectPersonSimple(person.PersonID, projectPersonRelationshipType.ProjectPersonRelationshipTypeID); $event.preventDefault();">
                                <i class="glyphicon glyphicon-trash" title="Remove @FieldDefinition.ProjectRelationshipType.GetFieldDefinitionLabel()" alt="Remove @FieldDefinition.ProjectRelationshipType.GetFieldDefinitionLabel()"></i>
                            </a>
                        </span><span ng-bind="person.FullName"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        <div ng-repeat="projectPerson in AngularModel.ProjectPersonSimples">
            <input type="hidden" name="@Html.NameFor(x => x.ProjectPersonSimples[0].PersonID).ToString().Replace("0", "{{$index}}")" value="{{projectPerson.PersonID}}" />
            <input type="hidden" name="@Html.NameFor(x => x.ProjectPersonSimples[0].ProjectPersonRelationshipTypeID).ToString().Replace("0", "{{$index}}")" value="{{projectPerson.ProjectPersonRelationshipTypeID}}" />
        </div>
    }
</div>
