@*-----------------------------------------------------------------------
    <copyright file="Detail.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using LtInfo.Common.Views
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Security
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.GrantAllocation
@using ProjectFirma.Web.Views.Shared.GrantAllocationControls
@using ProjectFirma.Web.Views.Shared.TextControls

@inherits ProjectFirma.Web.Views.GrantAllocationAward.Detail

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }

}



<div>
    <a class="btn backButton" style="padding-left: 0;" href="@ViewDataTyped.BackButtonUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left") @ViewDataTyped.BackButtonText</a>
</div>


<div class="col-sm-12">

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditGrantAllocationAwardUrl, string.Format("Edit {0}", ViewDataTyped.GrantAllocationAward.GrantAllocationAwardName), 950, ViewDataTyped.UserHasEditGrantAllocationAwardPermissions)
                        Basics
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardName)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.GrantAllocationAwardName</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocation, string.Format("Funding {0}", FieldDefinition.GrantAllocation.GetFieldDefinitionLabel()))
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.GrantAllocation.GrantNumberAndGrantAllocationDisplayName</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.ProgramIndexProjectCode)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.GrantAllocation.GetAssociatedProgramIndexProjectCodePairsCommaDelimited()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardAmount)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.GrantAllocationAwardAmount.ToStringCurrency()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.Label("Spent Amount")
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.SpentAmount.ToStringCurrency()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.Label("Remaining Amount")
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.RemainingAmount.ToStringCurrency()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardExpirationDate)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.GrantAllocationAwardExpirationDate.ToShortDateString()</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @* Indirect Cost Section *@
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditIndirectCostUrl, string.Format("Edit {0} {1}", ViewDataTyped.GrantAllocationAward.GrantAllocationAwardName, FieldDefinition.GrantAllocationAwardIndirectCost.GetFieldDefinitionLabel()), 950, ViewDataTyped.UserHasEditGrantAllocationAwardPermissions)
                        @FieldDefinition.GrantAllocationAwardIndirectCost.GetFieldDefinitionLabel()
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardIndirectCostAllocationTotal)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.IndirectCostAllocationTotal.ToStringCurrency()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardIndirectCostApplicableAmount)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.IndirectCostApplicableAmount.ToStringCurrency()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardIndirectTotal)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.IndirectTotal.ToStringCurrency()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardIndirectRemaining)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.IndirectRemaining.ToStringCurrency()</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    @* Supplies Section *@
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditSuppliesUrl, string.Format("Edit {0} {1}", ViewDataTyped.GrantAllocationAward.GrantAllocationAwardName, FieldDefinition.GrantAllocationAwardSupplies.GetFieldDefinitionLabel()), 950, ViewDataTyped.UserHasEditGrantAllocationAwardPermissions)
                        @FieldDefinition.GrantAllocationAwardSupplies.GetFieldDefinitionLabel()
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardSuppliesAllocationTotal)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.SuppliesAllocationTotal.ToStringCurrency()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardSuppliesAllocationRemaining)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.SuppliesAllocationRemaining.ToStringCurrency()</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



    @* Personnel & Benefits Section *@
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditPersonnelAndBenefitsUrl, string.Format("Edit {0} {1}", ViewDataTyped.GrantAllocationAward.GrantAllocationAwardName, FieldDefinition.GrantAllocationAwardPersonnelAndBenefits.GetFieldDefinitionLabel()), 950, ViewDataTyped.UserHasEditGrantAllocationAwardPermissions)
                        @Html.Raw(FieldDefinition.GrantAllocationAwardPersonnelAndBenefits.GetFieldDefinitionLabel())
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardPersonnelAndBenefitsAllocationTotal)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.PersonnelAndBenefitsAllocationTotal.ToStringCurrency()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardPersonnelAndBenefitsAllocationRemaining)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.PersonnelAndBenefitsAllocationRemaining.ToStringCurrency()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardPersonnelAndBenefitsForester)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.PersonnelAndBenefitsForester</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    @* Travel Section *@
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditTravelUrl, string.Format("Edit {0} {1}", ViewDataTyped.GrantAllocationAward.GrantAllocationAwardName, FieldDefinition.GrantAllocationAwardTravel.GetFieldDefinitionLabel()), 950, ViewDataTyped.UserHasEditGrantAllocationAwardPermissions)
                        @FieldDefinition.GrantAllocationAwardTravel.GetFieldDefinitionLabel()
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardTravelAllocationTotal)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.TravelAllocationTotal.ToStringCurrency()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardTravelAllocationRemaining)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.TravelAllocationRemaining.ToStringCurrency()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardTravelForester)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.TravelForester</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    @* Landowner Cost Share Section*@
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditLandownerCostShareUrl, string.Format("Edit {0} {1}", ViewDataTyped.GrantAllocationAward.GrantAllocationAwardName, FieldDefinition.GrantAllocationAwardLandownerCostShare.GetFieldDefinitionLabel()), 950, ViewDataTyped.UserHasEditGrantAllocationAwardPermissions)
                        @FieldDefinition.GrantAllocationAwardLandownerCostShare.GetFieldDefinitionLabel()
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardLandownerCostShareAllocationTotal)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.LandownerCostShareAllocationTotal.ToStringCurrency()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardLandownerCostShareAllocationRemaining)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.LandownerCostShareAllocationRemaining.ToStringCurrency()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardLandownerCostSharePercentAllocated)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.LandownerCostSharePercentAllocated</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardLandownerCostShareFundRemaining)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.LandownerCostShareFundRemaining.ToStringCurrency()</span>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardLandownerCostShareTargetFootprintAcreage)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.LandownerCostShareTargetFootprintAcreage</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardLandownerCostShareTargetTotalAcreage)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.LandownerCostShareTargetTotalAcreage</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardLandownerCostShareForester)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.LandownerCostShareForester</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    @* Contractor Invoice Section *@



</div>