@*-----------------------------------------------------------------------
    <copyright file="Detail.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views

@inherits ProjectFirma.Web.Views.GrantAllocationAward.Detail

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }

}



<div>
    <a class="btn backButton" style="padding-left: 0;" href="@ViewDataTyped.BackButtonUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left") @ViewDataTyped.BackButtonText</a>
</div>


<div class="col-sm-12">

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditGrantAllocationAwardUrl, string.Format("Edit {0}", ViewDataTyped.GrantAllocationAward.GrantAllocationAwardName), 950, ViewDataTyped.UserHasEditGrantAllocationAwardPermissions)
                        Basics
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardName)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.GrantAllocationAwardName</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocation, string.Format("Funding {0}", FieldDefinition.GrantAllocation.GetFieldDefinitionLabel()))
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.GrantAllocation.GrantNumberAndGrantAllocationDisplayNameAsUrl</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.ProgramIndexProjectCode)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.GrantAllocation.GetAssociatedProgramIndexProjectCodePairsCommaDelimited()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardAmount)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.GrantAllocationAwardAmount.ToStringCurrencyFull()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardSpentAmount)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.SpentAmount.ToStringCurrencyFull()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardBalance)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.Balance.ToStringCurrencyFull()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardExpirationDate)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.GrantAllocationAwardExpirationDate.ToShortDateString()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardCalendarStartYear)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.GrantAllocationAwardCalendarStartYear</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.FocusArea)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.FocusArea.FocusAreaName</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @* Indirect Cost Section *@
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        @FieldDefinition.GrantAllocationAwardIndirectCost.GetFieldDefinitionLabelPluralized()
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardIndirectCostAllocationTotal)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.IndirectCostAllocationTotal.ToStringCurrencyFull()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardIndirectCostApplicableAmount)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.IndirectCostApplicableAmount.ToStringCurrencyFull()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardIndirectTotal)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.IndirectCostTotal.ToStringCurrencyFull()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardIndirectBalance)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.IndirectCostBalance.ToStringCurrencyFull()</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    @* Supplies Section *@
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        @FieldDefinition.GrantAllocationAwardSupplies.GetFieldDefinitionLabel()
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardSuppliesAllocationTotal)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.SuppliesAllocationTotal.ToStringCurrencyFull()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardSuppliesAllocationBalance)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.SuppliesAllocationBalance.ToStringCurrencyFull()</span>
                        </div>
                    </div>
                    
                    <div>
                        @Html.DhtmlxGrid(ViewDataTyped.SuppliesLineItemGridSpec, ViewDataTyped.SuppliesLineItemGridName, ViewDataTyped.SuppliesLineItemGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
                    </div>

                </div>
            </div>
        </div>
    </div>



    @* Personnel & Benefits Section *@
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        @Html.Raw(FieldDefinition.GrantAllocationAwardPersonnelAndBenefits.GetFieldDefinitionLabel())
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardPersonnelAndBenefitsAllocationTotal)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.PersonnelAndBenefitsAllocationTotal.ToStringCurrencyFull()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardPersonnelAndBenefitsAllocationBalance)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.PersonnelAndBenefitsAllocationBalance.ToStringCurrencyFull()</span>
                        </div>
                    </div>

                    <div>
                        @Html.DhtmlxGrid(ViewDataTyped.PersonnelAndBenefitsLineItemGridSpec, ViewDataTyped.PersonnelAndBenefitsLineItemGridName, ViewDataTyped.PersonnelAndBenefitsLineItemGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
                    </div>

                </div>
            </div>
        </div>
    </div>


    @* Travel Section *@
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        @FieldDefinition.GrantAllocationAwardTravel.GetFieldDefinitionLabel()
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardTravelAllocationTotal)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.TravelAllocationTotal.ToStringCurrencyFull()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardTravelAllocationBalance)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.TravelAllocationBalance.ToStringCurrencyFull()</span>
                        </div>
                    </div>

                    <div>
                        @Html.DhtmlxGrid(ViewDataTyped.TravelLineItemGridSpec, ViewDataTyped.TravelLineItemGridName, ViewDataTyped.TravelLineItemGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
                    </div>

                </div>
            </div>
        </div>
    </div>

    @* Contractual Section*@
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        @FieldDefinition.GrantAllocationAwardContractual.GetFieldDefinitionLabel()
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardContractualAllocationTotal)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.ContractualAllocationTotal.ToStringCurrencyFull()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardContractualAllocationBalance)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.ContractualAllocationBalance.ToStringCurrencyFull()</span>
                        </div>
                    </div>


                    <hr />

                    <h4>
                        @FieldDefinition.GrantAllocationAwardLandownerCostShare.GetFieldDefinitionLabel()
                    </h4>

                    @* Landowner Cost Share Section *@

                    <div>
                        @Html.DhtmlxGrid(ViewDataTyped.LandownerCostShareLineItemGridSpec, ViewDataTyped.LandownerCostShareLineItemGridName, ViewDataTyped.LandownerCostShareLineItemGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
                    </div>

                    <hr />

                    @* Contractor Invoice Section *@
                    <h4>
                        @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditContractorInvoiceUrl, string.Format("Edit {0} {1}", ViewDataTyped.GrantAllocationAward.GrantAllocationAwardName, FieldDefinition.GrantAllocationAwardContractorInvoice.GetFieldDefinitionLabelPluralized()), 950, ViewDataTyped.UserHasEditGrantAllocationAwardPermissions)
                        @FieldDefinition.GrantAllocationAwardContractorInvoice.GetFieldDefinitionLabelPluralized()
                    </h4>

                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelWithSugarFor(FieldDefinition.GrantAllocationAwardContractorInvoiceContractor)
                        </div>
                        <div class="col-sm-8">
                            <span>@ViewDataTyped.GrantAllocationAward.ContractorInvoiceContractor</span>
                        </div>
                    </div>


                    <div>
                        @Html.DhtmlxGrid(ViewDataTyped.ContractorInvoiceItemGridSpec, ViewDataTyped.ContractorInvoiceItemGridName, ViewDataTyped.ContractorInvoiceItemGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
                    </div>


                </div>
            </div>
        </div>
    </div>


</div>