@*-----------------------------------------------------------------------
    <copyright file="EditGrantAllocationAwardLandownerCostShareLineItem.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Models

@inherits ProjectFirma.Web.Views.GrantAllocationAward.EditGrantAllocationAwardLandownerCostShareLineItem

<script type="text/javascript">
    // <![CDATA[
    jQuery(function () {
        jQuery(".selectpicker").selectpicker("refresh");
    });
    // ]]>
</script>
<script type="text/javascript" src="/Content/Bootstrap-select/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="/Content/Bootstrap-select/bootstrap-select.min.css" type="text/css" />


@Html.ValidationSummary()


@using (Html.BeginForm())
{

    @Html.HiddenFor(m => m.GrantAllocationAwardLandownerCostShareLineItemID)

    <div class="form-horizontal">
        <div class="form-group no-margin-top">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.GrantAllocationAwardID)
            </div>
            <div class="col-sm-7">
                @Html.DropDownListFor(m => m.GrantAllocationAwardID, ViewDataTyped.GrantAllocationAwardList, new Dictionary<string, object> { { "class", "form-control selectpicker" }, { "style", "width:100%" }, { "data-width", "100%" }, { "data-live-search", "true" }, { "data-size", "8" } })
                @Html.ValidationMessageFor(m => m.GrantAllocationAwardID)
            </div>
        </div>
        <div class="form-group no-margin-top">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.ProjectID)
            </div>
            <div class="col-sm-7">
                @Html.DropDownListFor(m => m.ProjectID, ViewDataTyped.ProjectList, new Dictionary<string, object> {{"class", "form-control selectpicker"}, {"style", "width:100%"}, {"data-width", "100%"}, {"data-live-search", "true"}, {"data-size", "8"}})
                @Html.ValidationMessageFor(m => m.ProjectID)
            </div>
        </div>
        <div class="form-group no-margin-top">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.StatusID)
            </div>
            <div class="col-sm-3">
                @Html.DropDownListFor(m => m.StatusID, ViewDataTyped.StatusList, new {@class = "form-control", style = "width:100%"})
                @Html.ValidationMessageFor(m => m.StatusID)
            </div>
        </div>
        <div class="form-group no-margin-top">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.AllocatedAmount)
            </div>
            <div class="col-sm-2">
                @Html.EditorFor(m => m.AllocatedAmount, new {@class = "form-control", style = "width:100%"})
                @Html.ValidationMessageFor(m => m.AllocatedAmount)
            </div>

            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.TotalCost)
            </div>
            <div class="col-sm-2">
                @Html.EditorFor(m => m.TotalCost, new {@class = "form-control", style = "width:100%"})
                @Html.ValidationMessageFor(m => m.TotalCost)
            </div>
        </div>

        <div class="form-group no-margin-top">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.StartDate)
            </div>
            <div class="col-sm-2">
                @Html.EditorFor(m => m.StartDate, new {@class = "form-control", style = "width:100%"})
                @Html.ValidationMessageFor(m => m.StartDate)
            </div>
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.EndDate)
            </div>
            <div class="col-sm-2">
                @Html.EditorFor(m => m.EndDate, new {@class = "form-control", style = "width:100%"})
                @Html.ValidationMessageFor(m => m.EndDate)
            </div>
        </div>
    </div>
    <br />
    <div class="form-horizontal">
        <div class="form-group no-margin-top col-md-6">
            <div class="col-sm-7 text-right control-label">
                @Html.LabelWithSugarFor(m => m.FootprintAcres)
            </div>
            <div class="input-group col-sm-5">
                @Html.TextBoxFor(m => m.FootprintAcres, new { @class = "form-control", style = "width:100%" })
                <div class="input-group-addon"><span class="input-group-text">acres</span></div>
                @Html.ValidationMessageFor(m => m.FootprintAcres)

            </div>
        </div>
        <div class="form-group no-margin-top col-md-6">
            <div class="col-sm-7 text-right control-label">
                @Html.LabelWithSugarFor(m => m.SlashAcres)
            </div>
            <div class="input-group col-sm-5">
                @Html.TextBoxFor(m => m.SlashAcres, new { @class = "form-control", style = "width:100%" })
                <div class="input-group-addon"><span class="input-group-text">acres</span></div>
                @Html.ValidationMessageFor(m => m.SlashAcres)
            </div>
        </div>
        <div class="form-group no-margin-top col-md-6">
            <div class="col-sm-7 text-right control-label">
                @Html.LabelWithSugarFor(m => m.ChippingAcres)
            </div>
            <div class="input-group col-sm-5">
                @Html.TextBoxFor(m => m.ChippingAcres, new { @class = "form-control", style = "width:100%" })
                <div class="input-group-addon"><span class="input-group-text">acres</span></div>
                @Html.ValidationMessageFor(m => m.ChippingAcres)

            </div>
        </div>
        <div class="form-group no-margin-top col-md-6">
            <div class="col-sm-7 text-right control-label">
                @Html.LabelWithSugarFor(m => m.PruningAcres)
            </div>
            <div class="input-group col-sm-5">
                @Html.TextBoxFor(m => m.PruningAcres, new { @class = "form-control", style = "width:100%" })
                <div class="input-group-addon"><span class="input-group-text">acres</span></div>
                @Html.ValidationMessageFor(m => m.PruningAcres)
            </div>
        </div>
        <div class="form-group no-margin-top col-md-6">
            <div class="col-sm-7 text-right control-label">
                @Html.LabelWithSugarFor(m => m.ThinningAcres)
            </div>
            <div class="input-group col-sm-5">
                @Html.TextBoxFor(m => m.ThinningAcres, new { @class = "form-control", style = "width:100%" })
                <div class="input-group-addon"><span class="input-group-text">acres</span></div>
                @Html.ValidationMessageFor(m => m.ThinningAcres)
            </div>
        </div>
        <div class="form-group no-margin-top col-md-6">
            <div class="col-sm-7 text-right control-label">
                @Html.LabelWithSugarFor(m => m.MasticationAcres)
            </div>
            <div class="input-group col-sm-5">
                @Html.TextBoxFor(m => m.MasticationAcres, new { @class = "form-control", style = "width:100%" })
                <div class="input-group-addon"><span class="input-group-text">acres</span></div>
                @Html.ValidationMessageFor(m => m.MasticationAcres)
            </div>
        </div>
        <div class="form-group no-margin-top col-md-6">
            <div class="col-sm-7 text-right control-label">
                @Html.LabelWithSugarFor(m => m.GrazingAcres)
            </div>
            <div class="input-group col-sm-5">
                @Html.TextBoxFor(m => m.GrazingAcres, new { @class = "form-control", style = "width:100%" })
                <div class="input-group-addon"><span class="input-group-text">acres</span></div>
                @Html.ValidationMessageFor(m => m.GrazingAcres)
            </div>
        </div>
        <div class="form-group no-margin-top col-md-6">
            <div class="col-sm-7 text-right control-label">
                @Html.LabelWithSugarFor(m => m.LopAndScatterAcres)
            </div>
            <div class="input-group col-sm-5">
                @Html.TextBoxFor(m => m.LopAndScatterAcres, new { @class = "form-control", style = "width:100%" })
                <div class="input-group-addon"><span class="input-group-text">acres</span></div>
                @Html.ValidationMessageFor(m => m.LopAndScatterAcres)
            </div>
        </div>

        <div class="form-group no-margin-top col-md-6">
            <div class="col-sm-7 text-right control-label">
                @Html.LabelWithSugarFor(m => m.BiomassRemovalAcres)
            </div>
            <div class="input-group col-sm-5">
                @Html.TextBoxFor(m => m.BiomassRemovalAcres, new { @class = "form-control", style = "width:100%" })
                <div class="input-group-addon"><span class="input-group-text">acres</span></div>
                @Html.ValidationMessageFor(m => m.BiomassRemovalAcres)
            </div>
        </div>
        <div class="form-group no-margin-top col-md-6">
            <div class="col-sm-7 text-right control-label">
                @Html.LabelWithSugarFor(m => m.HandPileAcres)
            </div>
            <div class="input-group col-sm-5">
                @Html.TextBoxFor(m => m.HandPileAcres, new { @class = "form-control", style = "width:100%" })
                <div class="input-group-addon"><span class="input-group-text">acres</span></div>
                @Html.ValidationMessageFor(m => m.HandPileAcres)
            </div>
        </div>
        <div class="form-group no-margin-top col-md-6">
            <div class="col-sm-7 text-right control-label">
                @Html.LabelWithSugarFor(m => m.BroadcastBurnAcres)
            </div>
            <div class="input-group col-sm-5">
                @Html.TextBoxFor(m => m.BroadcastBurnAcres, new { @class = "form-control", style = "width:100%" })
                <div class="input-group-addon"><span class="input-group-text">acres</span></div>
                @Html.ValidationMessageFor(m => m.BroadcastBurnAcres)
            </div>
        </div>
        <div class="form-group no-margin-top col-md-6">
            <div class="col-sm-7 text-right control-label">
                @Html.LabelWithSugarFor(m => m.HandPileBurnAcres)
            </div>
            <div class="input-group col-sm-5">
                @Html.TextBoxFor(m => m.HandPileBurnAcres, new { @class = "form-control", style = "width:100%" })
                <div class="input-group-addon"><span class="input-group-text">acres</span></div>
                @Html.ValidationMessageFor(m => m.HandPileBurnAcres)
            </div>
        </div>
        <div class="form-group no-margin-top col-md-6">
            <div class="col-sm-7 text-right control-label">
                @Html.LabelWithSugarFor(m => m.MachinePileBurnAcres)
            </div>
            <div class="input-group col-sm-5">
                @Html.TextBoxFor(m => m.MachinePileBurnAcres, new { @class = "form-control", style = "width:100%" })
                <div class="input-group-addon"><span class="input-group-text">acres</span></div>
                @Html.ValidationMessageFor(m => m.MachinePileBurnAcres)
            </div>
        </div>
        <div class="form-group no-margin-top col-md-6">
            <div class="col-sm-7 text-right control-label">
                @Html.LabelWithSugarFor(m => m.OtherTreatmentAcres)
            </div>
            <div class="input-group col-sm-5">
                @Html.TextBoxFor(m => m.OtherTreatmentAcres, new { @class = "form-control", style = "width:100%" })
                <div class="input-group-addon"><span class="input-group-text">acres</span></div>
                @Html.ValidationMessageFor(m => m.OtherTreatmentAcres)
            </div>
        </div>

        
    </div>
    <div class="form-horizontal">
        <div class="form-group no-margin-top col-md-12">
            <div class="col-sm-2 control-label">
                @Html.LabelWithSugarFor(m => m.Notes)
            </div>
            <div class="col-sm-10">
                @Html.TextAreaFor(m => m.Notes, new { @class = "form-control", style = "width:100%" })
                @Html.ValidationMessageFor(m => m.Notes)
            </div>
        </div>
    </div>

}



