@*-----------------------------------------------------------------------
    <copyright file="EditGrantAllocationAward.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Controllers
@inherits ProjectFirma.Web.Views.GrantAllocationAward.EditGrantAllocationAward



@Html.ValidationSummary()


@using (Html.BeginForm())
{

    @Html.HiddenFor(m => m.GrantAllocationAwardID)

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-3 control-label">
            @Html.LabelWithSugarFor(m => m.GrantAllocationAwardName)
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.GrantAllocationAwardName, new { @class = "form-control", style = "width:100%" })
            @Html.ValidationMessageFor(m => m.GrantAllocationAwardName)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">
            @Html.LabelWithSugarFor(m => m.GrantAllocationID)
        </div>
        <div class="col-sm-9">
            @Html.SearchableDropDownListFor(m => m.GrantAllocationID, ViewDataTyped.AvailableGrantAllocations, new { @class = "form-control selectpicker", style = "width:auto", onchange = "return getGrantAllocationEndDate(this)" })
            @Html.ValidationMessageFor(m => m.GrantAllocationID)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">
            @Html.LabelWithSugarFor(m => m.GrantAllocationAwardExpirationDate)
        </div>
        <div class="col-sm-9">
            @Html.EditorFor(m => m.GrantAllocationAwardExpirationDate, new { @class = "form-control", style = "width:auto" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">
            @Html.LabelWithSugarFor(m => m.GrantAllocationAwardCalendarStartYear)
        </div>
        <div class="col-sm-9">
            @Html.EditorFor(m => m.GrantAllocationAwardCalendarStartYear, new { @class = "form-control", style = "width:auto" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">
            @Html.LabelWithSugarFor(m => m.FocusAreaID)
        </div>
        <div class="col-sm-9">
            @Html.SearchableDropDownListFor(m => m.FocusAreaID, ViewDataTyped.AvailableFocusAreas, new { @class = "form-control selectpicker", style = "width:auto" })
            @Html.ValidationMessageFor(m => m.FocusAreaID)
        </div>
    </div>
</div>

}


<script type="text/javascript">
    // <![CDATA[
    function getGrantAllocationEndDate(myField)
    {
        if (!myField.value)
        {
            return true;
        }

        jQuery.ajax({
                method: "POST",
                url: "@Html.Raw(SitkaRoute<GrantAllocationAwardController>.BuildUrlFromExpression(x => x.GetGrantAllocationDates(0)))",
                data: { grantAllocationID: myField.value }
            })
            .done(function (msg) {
                if (msg != null)
                {
                    jQuery("#@Html.IdFor(x => x.GrantAllocationAwardExpirationDate)").val(msg.endDate);
                    jQuery("#@Html.IdFor(x => x.GrantAllocationAwardCalendarStartYear)").val(msg.startYear);
                }
            });
        return false;
    }
    // ]]>
</script>



