@*-----------------------------------------------------------------------
    <copyright file="Index.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.AgGridWrappers
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Controllers
@using ProjectFirma.Web.ScheduledJobs
@inherits ProjectFirma.Web.Views.Job.JobIndex

@functions
{

    private string ClearPriorDataMartRawJsonImportsUrl()
    {
        string urlHtml = SitkaRoute<JobController>.BuildAbsoluteUrlHttpsFromExpression(c => c.ClearPriorDataMartRawJsonImports());
        return urlHtml;
    }

    private string RunVendorUrl()
    {
        string urlHtml = SitkaRoute<JobController>.BuildAbsoluteUrlHttpsFromExpression(c => c.RunVendorImportJob());
        return urlHtml;
    }

    private string RunProgramIndexUrl()
    {
        string urlHtml = SitkaRoute<JobController>.BuildAbsoluteUrlHttpsFromExpression(c => c.RunProgramIndexImportJob());
        return urlHtml;
    }

    private string RunProjectCodeUrl()
    {
        string urlHtml = SitkaRoute<JobController>.BuildAbsoluteUrlHttpsFromExpression(c => c.RunProjectCodeImportJob());
        return urlHtml;
    }

    private string RunGrantExpendituresImportUrl()
    {
        string urlHtml = SitkaRoute<JobController>.BuildAbsoluteUrlHttpsFromExpression(c => c.RunGrantExpendituresImportJob());
        return urlHtml;

    }

}

@section JavascriptAndStylesContent
{
    @{ AgGridIncludes.RenderPartialView(Html); }
}

<div>
    @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }
</div>

<div style="margin-top: 10px">
    @Html.AgGrid(ViewDataTyped.GridSpec, ViewDataTyped.GridName, ViewDataTyped.GridDataUrl, null, AgGridResizeType.VerticalFillHorizontalAutoFit)
</div>

<br />
<br />

<div>
    <div style="font-style: italic">
        Import jobs older than @ArcOnlineFinanceApiUpdateBackgroundJob.StaleEntriesDayCutoff days before the latest Finance API Last Load date will be automatically cleared when jobs are run.<br/>
        If you wish to clear all prior jobs, use the 'Clear Prior ArcOnline Import Jobs' button below.
    </div>
</div>

<br />

<form action="@Html.Raw(ClearPriorDataMartRawJsonImportsUrl())" method="post">
    <button type="submit" class="btn btn-primary job-run-btn">Clear Prior ArcOnline Import Jobs</button>
</form>

<br />
<br />

<form action="@Html.Raw(RunVendorUrl())" method="post">
    <button type="submit" class="btn btn-primary job-run-btn">Run Vendor Import Job</button>
</form>

<br />

<form action="@Html.Raw(RunProgramIndexUrl())" method="post">
    <button type="submit" class="btn btn-primary job-run-btn">Run Program Index Import Job</button>
</form>

<br />

<form action="@Html.Raw(RunProjectCodeUrl())" method="post">
    <button type="submit" class="btn btn-primary job-run-btn">Run Project Code Import Job</button>
</form>

<br />

<form action="@Html.Raw(RunGrantExpendituresImportUrl())" method="post">
    <button type="submit" class="btn btn-primary job-run-btn">Run Grant Expenditures Import Job</button>
</form>


<script type="text/javascript">
    // <![CDATA[

    jQuery(function () {
        jQuery('form').on("submit", function() {
            jQuery(".job-run-btn").attr("disabled", "disabled");
        });
    });

    // ]]>
</script>





