@*-----------------------------------------------------------------------
    <copyright file="Detail.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using System.Activities.Expressions
@using LtInfo.Common
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using MoreLinq
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.PerformanceMeasure
@inherits ProjectFirma.Web.Views.DNRUplandRegion.Detail

@section JavascriptAndStylesContent
{
    @{ AgGridIncludes.RenderPartialView(Html); }
    @{ MapJavascriptIncludes.RenderPartialView(Html); }
}

<div>
    <a class="btn backButton" href="@ViewDataTyped.IndexUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left") Back to all @FieldDefinition.DNRUplandRegion.GetFieldDefinitionLabelPluralized() </a>
</div>

@if (ViewDataTyped.UserHasRegionManagePermissions)
{
    <div class="firmaPageContent" style="position: relative; min-height: 30px;">
        <div class="hoverEditButton">
            <div style="margin-top: 10px">
                @ModalDialogFormHelper.ModalDialogFormLink("Edit", ViewDataTyped.EditPageContentUrl, string.Format("Edit Content for {0}", ViewDataTyped.DNRUplandRegion.DisplayName), 900, "Save", "Cancel", new List<string> { "btn-firma btn-xs" }, null, null)                
            </div>
        </div>
        @if (!string.IsNullOrEmpty(ViewDataTyped.DNRUplandRegion.RegionContent))
        {
            @Html.Raw(ViewDataTyped.DNRUplandRegion.RegionContentHtmlString)
        }
        else
        {
            <div class="hoverEmptySpace"></div>
        }        
    </div>
}
else
{
    <div>
        @Html.Raw(ViewDataTyped.DNRUplandRegion.RegionContentHtmlString)
    </div>
}

<div class="row">
    <div class="col-md-6">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>Map</h2>
            </div>
            <div class="panel-body">
                <p>
                    This map displays the location of any @FieldDefinition.Project.GetFieldDefinitionLabelPluralized() and @FieldDefinition.Application.GetFieldDefinitionLabelPluralized() associated with this @FieldDefinition.DNRUplandRegion.GetFieldDefinitionLabel()
                </p>
                <div id="@ViewDataTyped.MapInitJson.MapDivID" style="height: 450px; margin: 5px 0 5px 0">
                </div>
                <p style="font-size: 10px">To zoom, hold down Shift and drag a rectangle.</p>

                <p>@FieldDefinition.Project.GetFieldDefinitionLabelPluralized() can be associated with multiple @FieldDefinition.DNRUplandRegion.GetFieldDefinitionLabelPluralized(), but are mapped in a single location. Therefore some @FieldDefinition.Project.GetFieldDefinitionLabelPluralized() may appear outside of the @FieldDefinition.DNRUplandRegion.GetFieldDefinitionLabel() boundary.</p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>
                    @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditContactUrl, "Edit Contact", ViewDataTyped.UserHasRegionManagePermissions)
                    @FieldDefinition.Contact.GetFieldDefinitionLabel()
                </h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3 fieldLabel text-right">
                        Address
                    </div>
                    <div class="col-sm-9">
                        @ViewDataTyped.DNRUplandRegion.RegionAddress
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 fieldLabel text-right">
                        City
                    </div>
                    <div class="col-sm-9">
                        @ViewDataTyped.DNRUplandRegion.RegionCity
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 fieldLabel text-right">
                        State
                    </div>
                    <div class="col-sm-9">
                        @ViewDataTyped.DNRUplandRegion.RegionState
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 fieldLabel text-right">
                        Zip
                    </div>
                    <div class="col-sm-9">
                        @ViewDataTyped.DNRUplandRegion.RegionZip
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 fieldLabel text-right">
                        Phone
                    </div>
                    <div class="col-sm-9">
                        @ViewDataTyped.DNRUplandRegion.RegionPhone
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 fieldLabel text-right">
                        Email
                    </div>
                    <div class="col-sm-9">
                        @ViewDataTyped.DNRUplandRegion.RegionEmail
                    </div>
                </div>

                @if (ViewDataTyped.UserHasRegionManagePermissions)
                {
                    <hr />
                    <div class="row">
                        <div class="col-sm-12 fieldLabel">
                            @FieldDefinition.ServiceForestryRegionalCoordinator.GetFieldDefinitionLabel()
                        </div>
                        <div class="col-sm-12">
                            @if (ViewDataTyped.DNRUplandRegion.DNRUplandRegionCoordinator != null)
                            {
                                @ViewDataTyped.DNRUplandRegion.DNRUplandRegionCoordinator.GetFullNameFirstLastAndOrgShortNameAsUrl();
                            }
                            else
                            {
                                @Html.Raw("Not Assigned");
                            }
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>


</div>
<div class="row">
    
    <div class="col-md-12">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>@FieldDefinition.GrantAllocation.GetFieldDefinitionLabel() Expenditures by @FieldDefinition.CostType.GetFieldDefinitionLabel()</h2>
            </div>
            <div class="panel-body">
                @if (ViewDataTyped.ViewGoogleChartViewData.HasData)
                {
                    <div style="border-radius: 8px; background-color: white; margin-right: auto; margin-left: auto;">
                        @{ ViewGoogleChart.RenderPartialView(Html, ViewDataTyped.ViewGoogleChartViewData); }
                    </div>

                }
                else
                {
                    <p class="systemText">No @FieldDefinition.GrantAllocation.GetFieldDefinitionLabel() Expenditure data yet provided for this @FieldDefinition.DNRUplandRegion.GetFieldDefinitionLabel().</p>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>@FieldDefinition.Project.GetFieldDefinitionLabelPluralized()</h2>
            </div>
            <div class="panel-body">
                @Html.DhtmlxGrid(ViewDataTyped.BasicProjectInfoGridSpec, ViewDataTyped.BasicProjectInfoGridName, ViewDataTyped.BasicProjectInfoGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>@FieldDefinition.GrantAllocation.GetFieldDefinitionLabelPluralized()</h2>
            </div>
            <div class="panel-body">
                @Html.DhtmlxGrid(ViewDataTyped.AssociatedGrantAllocationsGridSpec, ViewDataTyped.AssociatedGrantAllocationsGridName, ViewDataTyped.AssociatedGrantAllocationsGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
            </div>
        </div>
    </div>
</div>
@*TODO Neutered Per WA DNR #1446. May decide to bring it back later
        <div role="tabpanel" class="tab-pane" id="performanceMeasures">

            @if (ViewDataTyped.PerformanceMeasureChartViewDatas.Any())
            {
                <p>
                    The reported @FieldDefinition.PerformanceMeasure.GetFieldDefinitionLabel() results within this @ViewDataTyped.RegionTypeName are charted here. Results are included for every @FieldDefinition.Project.GetFieldDefinitionLabel() that is assigned to this @ViewDataTyped.RegionTypeName. To see the full results for a @FieldDefinition.PerformanceMeasure.GetFieldDefinitionLabel(), click the @FieldDefinition.PerformanceMeasure.GetFieldDefinitionLabel() name in the chart title.
                </p>
                foreach (var batch in ViewDataTyped.PerformanceMeasureChartViewDatas.Batch(2))
                {
                    <div class="row">
                        @foreach (var performanceMeasureChartViewData in batch)
                        {
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="panel panelFirma">
                                    <div class="panel-body">
                                        <div style="width: 500px; margin: auto;">
                                            @{ PerformanceMeasureChart.RenderPartialView(Html, performanceMeasureChartViewData); }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            }
            else
            {
                <div class="row">
                    <div class="col-xs-12">
                        <p class="text-center">
                            There are no @FieldDefinition.PerformanceMeasure.GetFieldDefinitionLabelPluralized() to report for this @ViewDataTyped.RegionTypeName.
                        </p>
                    </div>
                </div>
            }

    </div>*@

<script type="text/javascript">
    jQuery(function()
    {
        var mapInitJson = @Html.Raw(JObject.FromObject(ViewDataTyped.MapInitJson).ToString(Formatting.None));
        var map = new ProjectFirmaMaps.Map(mapInitJson);

    });
</script>
