@*-----------------------------------------------------------------------
    <copyright file="GrantDetail.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.AgGridWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Models
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Security
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using ProjectFirma.Web.Views.Shared.FileResourceControls
@using ProjectFirma.Web.Views.Shared.TextControls
@inherits ProjectFirma.Web.Views.Program.Detail

@section JavascriptAndStylesContent
{
    <script type="text/javascript" src="/Content/Bootstrap-select/bootstrap-select.min.js"></script>
    <link href="~/Content/bootstrap-tags/bootstrap-tags.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Content/Bootstrap-select/bootstrap-select.min.css" type="text/css" />
    <script src="@Url.Content("~/Content/bootstrap-toc/bootstrap-toc.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Views/Program/EditProgramPeopleController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Views/Program/EditCrosswalkValuesController.js")" type="text/javascript"></script>
    @{ AgGridIncludes.RenderPartialView(Html); }
}

<style type="text/css">

    .basicsLayout .row {
        margin-left: 0;
        margin-right: 0;
    }

        .basicsLayout .row div {
            padding-left: 0;
            padding-right: 5px;
        }

    .basicsLayout hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>

<div>
    <a class="btn backButton" style="padding-left: 0;" href="@ViewDataTyped.ProgramsListUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left") @ViewDataTyped.BackToProgramsText</a>
</div>


<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditProgramUrl, string.Format("Edit {0}", ViewDataTyped.Program.ProgramName), 950, ViewDataTyped.UserHasProgramManagePermissions)
                        Basics
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="basicsLayout">
                        <div class="row">
                            <div class="col-xs-6 fieldLabel text-right">
                                Program Name
                            </div>
                            <div class="col-xs-6">
                                <span id="Name">@ViewDataTyped.Program.ProgramNameDisplay</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 fieldLabel text-right">
                                Program Short Name
                            </div>
                            <div class="col-xs-6">
                                <span id="ShortName">@ViewDataTyped.Program.ProgramShortName</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 fieldLabel text-right">
                                Parent Organization
                            </div>
                            <div class="col-xs-6">
                                <span id="Organization">@ViewDataTyped.Program.Organization.GetDisplayNameAsUrl()</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 fieldLabel text-right">Primary Contact</div>
                            <div class="col-xs-6">
                                @(new UserViewFeature().HasPermission(ViewDataTyped.CurrentPerson, ViewDataTyped.Program.ProgramPrimaryContactPerson).HasPermission ? ViewDataTyped.Program.PrimaryContactPersonWithOrgAsUrl : ViewDataTyped.Program.PrimaryContactPersonAsStringAndOrgAsUrl)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 fieldLabel text-right">
                                Is Active
                            </div>
                            <div class="col-xs-6">
                                <span>@ViewDataTyped.Program.ProgramIsActive.ToYesNo()</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 fieldLabel text-right">
                                Is Default for Bulk Import Only
                            </div>
                            <div class="col-xs-6">
                                <span>@ViewDataTyped.Program.IsDefaultProgramForImportOnly.ToYesNo()</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 fieldLabel text-right">
                                Program Notes
                            </div>
                            <div class="col-xs-6">
                                <span>@ViewDataTyped.Program.ProgramNotes</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 fieldLabel text-right">
                                Program File
                            </div>
                            <div class="col-xs-6">
                                <span>
                                    @if (ViewDataTyped.ShowDownload)
                                    {
                                        @ModalDialogFormHelper.MakeDeleteIconLink(ViewDataTyped.DeleteDocumentUrl, ViewDataTyped.UserHasProgramManagePermissions)

                                        <a href="@ViewDataTyped.Program.ProgramFileResource.FileResourceUrl" target="_blank">
                                            @ViewDataTyped.Program.ProgramFileResource.OriginalCompleteFileName
                                        </a>
                                    }
                                    else
                                    {
                                        <span>No documents uploaded yet.</span>
                                    }
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 fieldLabel text-right">
                                Program Example Geospatial Data File
                            </div>
                            <div class="col-xs-6">
                                <span>
                                    @if (ViewDataTyped.ShowExampleGdbDownload)
                                    {
                                        @ModalDialogFormHelper.MakeDeleteIconLink(ViewDataTyped.DeleteExampleGdbDocumentUrl, ViewDataTyped.UserHasProgramManagePermissions)

                                        <a href="@ViewDataTyped.Program.ProgramExampleGeospatialUploadFileResource.FileResourceUrl" target="_blank">
                                            @ViewDataTyped.Program.ProgramExampleGeospatialUploadFileResource.OriginalCompleteFileName
                                        </a>
                                    }
                                    else
                                    {
                                        <span>No example geospatial documents uploaded yet.</span>
                                    }
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditProgramPeopleUrl, string.Format("Edit Program Editors for the {0} program", ViewDataTyped.Program.ProgramName), 950, ViewDataTyped.UserHasProgramManagePermissions)
                        Program Editors
                    </h3>
                </div>
                <div class="panel-body">
                    <div>
                        <ul>
                            @foreach (var person in ViewDataTyped.Program.ProgramPeople.Select(x => x.Person))
                            {
                                <li>@person.GetFullNameFirstLastAndOrgAsUrl()</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        Notifications Configured for this Program
                    </h3>
                </div>
                <div class="panel-body">
                    <div>

                        @Html.AgGrid(ViewDataTyped.NotificationsGridSpec, ViewDataTyped.NotificationsGridName, ViewDataTyped.NotificationsGridDataUrl, null, AgGridResizeType.VerticalFillHorizontalAutoFit)

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        Projects Associated with this Program
                    </h3>
                </div>
                <div class="panel-body">
                    
                    @if (ViewDataTyped.UserHasProgramManagePermissions)
                    {
                        <div class="text-right" style="margin-bottom:10px;">
                            <a href="@ViewDataTyped.DownloadProjectsAsGdbUrl">Download GDB of projects</a>
                        </div>
                    }
                    
                    <div>
                        @Html.AgGrid(ViewDataTyped.ProjectsGridSpec, ViewDataTyped.ProjectsGridName, ViewDataTyped.ProjectsGridDataUrl, null, AgGridResizeType.VerticalFillHorizontalAutoFit)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        Project Import Block List
                    </h3>
                </div>
                <div class="panel-body">
                    <div>
                        @Html.AgGrid(ViewDataTyped.ProjectsBlockedGridSpec, ViewDataTyped.ProjectsBlockedGridName, ViewDataTyped.ProjectsBlockedGridDataUrl, null, AgGridResizeType.VerticalFillHorizontalAutoFit)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditImportBasicsUrl, string.Format("Edit {0} Import Basics", ViewDataTyped.Program.ProgramName), 950, ViewDataTyped.UserHasProgramEditMappingsPermissions)
                        GDB Import Basics
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="basicsLayout">
                        <div class="row">
                            <div class="col-xs-4 fieldLabel text-right">
                                Project Type Default Name
                            </div>
                            <div class="col-xs-8">
                                <span id="ProjectTypeDefaultName">@ViewDataTyped.ProjectTypeDefaultName()</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 fieldLabel text-right">
                                Treatment Type Default Name
                            </div>
                            <div class="col-xs-8">
                                <span id="TreatmentTypeDefaultName">@ViewDataTyped.TreatmentTypeDefaultName()</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 fieldLabel text-right">
                                Import Is Flattened
                            </div>
                            <div class="col-xs-8">
                                <span id="ImportIsFlattened">@ViewDataTyped.ImportIsFlattenedString()</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4 fieldLabel text-right">
                                Adjust Project Type Based On Treatment Types
                            </div>
                            <div class="col-xs-8">
                                <span id="AdjustProjectTypeBasedOnTreatmentTypes">@ViewDataTyped.AdjustProjectTypeBasedOnTreatmentTypes()</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4 fieldLabel text-right">
                                Project Stage Default
                            </div>
                            <div class="col-xs-8">
                                <span id="ProjectStageDefault">@ViewDataTyped.ProjectStageDefault()</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4 fieldLabel text-right">
                                Data Derive Project Stage
                            </div>
                            <div class="col-xs-8">
                                <span id="DataDeriveProjectStage">@ViewDataTyped.DataDeriveProjectStage()</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4 fieldLabel text-right">
                                Default Lead Implementer Organization
                            </div>
                            <div class="col-xs-8">
                                <span id="DefaultLeadImplementerOrganization">@ViewDataTyped.DefaultLeadImplementerOrganization()</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4 fieldLabel text-right">
                                Relationship Type For Default Organization
                            </div>
                            <div class="col-xs-8">
                                <span id="RelationshipTypeForDefaultOrganization">@ViewDataTyped.RelationshipTypeForDefaultOrganization()</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4 fieldLabel text-right">
                                Import As Detailed Location Instead Of Treatments
                            </div>
                            <div class="col-xs-8">
                                <span id="ImportAsDetailedLocationInsteadOfTreatments">@ViewDataTyped.ImportAsDetailedLocationInsteadOfTreatments()</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4 fieldLabel text-right">
                                Import As Detailed Location In Addition To Treatments
                            </div>
                            <div class="col-xs-8">
                                <span id="ImportAsDetailedLocationInAdditionToTreatments">@ViewDataTyped.ImportAsDetailedLocationInAdditionToTreatments()</span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-4 fieldLabel text-right">
                                Project Description Default Text
                            </div>
                            <div class="col-xs-8">
                                <span id="ProjectDescriptionDefaultText">@ViewDataTyped.ProjectDescriptionDefaultText()</span>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-xs-4 fieldLabel text-right">
                                Apply Start Date To Project
                            </div>
                            <div class="col-xs-8">
                                <span id="ApplyStartDateToProject">@ViewDataTyped.ApplyStartDateToProject()</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 fieldLabel text-right">
                                Apply Completed Date To Project
                            </div>
                            <div class="col-xs-8">
                                <span id="ApplyCompletedDateToProject">@ViewDataTyped.ApplyCompletedDateToProject()</span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-4 fieldLabel text-right">
                                Apply Start Date To Treatments
                            </div>
                            <div class="col-xs-8">
                                <span id="ApplyStartDateToTreatments">@ViewDataTyped.ApplyStartDateToTreatments()</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 fieldLabel text-right">
                                Apply End Date To Treatments
                            </div>
                            <div class="col-xs-8">
                                <span id="ApplyEndDateToTreatments">@ViewDataTyped.ApplyEndDateToTreatments()</span>
                            </div>
                        </div>






                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditDefaultMappingsUrl, string.Format("Edit {0} Default Mappings", ViewDataTyped.Program.ProgramName), 950, ViewDataTyped.UserHasProgramEditMappingsPermissions)
                        GDB Import Default Mappings
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="basicsLayout">
                        <div class="row">
                            <div class="col-xs-4 fieldLabel text-right">
                                Project Identifier Column
                            </div>
                            <div class="col-xs-8">
                                <span id="ProjectIdentifierColumnMapping">@ViewDataTyped.ProjectIdentifierColumnMapping()</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 fieldLabel text-right">
                                Project Name Column
                            </div>
                            <div class="col-xs-8">
                                <span id="ProjectNameColumnMapping">@ViewDataTyped.ProjectNameColumnMapping()</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4 fieldLabel text-right">
                                Completion Date Column
                            </div>
                            <div class="col-xs-8">
                                <span id="CompletionDateColumnMapping">@ViewDataTyped.CompletionDateColumnMapping()</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 fieldLabel text-right">
                                Project Initiation Date Column
                            </div>
                            <div class="col-xs-8">
                                <span id="StartDateColumnMapping">@ViewDataTyped.StartDateColumnMapping()</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 fieldLabel text-right">
                                Project Stage Column
                            </div>
                            <div class="col-xs-8">
                                <span id="ProjectStageColumnMapping">@ViewDataTyped.ProjectStageColumnMapping()</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 fieldLabel text-right">
                                Footprint Acres Column
                            </div>
                            <div class="col-xs-8">
                                <span id="FootprintAcresColumnMapping">@ViewDataTyped.FootprintAcresColumnMapping()</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 fieldLabel text-right">
                                Private Landowner Column
                            </div>
                            <div class="col-xs-8">
                                <span id="PrivateLandownerColumnMapping">@ViewDataTyped.PrivateLandownerColumnMapping()</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 fieldLabel text-right">
                                Lead Implementer Column
                            </div>
                            <div class="col-xs-8">
                                <span id="LeadImplementerColumnMapping">@ViewDataTyped.LeadImplementerColumnMapping()</span>
                            </div>
                        </div>
                    

                    @if (!ViewDataTyped.ImportIsFlattened())
                        {
                            <hr />
                            <div class="row">
                                <div class="col-xs-4 text-right" style="text-decoration: underline;">
                                    Import is NOT Flattened fields
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-xs-4 fieldLabel text-right">
                                    Treatment Type Column
                                </div>
                                <div class="col-xs-8">
                                    <span id="TreatmentTypeColumnMapping">@ViewDataTyped.TreatmentTypeColumnMapping()</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 fieldLabel text-right">
                                    Treatment Detailed Activity Type Column
                                </div>
                                <div class="col-xs-8">
                                    <span id="TreatmentDetailedActivityTypeColumnMapping">@ViewDataTyped.TreatmentDetailedActivityTypeColumnMapping()</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 fieldLabel text-right">
                                    Treated Acres Column
                                </div>
                                <div class="col-xs-8">
                                    <span id="TreatedAcresColumnMapping">@ViewDataTyped.TreatedAcresColumnMapping()</span>
                                </div>
                            </div>
                        }



                        @if (ViewDataTyped.ImportIsFlattened())
                        {
                            <hr />
                            <div class="row">
                                <div class="col-xs-4 text-right" style="text-decoration: underline;">
                                    Import is Flattened fields
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 fieldLabel text-right">
                                    Pruning Acres Column
                                </div>
                                <div class="col-xs-8">
                                    <span id="PruningAcresColumnMapping">@ViewDataTyped.PruningAcresColumnMapping()</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 fieldLabel text-right">
                                    Thinning Acres Column
                                </div>
                                <div class="col-xs-8">
                                    <span id="ThinningAcresColumnMapping">@ViewDataTyped.ThinningAcresColumnMapping()</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 fieldLabel text-right">
                                    Chipping Acres Column
                                </div>
                                <div class="col-xs-8">
                                    <span id="ChippingAcresColumnMapping">@ViewDataTyped.ChippingAcresColumnMapping()</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 fieldLabel text-right">
                                    Mastication Acres Column
                                </div>
                                <div class="col-xs-8">
                                    <span id="MasticationAcresColumnMapping">@ViewDataTyped.MasticationAcresColumnMapping()</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 fieldLabel text-right">
                                    Grazing Acres Column
                                </div>
                                <div class="col-xs-8">
                                    <span id="GrazingAcresColumnMapping">@ViewDataTyped.GrazingAcresColumnMapping()</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 fieldLabel text-right">
                                    Lop and Scatter Acres Column
                                </div>
                                <div class="col-xs-8">
                                    <span id="LopAndScatterAcresColumnMapping">@ViewDataTyped.LopAndScatterAcresColumnMapping()</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 fieldLabel text-right">
                                    Biomass Removal Acres Column
                                </div>
                                <div class="col-xs-8">
                                    <span id="BiomassRemovalAcresColumnMapping">@ViewDataTyped.BiomassRemovalAcresColumnMapping()</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 fieldLabel text-right">
                                    Hand Pile Acres Column
                                </div>
                                <div class="col-xs-8">
                                    <span id="HandPileAcresColumnMapping">@ViewDataTyped.HandPileAcresColumnMapping()</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 fieldLabel text-right">
                                    Hand Burn Pile Acres Column
                                </div>
                                <div class="col-xs-8">
                                    <span id="HandPileBurnAcresColumnMapping">@ViewDataTyped.HandPileBurnAcresColumnMapping()</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 fieldLabel text-right">
                                    Machine Burn Pile Acres Column
                                </div>
                                <div class="col-xs-8">
                                    <span id="MachinePileBurnAcresColumnMapping">@ViewDataTyped.MachinePileBurnAcresColumnMapping()</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 fieldLabel text-right">
                                    Broadcast Burn Acres Column
                                </div>
                                <div class="col-xs-8">
                                    <span id="BroadcastBurnAcresColumnMapping">@ViewDataTyped.BroadcastBurnAcresColumnMapping()</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 fieldLabel text-right">
                                    Other Acres Column
                                </div>
                                <div class="col-xs-8">
                                    <span id="OtherAcresColumnMapping">@ViewDataTyped.OtherAcresColumnMapping()</span>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditCrosswalkValuesUrl, string.Format("Edit {0} Crosswalk Values", ViewDataTyped.Program.ProgramName), 950, ViewDataTyped.UserHasProgramEditMappingsPermissions)
                        GDB Import Crosswalk Values
                    </h3>
                </div>
            
                <div class="panel-body">
                    <div class="basicsLayout">
                        <div class="row">
                            <div class="col-xs-3 fieldLabel text-right">
                                Forest Health Tracker Field
                            </div>
                            <div class="col-xs-9">
                                <div class="col-xs-3 col-xs-offset-2">
                                    <label>Source Value</label>
                                </div>
                                <div class="col-xs-1">=></div>
                                <div class="col-xs-6">
                                    <label>Forest Health Tracker Value</label>
                                </div>
                            </div>
                        </div>
                        <hr />


                        <div class="row">
                            <div class="col-xs-3 fieldLabel text-right">
                                Project Stage:
                            </div>
                            <div class="col-xs-9">
                                @foreach (var crosswalk in ViewDataTyped.ProjectStageCrosswalks())
                                {
                                    <div class="col-xs-3 col-xs-offset-2">
                                        @crosswalk.GisCrossWalkSourceValue
                                    </div>
                                    <div class="col-xs-1">=></div>
                                    <div class="col-xs-6">
                                        @crosswalk.GisCrossWalkMappedValue
                                    </div>
                                }
                            </div>
                        </div>
                        
                        <hr/>

                        <div class="row">
                            <div class="col-xs-3 fieldLabel text-right">
                                Lead Implementer:
                            </div>
                            <div class="col-xs-9">
                                @foreach (var crosswalk in ViewDataTyped.LeadImplementerCrosswalks())
                                {
                                    <div class="col-xs-3 col-xs-offset-2">
                                        @crosswalk.GisCrossWalkSourceValue
                                    </div>
                                    <div class="col-xs-1">=></div>
                                    <div class="col-xs-6">
                                        @crosswalk.GisCrossWalkMappedValue
                                    </div>
                                }
                            </div>
                        </div>

                        @if (!ViewDataTyped.ImportIsFlattened())
                        {
                            <hr />
                            <div class="row">
                                <div class="col-xs-3 text-right" style="text-decoration: underline;">
                                    Import is NOT Flattened fields
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 fieldLabel text-right">
                                    Treatment Type:
                                </div>
                                <div class="col-xs-9">

                                    @foreach (var crosswalk in ViewDataTyped.TreatmentTypeCrosswalks())
                                    {
                                        <div class="row">
                                            <div class="col-xs-3 col-xs-offset-2">
                                                @crosswalk.GisCrossWalkSourceValue
                                            </div>
                                            <div class="col-xs-1">=></div>
                                            <div class="col-xs-6">
                                                @crosswalk.GisCrossWalkMappedValue
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <br />
                            <hr />
                            <div class="row">
                                <div class="col-xs-3 fieldLabel text-right">
                                    Treatment Detailed Activity Type:
                                </div>
                                <div class="col-xs-9">
                                    @foreach (var crosswalk in ViewDataTyped.TreatmentDetailedActivityTypeCrosswalks())
                                    {
                                        <div class="row">
                                            <div class="col-xs-3 col-xs-offset-2">
                                                @crosswalk.GisCrossWalkSourceValue
                                            </div>
                                            <div class="col-xs-1">=></div>
                                            <div class="col-xs-6">
                                                @crosswalk.GisCrossWalkMappedValue
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                        }



                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>

