@*-----------------------------------------------------------------------
    <copyright file="EditCrosswalkValues.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using LtInfo.Common.Mvc
@using Newtonsoft.Json.Linq
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.Vendor
@inherits ProjectFirma.Web.Views.Program.EditCrosswalkValues

<script type="text/javascript">
    // <![CDATA[
    angular.module("ProjectFirmaApp").factory("angularModelAndViewData", function ()
    {
        return {
            AngularModel: @Html.Raw(JObject.FromObject(Model)),
            AngularViewData: @Html.Raw(JObject.FromObject(ViewDataTyped))
        };
    });
    jQuery(document).ready(function ()
    {
        angular.bootstrap(jQuery("#EditCrosswalkValuesAngularApp"), ["ProjectFirmaApp"]);

        jQuery(".selectpicker").selectpicker("refresh");
        jQuery(".modal").on("hidden.bs.modal",
            function() {
                jQuery(".bootstrap-select.open").removeClass("open");
            });
    });
    // ]]>
</script>
<script type="text/javascript" src="/Content/Bootstrap-select/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="/Content/Bootstrap-select/bootstrap-select.min.css" type="text/css" />








<div class="form-horizontal" id="EditCrosswalkValuesAngularApp" ng-controller="EditCrosswalkValuesController">

    <div class="row">
        <div class="col-md-12">
            <p><strong>@FieldDefinition.ProjectType.FieldDefinitionDisplayName</strong></p>
            <div class="input-group" style="width: 100%;">
                <label>Source Value:&nbsp;</label><input type="text" id="projectTypeSourceValueText" ng-model="projectTypeSourceValue" />
                <label>Mapped Value: </label>
                <select id="projectTypeSelectList" ng-model="selectedProjectTypeText" data-width="100%">
                    <option value="" selected>Select one</option>
                    <option ng-repeat="projectType in AngularViewData.ProjectTypeSelectListItems"
                            ng-bind="projectType.Text"
                            ng-value="projectType.Text"></option>
                </select>

                <button type="button" class="btn btn-sm btn-firma" ng-click="addProjectType(selectedProjectTypeText, projectTypeSourceValue)"
                        ng-disabled="!selectedProjectTypeText && !projectTypeSourceValue">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add
                </button>
            </div>
        </div>
    </div>

    <div class="row" ng-repeat="projectTypeSimple in AngularModel.ProjectTypeSimples" style="margin-top: 5px;">
        @*Selections*@
        <div class="col-md-12">
            <span>
                <a href="#" ng-click="removeProjectTypeSimple(projectTypeSimple); $event.preventDefault();">
                    <i class="glyphicon glyphicon-trash" title="Remove @FieldDefinition.ProjectType.GetFieldDefinitionLabel() mapping" alt="Remove @FieldDefinition.ProjectType.GetFieldDefinitionLabel() mapping"></i>
                </a>
            </span>
            <span ng-bind="projectTypeSimple.GisCrosswalkSourceValue"></span> =>
            <span ng-bind="projectTypeSimple.GisCrosswalkMappedValue"></span>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <p><strong>@FieldDefinition.ProjectStage.FieldDefinitionDisplayName</strong></p>
            <div class="input-group" style="width: 100%;">
                <label>Source Value:&nbsp;</label><input type="text" id="projectStageSourceValueText" ng-model="projectStageSourceValue" />
                <label>Mapped Value: </label>
                <select id="projectStageSelectList" ng-model="selectedProjectStageText" data-width="100%">
                    <option value="" selected>Select one</option>
                    <option ng-repeat="projectStage in AngularViewData.ProjectStageSelectListItems"
                            ng-bind="projectStage.Text"
                            ng-value="projectStage.Text"></option>
                </select>

                <button type="button" class="btn btn-sm btn-firma" ng-click="addProjectStage(selectedProjectStageText, projectStageSourceValue)"
                        ng-disabled="!selectedProjectStageText && !projectStageSourceValue">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add
                </button>
            </div>
        </div>
    </div>

    <div class="row" ng-repeat="projectStageSimple in AngularModel.ProjectStageSimples" style="margin-top: 5px;">
        @*Selections*@
        <div class="col-md-12">
            <span>
                <a href="#" ng-click="removeProjectStageSimple(projectStageSimple); $event.preventDefault();">
                    <i class="glyphicon glyphicon-trash" title="Remove @FieldDefinition.ProjectStage.GetFieldDefinitionLabel() mapping" alt="Remove @FieldDefinition.ProjectStage.GetFieldDefinitionLabel() mapping"></i>
                </a>
            </span>
            <span ng-bind="projectStageSimple.GisCrosswalkSourceValue"></span> =>
            <span ng-bind="projectStageSimple.GisCrosswalkMappedValue"></span>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <p><strong>@FieldDefinition.TreatmentType.FieldDefinitionDisplayName</strong></p>
            <div class="input-group" style="width: 100%;">
                <label>Source Value:&nbsp;</label><input type="text" id="treatmentTypeSourceValueText" ng-model="treatmentTypeSourceValue" />
                <label>Mapped Value: </label>
                <select id="treatmentTypeSelectList" ng-model="selectedTreatmentTypeText" data-width="100%">
                    <option value="" selected>Select one</option>
                    <option ng-repeat="treatmentType in AngularViewData.TreatmentTypeSelectListItems"
                            ng-bind="treatmentType.Text"
                            ng-value="treatmentType.Text"></option>
                </select>

                <button type="button" class="btn btn-sm btn-firma" ng-click="addTreatmentType(selectedTreatmentTypeText, treatmentTypeSourceValue)"
                        ng-disabled="!selectedTreatmentTypeText && !treatmentTypeSourceValue">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add
                </button>
            </div>
        </div>
    </div>

    <div class="row" ng-repeat="treatmentTypeSimple in AngularModel.TreatmentTypeSimples" style="margin-top: 5px;">
        @*Selections*@
        <div class="col-md-12">
            <span>
                <a href="#" ng-click="removeTreatmentTypeSimple(treatmentTypeSimple); $event.preventDefault();">
                    <i class="glyphicon glyphicon-trash" title="Remove @FieldDefinition.TreatmentType.GetFieldDefinitionLabel() mapping" alt="Remove @FieldDefinition.TreatmentType.GetFieldDefinitionLabel() mapping"></i>
                </a>
            </span>
            <span ng-bind="treatmentTypeSimple.GisCrosswalkSourceValue"></span> =>
            <span ng-bind="treatmentTypeSimple.GisCrosswalkMappedValue"></span>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <p><strong>@FieldDefinition.TreatmentDetailedActivityType.FieldDefinitionDisplayName</strong></p>
            <div class="input-group" style="width: 100%;">
                <label>Source Value:&nbsp;</label><input type="text" id="treatmentDetailedActivityTypeSourceValueText" ng-model="treatmentDetailedActivityTypeSourceValue" />
                <label>Mapped to FHT Value: </label>
                <select id="treatmentDetailedActivityTypeSelectList" ng-model="selectedTreatmentDetailedActivityTypeText" data-width="100%">
                    <option value="" selected>Select one</option>
                    <option ng-repeat="treatmentDetailedActivityType in AngularViewData.TreatmentDetailedActivityTypeSelectListItems"
                            ng-bind="treatmentDetailedActivityType.Text"
                            ng-value="treatmentDetailedActivityType.Text"></option>
                </select>

                <button type="button" class="btn btn-sm btn-firma" ng-click="addTreatmentDetailedActivityType(selectedTreatmentDetailedActivityTypeText, treatmentDetailedActivityTypeSourceValue)"
                        ng-disabled="!selectedTreatmentDetailedActivityTypeText && !treatmentDetailedActivityTypeSourceValue">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add
                </button>
            </div>
        </div>
    </div>

    <div class="row" ng-repeat="treatmentDetailedActivityTypeSimple in AngularModel.TreatmentDetailedActivityTypeSimples" style="margin-top: 5px;">
        @*Selections*@
        <div class="col-md-12">
            <span>
                <a href="#" ng-click="removeTreatmentDetailedActivityTypeSimple(treatmentDetailedActivityTypeSimple); $event.preventDefault();">
                    <i class="glyphicon glyphicon-trash" title="Remove @FieldDefinition.TreatmentDetailedActivityType.GetFieldDefinitionLabel() mapping" alt="Remove @FieldDefinition.TreatmentDetailedActivityType.GetFieldDefinitionLabel() mapping"></i>
                </a>
            </span>
            <span ng-bind="treatmentDetailedActivityTypeSimple.GisCrosswalkSourceValue"></span> =>
            <span ng-bind="treatmentDetailedActivityTypeSimple.GisCrosswalkMappedValue"></span>
        </div>
    </div>


    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.GisUploadSourceOrganizationID)

        <div ng-repeat="projectTypeSimple in AngularModel.ProjectTypeSimples">
            <input type="hidden" name="@Html.NameFor(x => x.ProjectTypeSimples[0].GisCrosswalkDefaultID).ToString().Replace("0", "{{$index}}")" value="{{projectTypeSimple.GisCrosswalkDefaultID}}" />
            <input type="hidden" name="@Html.NameFor(x => x.ProjectTypeSimples[0].FieldDefinitionID).ToString().Replace("0", "{{$index}}")" value="{{projectTypeSimple.FieldDefinitionID}}" />
            <input type="hidden" name="@Html.NameFor(x => x.ProjectTypeSimples[0].GisCrosswalkMappedValue).ToString().Replace("0", "{{$index}}")" value="{{projectTypeSimple.GisCrosswalkMappedValue}}" />
            <input type="hidden" name="@Html.NameFor(x => x.ProjectTypeSimples[0].GisCrosswalkSourceValue).ToString().Replace("0", "{{$index}}")" value="{{projectTypeSimple.GisCrosswalkSourceValue}}" />
        </div>

        <div ng-repeat="projectStageSimple in AngularModel.ProjectStageSimples">
            <input type="hidden" name="@Html.NameFor(x => x.ProjectStageSimples[0].GisCrosswalkDefaultID).ToString().Replace("0", "{{$index}}")" value="{{projectStageSimple.GisCrosswalkDefaultID}}" />
            <input type="hidden" name="@Html.NameFor(x => x.ProjectStageSimples[0].FieldDefinitionID).ToString().Replace("0", "{{$index}}")" value="{{projectStageSimple.FieldDefinitionID}}" />
            <input type="hidden" name="@Html.NameFor(x => x.ProjectStageSimples[0].GisCrosswalkMappedValue).ToString().Replace("0", "{{$index}}")" value="{{projectStageSimple.GisCrosswalkMappedValue}}" />
            <input type="hidden" name="@Html.NameFor(x => x.ProjectStageSimples[0].GisCrosswalkSourceValue).ToString().Replace("0", "{{$index}}")" value="{{projectStageSimple.GisCrosswalkSourceValue}}" />
        </div>

    }


</div>




@*<script type="text/javascript">
        jQuery(document).ready(function ()
        {
            HookupCheckIfFormIsDirty(undefined, ".submitProject");


        });
    </script>*@
