@*-----------------------------------------------------------------------
<copyright file="EditDefaultMappings.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
<author>Environmental Science Associates</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using LtInfo.Common.Mvc
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.Vendor
@inherits ProjectFirma.Web.Views.Program.EditDefaultMappings


@using (Html.BeginForm())
{


    <p>Please enter the column name identical to the source column of the data to be imported. If it does not match perfectly, data for that column will not be imported.</p>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-3 control-label">
            @Html.LabelWithSugarFor(m => m.ProjectIdentifierColumn)
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.ProjectIdentifierColumn, new { @class = "form-control", style = "width:100%" })
            @Html.ValidationMessageFor(m => m.ProjectIdentifierColumn)

        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">
            @Html.LabelWithSugarFor(m => m.ProjectNameColumn)
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.ProjectNameColumn, new { @class = "form-control", style = "width:100%" })
            @Html.ValidationMessageFor(m => m.ProjectNameColumn)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">
            @Html.LabelWithSugarFor(m => m.CompletionDateColumn)
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.CompletionDateColumn, new { @class = "form-control", style = "width:100%" })
            @Html.ValidationMessageFor(m => m.CompletionDateColumn)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-3 control-label">
            @Html.LabelWithSugarFor(m => m.StartDateColumn)
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.StartDateColumn, new { @class = "form-control", style = "width:100%" })
            @Html.ValidationMessageFor(m => m.StartDateColumn)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">
            @Html.LabelWithSugarFor(m => m.ProjectStageColumn)
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.ProjectStageColumn, new { @class = "form-control", style = "width:100%" })
            @Html.ValidationMessageFor(m => m.ProjectStageColumn)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">
            @Html.LabelWithSugarFor(m => m.FootprintAcresColumn)
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.FootprintAcresColumn, new { @class = "form-control", style = "width:100%" })
            @Html.ValidationMessageFor(m => m.FootprintAcresColumn)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">
            @Html.LabelWithSugarFor(m => m.PrivateLandownerColumn)
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.PrivateLandownerColumn, new { @class = "form-control", style = "width:100%" })
            @Html.ValidationMessageFor(m => m.PrivateLandownerColumn)
        </div>
    </div>
    
    @if (ViewDataTyped.GisUploadSourceOrganization.ImportIsFlattened.HasValue && !ViewDataTyped.GisUploadSourceOrganization.ImportIsFlattened.Value)
    {
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.TreatmentTypeColumn)
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.TreatmentTypeColumn, new { @class = "form-control", style = "width:100%" })
                @Html.ValidationMessageFor(m => m.TreatmentTypeColumn)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.TreatmentDetailedActivityTypeColumn)
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.TreatmentDetailedActivityTypeColumn, new { @class = "form-control", style = "width:100%" })
                @Html.ValidationMessageFor(m => m.TreatmentDetailedActivityTypeColumn)
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.PruningAcresColumn)
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.PruningAcresColumn, new { @class = "form-control", style = "width:100%" })
                @Html.ValidationMessageFor(m => m.PruningAcresColumn)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.ThinningAcresColumn)
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.ThinningAcresColumn, new { @class = "form-control", style = "width:100%" })
                @Html.ValidationMessageFor(m => m.ThinningAcresColumn)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.ChippingAcresColumn)
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.ChippingAcresColumn, new { @class = "form-control", style = "width:100%" })
                @Html.ValidationMessageFor(m => m.ChippingAcresColumn)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.MasticationAcresColumn)
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.MasticationAcresColumn, new { @class = "form-control", style = "width:100%" })
                @Html.ValidationMessageFor(m => m.MasticationAcresColumn)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.GrazingAcresColumn)
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.GrazingAcresColumn, new { @class = "form-control", style = "width:100%" })
                @Html.ValidationMessageFor(m => m.GrazingAcresColumn)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.LopAndScatterAcresColumn)
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.LopAndScatterAcresColumn, new { @class = "form-control", style = "width:100%" })
                @Html.ValidationMessageFor(m => m.LopAndScatterAcresColumn)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.BiomassRemovalAcresColumn)
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.BiomassRemovalAcresColumn, new { @class = "form-control", style = "width:100%" })
                @Html.ValidationMessageFor(m => m.BiomassRemovalAcresColumn)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.HandPileAcresColumn)
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.HandPileAcresColumn, new { @class = "form-control", style = "width:100%" })
                @Html.ValidationMessageFor(m => m.HandPileAcresColumn)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.HandBurnPileAcresColumn)
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.HandBurnPileAcresColumn, new { @class = "form-control", style = "width:100%" })
                @Html.ValidationMessageFor(m => m.HandBurnPileAcresColumn)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.MachineBurnPileAcresColumn)
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.MachineBurnPileAcresColumn, new { @class = "form-control", style = "width:100%" })
                @Html.ValidationMessageFor(m => m.MachineBurnPileAcresColumn)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.BroadcastBurnAcresColumn)
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.BroadcastBurnAcresColumn, new { @class = "form-control", style = "width:100%" })
                @Html.ValidationMessageFor(m => m.BroadcastBurnAcresColumn)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.OtherAcresColumn)
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.OtherAcresColumn, new { @class = "form-control", style = "width:100%" })
                @Html.ValidationMessageFor(m => m.OtherAcresColumn)
            </div>
        </div>
    }

</div>
    @Html.HiddenFor(m => m.GisUploadSourceOrganizationID)

}


<script type="text/javascript">
    jQuery(document).ready(function ()
    {
        HookupCheckIfFormIsDirty(undefined, ".submitProject");


    });
</script>
