@*-----------------------------------------------------------------------
    <copyright file="EditInvoice.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.Models
@using ProjectFirma.Web.Models
@inherits ProjectFirma.Web.Views.Invoice.EditInvoice

@Html.Raw(ViewDataTyped.EditInvoiceType.IntroductoryText)

@Html.ValidationSummary()

<script type="text/javascript" src="/Content/Bootstrap-select/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="/Content/Bootstrap-select/bootstrap-select.min.css" type="text/css" />

@using (Html.BeginForm())
{
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-3 control-label">
            @Html.LabelWithSugarFor(m => m.InvoiceIdentifyingName)
        </div>
        <div class="col-xs-6">
            @Html.TextBoxFor(m => m.InvoiceIdentifyingName, new { style = "width: 100%;", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.InvoiceIdentifyingName)
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-3 control-label">
            @Html.LabelWithSugarFor(m => m.GrantID)
        </div>
        <div class="col-xs-9">
            @Html.SearchableDropDownListFor(m => m.GrantID, ViewDataTyped.Grants, new { style = "width: auto;", @class = "form-control selectpicker" })
            @Html.ValidationMessageFor(m => m.GrantID)
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-3 control-label">
            @Html.LabelWithSugarFor(m => m.InvoiceNumber)
        </div>
        <div class="col-xs-6">
            @Html.TextBoxFor(m => m.InvoiceNumber, new { style = "width: 100%;", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.InvoiceNumber)
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-3 control-label">
            @Html.LabelWithSugarFor(m => m.InvoiceDate)
        </div>
        <div class="col-xs-6">
            @Html.EditorFor(m => m.InvoiceDate, new { style = "width: auto;", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.InvoiceDate)
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-3 control-label">
            @Html.LabelWithSugarFor(m => m.Fund)
        </div>
        <div class="col-xs-6">
            @Html.TextBoxFor(m => m.Fund, new { style = "width: 100%;", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Fund)
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-3 control-label">
            @Html.LabelWithSugarFor(m => m.Appn)
        </div>
        <div class="col-xs-6">
            @Html.TextBoxFor(m => m.Appn, new { style = "width: 100%;", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Appn)
        </div>
    </div>


    <div class="form-group">
        <div class="col-xs-3 control-label">
            @Html.LabelWithSugarFor(m => m.ProgramIndexID)
        </div>
        <div class="col-xs-9">
            @Html.SearchableDropDownListFor(m => m.ProgramIndexID, ViewDataTyped.ProgramIndices, new { style = "width: auto;", @class = "form-control selectpicker" })
            @Html.ValidationMessageFor(m => m.ProgramIndexID)
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-3 control-label">
            @Html.LabelWithSugarFor(m => m.ProjectCodeID)
        </div>
        <div class="col-xs-9">
            @Html.SearchableDropDownListFor(m => m.ProjectCodeID, ViewDataTyped.ProjectCodes, new { style = "width: auto;", @class = "form-control selectpicker" })
            @Html.ValidationMessageFor(m => m.ProjectCodeID)
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-3 control-label">
            @Html.LabelWithSugarFor(m => m.SubObject)
        </div>
        <div class="col-xs-6">
            @Html.TextBoxFor(m => m.SubObject, new { style = "width: 100%;", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SubObject)
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-3 control-label">
            @Html.LabelWithSugarFor(m => m.OrganizationCodeID)
        </div>
        <div class="col-xs-9">
            @Html.DropDownListFor(m => m.OrganizationCodeID, ViewDataTyped.OrganizationCodes, new { style = "width: auto;", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.OrganizationCodeID)
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-3 control-label">
            @Html.LabelWithSugarFor(m => m.InvoiceMatchAmountTypeID)
        </div>
        <div class="col-xs-8">
            @foreach (var matchType in InvoiceMatchAmountType.All.OrderBy(x => x == InvoiceMatchAmountType.DollarAmount).ThenBy(x => x.InvoiceMatchAmountTypeID).ToList())
            {
                <div class="row">
                    <div class="radio-inline">
                        <label>
                            @Html.RadioButtonFor(m => m.InvoiceMatchAmountTypeID, matchType.InvoiceMatchAmountTypeID) @(matchType.InvoiceMatchAmountTypeDisplayName)
                        </label>
                    </div>
                </div>
            }
            @Html.ValidationMessageFor(m => m.InvoiceMatchAmountTypeID)
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-3 control-label">

        </div>
        <div class="col-xs-2">
            @Html.EditorFor(m => m.MatchAmount, new { style = "width: auto;", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.MatchAmount)
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-3 control-label">
            @Html.LabelWithSugarFor(m => m.PaymentAmount)
        </div>
        <div class="col-xs-2">
            @Html.EditorFor(m => m.PaymentAmount, new { style = "width: auto;", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PaymentAmount)
        </div>
    </div>
    

    <div class="form-group">
        <div class="col-xs-3 control-label">
            @Html.LabelWithSugarFor(m => m.InvoiceStatusID)
        </div>
        <div class="col-xs-2">
            @Html.DropDownListFor(m => m.InvoiceStatusID, ViewDataTyped.InvoiceStatuses, new { style = "width: auto;", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.InvoiceStatusID)
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-3 control-label">
            @Html.LabelWithSugarFor(m => m.InvoiceApprovalStatusID)
        </div>
        <div id="InvoiceApprovalStatus" class="col-xs-2">
            @Html.DropDownListFor(m => m.InvoiceApprovalStatusID, ViewDataTyped.InvoiceApprovalStatuses, new { style = "width: auto;", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.InvoiceApprovalStatusID)
        </div>
    </div>
    <div class="form-group">
        <div id="InvoiceApprovalStatusCommentLabelDiv" class="col-xs-3 control-label">
            @Html.LabelWithSugarFor(m => m.InvoiceApprovalStatusComment)
        </div>
        <div class="col-xs-6">
            @Html.TextAreaFor(m => m.InvoiceApprovalStatusComment, new { style = "width: 100%;", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.InvoiceApprovalStatusComment)
        </div>
    </div>
    <div class="form-group form-group-tight">
        <div class="col-sm-3 control-label">
            @Html.LabelWithSugarFor(m => m.InvoiceFileResourceData)
        </div>
        <div class="col-sm-8">
            @Html.EditorFor(m => m.InvoiceFileResourceData)
            @*<span class="smallExplanationText">
                    Allowed Extensions: @Model.GetFileExtensions(x => x.LogoFileResourceData)
                </span>*@
            @Html.ValidationMessageFor(m => m.InvoiceFileResourceData)
        </div>
    </div>
</div>
    @Html.HiddenFor(m => m.InvoiceID)
    @Html.HiddenFor(x => x.InvoicePaymentRequestID)
}


<script type="text/javascript">
    jQuery(document)
        .ready(function() {
            // Get the invoice approval status, return true if the comment field is mandatory (when denial happens, comment is mandatory)
            var isInvoiceCommentFieldMandatory = function () {
                var selectedInvoiceApprovalStatus = jQuery("#InvoiceApprovalStatus option:selected").text();
                // Only Invoices with an InvoiceApprovalStatus of 'Denied' have mandatory comment field
                if (selectedInvoiceApprovalStatus == 'Denied') {
                    return true;
                } else {
                    return false;
                }
            }

            var initialLoadCommentIsMandatory = isInvoiceCommentFieldMandatory();
            if (initialLoadCommentIsMandatory) {
                jQuery("#InvoiceApprovalStatusCommentLabelDiv")
                    .html('@Html.LabelWithSugarFor(m => m.InvoiceApprovalStatusComment, true)');
            } else {
                jQuery("#InvoiceApprovalStatusCommentLabelDiv")
                    .html('@Html.LabelWithSugarFor(m => m.InvoiceApprovalStatusComment, false)');
            }

            jQuery("#InvoiceApprovalStatus").on('change', function () {
                var commentIsMandatory = isInvoiceCommentFieldMandatory();
                if (commentIsMandatory) {
                    jQuery("#InvoiceApprovalStatusCommentLabelDiv")
                        .html('@Html.LabelWithSugarFor(m => m.InvoiceApprovalStatusComment, true)');
                } else {
                    jQuery("#InvoiceApprovalStatusCommentLabelDiv")
                        .html('@Html.LabelWithSugarFor(m => m.InvoiceApprovalStatusComment, false)');
                }
            });

            var dollarValueMatchTypeID = '@InvoiceMatchAmountType.DollarAmount.InvoiceMatchAmountTypeID';

           var matchAmountType = jQuery('input[type=radio][name=@Html.NameFor(m => m.InvoiceMatchAmountTypeID)]');
            var checkedMatchAmountType =
                jQuery('input[type=radio][name=@Html.NameFor(m => m.InvoiceMatchAmountTypeID)]:checked')[0];
            var matchAmountTypeCheckedValue = null;
            if (checkedMatchAmountType !== undefined && checkedMatchAmountType !== null) {
                matchAmountTypeCheckedValue = checkedMatchAmountType.value;
            }

            var matchAmount = jQuery("#@Html.IdFor(m => m.MatchAmount)");

            if (matchAmountTypeCheckedValue == dollarValueMatchTypeID) {
                matchAmount.removeAttr('disabled');
            } else {
                matchAmount.attr('disabled', 'disabled');
            }

            matchAmountType.on("change", function() {
                if (this.value == dollarValueMatchTypeID) {
                    matchAmount.removeAttr('disabled');
                } else {
                    matchAmount.attr('disabled', 'disabled');
                    matchAmount.val('');
                }
            });
        });
</script>
