@*-----------------------------------------------------------------------
    <copyright file="Detail.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.AgGridWrappers
@using LtInfo.Common.ModalDialog
@using LtInfo.Common.Views
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Controllers
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Security
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.GrantAllocation
@using ProjectFirma.Web.Views.Shared.FileResourceControls
@using ProjectFirma.Web.Views.Shared.GrantAllocationControls
@using ProjectFirma.Web.Views.Shared.TextControls

@inherits ProjectFirma.Web.Views.GrantAllocation.Detail

@section JavascriptAndStylesContent
{
    @{ AgGridIncludes.RenderPartialView(Html); }
    @{ MapJavascriptIncludes.RenderPartialView(Html); }
    <script type="text/javascript" src="/Content/Bootstrap-select/bootstrap-select.min.js"></script>
    <link href="~/Content/bootstrap-tags/bootstrap-tags.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Content/Bootstrap-select/bootstrap-select.min.css" type="text/css" />
    <script src="@Url.Content("~/Content/bootstrap-toc/bootstrap-toc.min.js")" type="text/javascript"></script>
}

<style type="text/css">

    .basicsLayout .row {
        margin-left: 0;
        margin-right: 0;
    }

        .basicsLayout .row div {
            padding-left: 0;
            padding-right: 5px;
        }

    .basicsLayout hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>

<div>
    <a class="btn backButton" style="padding-left: 0;" href="@ViewDataTyped.GrantAllocationsListUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left") @ViewDataTyped.BackToGrantAllocationsText</a>
</div>


<div class="col-sm-12">

    <div class="row">
        <div class="col-lg-5">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditGrantAllocationUrl, string.Format("Edit {0}", ViewDataTyped.GrantAllocation.GrantAllocationName), 950, ViewDataTyped.UserHasEditGrantAllocationPermissions)
                        Basics
                    </h3>
                </div>
                <div class="panel-body">
                    @{ GrantAllocationBasics.RenderPartialView(Html, ViewDataTyped.GrantAllocationBasicsViewData);}
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panelFirma">
                        <div class="panel-heading panelTitle">
                            <h3>Files</h3>
                        </div>
                        <div class="panel-body">
                            @{ FileDetails.RenderPartialView(Html, ViewDataTyped.GrantAllocationDetailsFileDetailsViewData); }
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel panelFirma">
                        <div class="panel-heading panelTitle">
                            @FieldDefinition.GrantAllocation.GetFieldDefinitionLabel() Expenditures by Year
                        </div>
                        <div class="panel-body">
                            @if (ViewDataTyped.ViewGoogleChartViewData.HasData)
                            {
                                <div style="border-radius: 8px; background-color: white; height: 410px; margin-right: auto; margin-left: auto; width: 600px">
                                    @{ ViewGoogleChart.RenderPartialView(Html, ViewDataTyped.ViewGoogleChartViewData); }
                                </div>
                            }
                            else
                            {
                                <p class="systemText">No expenditures to report for this @FieldDefinition.GrantAllocation.GetFieldDefinitionLabel().</p>
                            }
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>


    @{ GrantAllocationBudgetLineItems.RenderPartialView(Html, ViewDataTyped.GrantAllocationBudgetLineItemsViewData); }


    @{ GrantAllocationBudgetVsActuals.RenderPartialView(Html, ViewDataTyped.GrantAllocationBudgetVsActualsViewData); }


    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    @FieldDefinition.Agreement.GetFieldDefinitionLabelPluralized() associated to this @FieldDefinition.GrantAllocation.GetFieldDefinitionLabel()
                </div>
                <div class="panel-body">
                    @foreach (var currentAgreementGrantAllocation in ViewDataTyped.CurrentAgreementGrantAllocationsInSortedOrder)
                    {
                        @currentAgreementGrantAllocation.Agreement.GetAgreementTitleAsUrl()
                        <br />
                    }
                    
                    @if (ViewDataTyped.CurrentAgreementGrantAllocationsInSortedOrder.Count < 1)
                    {
                        <p>There are no @FieldDefinition.Agreement.GetFieldDefinitionLabelPluralized() associated to this @FieldDefinition.GrantAllocation.GetFieldDefinitionLabel()</p>
                    }
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    Expected Funding by @FieldDefinition.Project.GetFieldDefinitionLabel()
                </div>
                <div class="panel-body">
                    @Html.AgGrid(ViewDataTyped.ProjectGrantAllocationRequestsGridSpec, ViewDataTyped.ProjectGrantAllocationRequestsGridName, ViewDataTyped.ProjectGrantAllocationRequestsGridDataUrl, "height:300px", AgGridResizeType.VerticalResizableHorizontalAutoFit)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    @FieldDefinition.ReportedExpenditure.GetFieldDefinitionLabelPluralized()
                </div>
                <div class="panel-body">
                    @Html.AgGrid(ViewDataTyped.GrantAllocationExpendituresGridSpec, ViewDataTyped.GrantAllocationExpendituresGridName, ViewDataTyped.GrantAllocationExpendituresGridDataUrl, "height:300px", AgGridResizeType.VerticalResizableHorizontalAutoFit)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        Notes
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="basicsLayout">
                        <strong>Public Notes</strong>
                        @{ EntityNotes.RenderPartialView(Html, ViewDataTyped.GrantAllocationNotesViewData); }

                        @if (new GrantAllocationNoteInternalViewFeature().HasPermissionByPerson(ViewDataTyped.CurrentPerson))
                        {
                            <strong>Internal Notes</strong>
                            EntityNotes.RenderPartialView(Html, ViewDataTyped.GrantAllocationNoteInternalsViewData);
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        Allocation Amount Change Log
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="basicsLayout">
                        <table class="summaryLayout">
                            @foreach (var changeLog in ViewDataTyped.GrantAllocation.GrantAllocationChangeLogs.OrderByDescending(x => x.ChangeDate))
                            {
                                <tr>
                                    <th scope="row">Created:</th>
                                    <td>@changeLog.ChangeDate.ToStringDateTime()</td>
                                    <td>@changeLog.ChangePerson.FullNameFirstLastAndOrgShortName</td>
                                </tr>
                                <tr>
                                    <th scope="row">Old Amount:</th>
                                    <td>@changeLog.GrantAllocationAmountOldValue.ToStringCurrency()</td>
                                </tr>
                                <tr>
                                    <th scope="row">New Amount:</th>
                                    <td>@changeLog.GrantAllocationAmountNewValue.ToStringCurrency()</td>
                                </tr>
                                <tr>
                                    <th scope="row">Note:</th>
                                    <td colspan="3">@Html.Raw(changeLog.GrantAllocationAmountNote.HtmlEncodeWithBreaks())</td>
                                </tr>
                                <tr><td>&nbsp;</td></tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>