@*-----------------------------------------------------------------------
    <copyright file="Detail.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Security
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.GrantAllocation
@using ProjectFirma.Web.Views.Shared.GrantAllocationControls
@using ProjectFirma.Web.Views.Shared.TextControls

@inherits ProjectFirma.Web.Views.GrantAllocation.Detail

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
    @{ MapJavascriptIncludes.RenderPartialView(Html); }
    <script type="text/javascript" src="/Content/Bootstrap-select/bootstrap-select.min.js"></script>
    <link href="~/Content/bootstrap-tags/bootstrap-tags.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Content/Bootstrap-select/bootstrap-select.min.css" type="text/css" />
    <script src="@Url.Content("~/Content/bootstrap-toc/bootstrap-toc.min.js")" type="text/javascript"></script>
}

<style type="text/css">

    .basicsLayout .row {
        margin-left: 0;
        margin-right: 0;
    }

        .basicsLayout .row div {
            padding-left: 0;
            padding-right: 5px;
        }

    .basicsLayout hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>

<div>
    <a class="btn backButton" style="padding-left: 0;" href="@ViewDataTyped.GrantAllocationsListUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left") @ViewDataTyped.BackToGrantAllocationsText</a>
</div>


<div class="col-sm-12">

    <div class="row">
        <div class="col-lg-5">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditGrantAllocationUrl, string.Format("Edit {0}", ViewDataTyped.GrantAllocation.GrantAllocationName), 950, ViewDataTyped.UserHasEditGrantAllocationPermissions)
                        Basics
                    </h3>
                </div>
                <div class="panel-body">
                    @{ GrantAllocationBasics.RenderPartialView(Html, ViewDataTyped.GrantAllocationBasicsViewData);}
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    Expenditures by @FieldDefinition.GrantAllocation.GetFieldDefinitionLabel()
                </div>
                <div class="panel-body">
                    @if (ViewDataTyped.ViewGoogleChartViewData.HasData)
                    {
                        <div style="border-radius: 8px; background-color: white; height: 410px; margin-right: auto; margin-left: auto; width: 600px">
                            @{ ViewGoogleChart.RenderPartialView(Html, ViewDataTyped.ViewGoogleChartViewData); }
                        </div>
                    }
                    else
                    {
                        <p class="systemText">No expenditures to report for this @FieldDefinition.GrantAllocation.GetFieldDefinitionLabel().</p>
                    }
                </div>
            </div>
        </div>
    </div>


    @{ GrantAllocationBudgetLineItems.RenderPartialView(Html, ViewDataTyped.GrantAllocationBudgetLineItemsViewData); }

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    @FieldDefinition.ReportedExpenditure.GetFieldDefinitionLabelPluralized()
                </div>
                <div class="panel-body">
                    @Html.DhtmlxGrid(ViewDataTyped.ProjectCalendarYearExpendituresGridSpec, ViewDataTyped.ProjectCalendarYearExpendituresGridName, ViewDataTyped.ProjectCalendarYearExpendituresGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    Expected Funding by @FieldDefinition.Project.GetFieldDefinitionLabel()
                </div>
                <div class="panel-body">
                    @Html.DhtmlxGrid(ViewDataTyped.ProjectGrantAllocationRequestsGridSpec, ViewDataTyped.ProjectGrantAllocationRequestsGridName, ViewDataTyped.ProjectGrantAllocationRequestsGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        Notes
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="basicsLayout">
                        <strong>Public Notes</strong>
                        @{ EntityNotes.RenderPartialView(Html, ViewDataTyped.GrantAllocationNotesViewData); }

                        @if (new GrantAllocationNoteInternalViewFeature().HasPermissionByPerson(ViewDataTyped.CurrentPerson))
                        {
                            <strong>Internal Notes</strong>
                            EntityNotes.RenderPartialView(Html, ViewDataTyped.GrantAllocationNoteInternalsViewData);
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>