@*-----------------------------------------------------------------------
    <copyright file="EditProject.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Views.GrantAllocation.EditGrantAllocationBudgetLineItem

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelWithSugarFor(m => m.CostTypeID)
            </div>
            <div class="col-sm-8">
                @Html.DropDownListFor(m => m.CostTypeID, ViewDataTyped.CostTypes, new { @class = "form-control", style = "width:auto" })
                @Html.ValidationMessageFor(m => m.CostTypeID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.GrantAllocationBudgetLineItemAmount)
            </div>
            <div class="col-xs-8">
                @Html.EditorFor(m => m.GrantAllocationBudgetLineItemAmount)
                @Html.ValidationMessageFor(m => m.GrantAllocationBudgetLineItemAmount)
            </div>
        </div>
    
        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.GrantAllocationBudgetLineItemNote, "Note")
            </div>
            <div class="col-xs-8">
                @Html.TextAreaFor(m => m.GrantAllocationBudgetLineItemNote, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.GrantAllocationBudgetLineItemNote)
            </div>
        </div>

    </div>
    @Html.HiddenFor(m => m.GrantAllocationBudgetLineItemID)
    @Html.HiddenFor(m => m.GrantAllocationID)
}
