@*-----------------------------------------------------------------------
    <copyright file="EditProject.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.Models
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.ProgramIndex
@using ProjectFirma.Web.Views.ProjectCode
@inherits ProjectFirma.Web.Views.GrantAllocation.GrantAllocationBudgetLineItems

<script>
    jQuery(function () {
        jQuery('.ajax-amount-field').on('change', function (event) {
            event.preventDefault();

            var amount = event.target.value;
            var closestRow = jQuery(event.target).closest("tr");
            var lineItemID = closestRow.find(".budgetLineItemID")[0].value; 
            var costTypeID = closestRow.find(".costTypeID")[0].value;
            var lineItemNote = closestRow.find(".ajax-note-field")[0].value;

            var formData = {
                GrantAllocationID: @ViewDataTyped.GrantAllocationID,
                LineItemAmount: amount,
                LineItemNote: lineItemNote,
                GrantAllocationBudgetLineItemID: lineItemID,
                CostTypeID: costTypeID
            }

            jQuery.post('@ViewDataTyped.FormPostUrl', formData, function () {
                alert('Posted using jQuery');
            });
        });
    });
</script>



<div class="row">
    <div class="col-sm-12">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h3>
                    @FieldDefinition.GrantAllocationBudgetLineItem.GetFieldDefinitionLabelPluralized()
                </h3>
            </div>
            <div class="panel-body">
                <form id="budgetLineItemForm">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    @FieldDefinition.CostType.GetFieldDefinitionLabel()
                                </th>
                                <th>
                                    Amount
                                </th>
                                <th>
                                    Note
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var budgetLineItem in ViewDataTyped.GrantAllocationBudgetLineItems)
                            {
                                <tr>
                                    <th scope="row">
                                        @budgetLineItem.CostType.CostTypeDisplayName
                                        <input type="hidden" id="costTypeID_@budgetLineItem.CostTypeID" class="costTypeID" value="@budgetLineItem.CostTypeID" />
                                        <input type="hidden" id="budgetLineItemID_@budgetLineItem.CostTypeID" class="budgetLineItemID" value="@budgetLineItem.GrantAllocationBudgetLineItemID" />
                                    </th>
                                    <td><input class="ajax-amount-field" type="number" step=".01" value="@budgetLineItem.GrantAllocationBudgetLineItemAmount"/></td>
                                    <td><input class="ajax-note-field" type="text" value="@budgetLineItem.GrantAllocationBudgetLineItemNote"/></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
