@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Models
@inherits ProjectFirma.Web.Views.User.EditContact

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div class="form-horizontal">
        <div class="form-group row">
            <div class="col-xs-4 fieldLabel text-right">@Html.LabelWithSugarFor(m => m.Address)</div>
            <div class="col-xs-8">@Html.TextBoxFor(m => m.Address, new { @class = "form-control", style = "width:100%;"})</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-4 fieldLabel text-right">@Html.LabelWithSugarFor(m => m.OrganizationID)</div>
            <div class="col-xs-8">@Html.SearchableDropDownListFor(m => m.OrganizationID, ViewDataTyped.Organizations)</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-4 fieldLabel text-right">@Html.LabelWithSugarFor(m => m.Phone)</div>
            <div class="col-xs-8">@Html.TextBoxFor(m => m.Phone, new { @class = "form-control", style = "width:auto;", id = "phone"})</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-4 fieldLabel text-right">@Html.LabelWithSugarFor(m => m.StatewideVendorNumber)</div>
            <div class="col-xs-8">@Html.TextBoxFor(m => m.StatewideVendorNumber, new { @class = "form-control", style = "width:auto;"})</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-4 fieldLabel text-right">@Html.LabelWithSugarFor(m => m.Notes)</div>
            <div class="col-xs-8">@Html.TextAreaWithMaxLengthFor(m => m.Notes, new TextAreaForExtensions.TextAreaDimensions(null, 4), null, new List<string> { "form-control" })</div>
        </div>
        @if (ViewDataTyped.FullUpUser)
        {
            <hr/>
            <p class="systemText">These fields are sourced from SAW, cannot be edited, and are shown for reference only:</p>
        }
        <div class="form-group row">
            <div class="col-xs-4 fieldLabel text-right">@Html.LabelWithSugarFor(m => m.FirstName)</div>
            <div class="col-xs-8">@Html.TextBoxFor(m => m.FirstName, new {@class = "form-control", style = "width:auto;", disabled = ViewDataTyped.FullUpUser ? "disabled" : "false" })</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-4 fieldLabel text-right">@Html.LabelWithSugarFor(m => m.MiddleName)</div>
            <div class="col-xs-8">@Html.TextBoxFor(m => m.MiddleName, new {@class = "form-control", style = "width:auto;", disabled = ViewDataTyped.FullUpUser ? "disabled" : "false" })</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-4 fieldLabel text-right">@Html.LabelWithSugarFor(m => m.LastName)</div>
            <div class="col-xs-8">@Html.TextBoxFor(m => m.LastName, new {@class = "form-control", style = "width:auto;", disabled = ViewDataTyped.FullUpUser ? "disabled" : "false" })</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-4 fieldLabel text-right">@Html.LabelWithSugarFor(m => m.Email)</div>
            <div class="col-xs-8">@Html.TextBoxFor(m => m.Email, new {@class = "form-control", style = "width:auto;", disabled = ViewDataTyped.FullUpUser ? "disabled" : "false" })</div>
        </div>
    </div>
}

<script src="@Url.Content("~/Content/JQuery/jquery.mask.min.js")"></script>
<script type="text/javascript">
    jQuery(function() {
        jQuery("#phone").mask("(000) 000-0000");
    })
</script>