@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.Vendor
@inherits ProjectFirma.Web.Views.User.EditContact

@using (Html.BeginForm())
{
    // This is not actually being used in the edit, only used to help with Validator needing access to the person being edited. --SLG
    @Html.HiddenFor(m => m.PersonID)

    var htmlAttributesForConditionallyDisabledFields = new Dictionary<string, object> {{"class", "form-control"}, {"style", "width:auto;"}};
    if (ViewDataTyped.FullUpUser)
    {
        htmlAttributesForConditionallyDisabledFields.Add("readonly", "readonly");
    }

    @Html.ValidationSummary()
    <div class="form-horizontal">
        @if (ViewDataTyped.FullUpUser)
        {
            <p class="systemText">Some fields are sourced from SAW/ADFS, cannot be edited, and are shown for reference only.</p>
        }
        <div class="form-group row">
            <div class="col-xs-4 fieldLabel text-right">@Html.LabelWithSugarFor(m => m.FirstName)</div>
            <div class="col-xs-8">
                @Html.TextBoxFor(m => m.FirstName, htmlAttributesForConditionallyDisabledFields)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-4 fieldLabel text-right">@Html.LabelWithSugarFor(m => m.MiddleName)</div>
            <div class="col-xs-8">@Html.TextBoxFor(m => m.MiddleName, htmlAttributesForConditionallyDisabledFields)</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-4 fieldLabel text-right">@Html.LabelWithSugarFor(m => m.LastName)</div>
            <div class="col-xs-8">@Html.TextBoxFor(m => m.LastName, htmlAttributesForConditionallyDisabledFields)</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-4 fieldLabel text-right">@Html.LabelWithSugarFor(m => m.Email)</div>
            <div class="col-xs-8">@Html.TextBoxFor(m => m.Email, htmlAttributesForConditionallyDisabledFields)</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-4 fieldLabel text-right">@Html.LabelWithSugarFor(m => m.Address)</div>
            <div class="col-xs-8">@Html.TextBoxFor(m => m.Address, new {@class = "form-control", style = "width:100%;"})</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-4 fieldLabel text-right">@Html.LabelWithSugarFor(m => m.OrganizationID)</div>
            <div class="col-xs-8">@Html.SearchableDropDownListFor(m => m.OrganizationID, ViewDataTyped.Organizations)</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-4 fieldLabel text-right">@Html.LabelWithSugarFor(m => m.Phone)</div>
            <div class="col-xs-8">@Html.TextBoxFor(m => m.Phone, new {@class = "form-control", style = "width:auto;", id = "phone"})</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-4 fieldLabel text-right">@Html.LabelWithSugarFor(m => m.VendorID)</div>
            <div class="col-xs-8">

                @{ EditVendor.RenderPartialView(Html, Model); }

            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-4 fieldLabel text-right">@Html.LabelWithSugarFor(m => m.Notes)</div>
            <div class="col-xs-8">@Html.TextAreaWithMaxLengthFor(m => m.Notes, new TextAreaForExtensions.TextAreaDimensions(null, 4), null, new List<string> {"form-control"})</div>
        </div>
    </div>
}

<script src="@Url.Content("~/Content/JQuery/jquery.mask.min.js")"></script>
<script type="text/javascript">
    jQuery(function() {
        jQuery("#phone").mask("(000) 000-0000");
    })
</script>
