@*-----------------------------------------------------------------------
    <copyright file="ProjectFundSourceAllocationRequestsDetail.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.Shared.ProjectUpdateDiffControls
@using LtInfo.Common
@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFundSourceAllocationRequestsDetail


@if (ViewDataTyped.IsProjectAnLoaProject)
{
    <div class="row">
        <div class="col-sm-3">
            @Html.LabelWithSugarFor(FieldDefinition.EstimatedTotalCost)
        </div>
        <div class="col-sm-9">
            @ViewDataTyped.EstimatedTotalCost
        </div>
    </div>
}


<div class="row">
    <div class="col-sm-3">
        @Html.LabelWithSugarFor(FieldDefinition.FundingSource)
    </div>
    <div class="col-sm-9">
        @(string.Join(", ", ViewDataTyped.FundingSources.Select(x => x.FundingSourceDisplayName)) )
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        @Html.LabelWithSugarFor(FieldDefinition.FundingSourceNote)
    </div>
    <div class="col-sm-9">
        @ViewDataTyped.ProjectFundingSourceNotes
    </div>
</div>



<table class="summaryLayout">
    <colgroup>
        <col>
        <col>
        <col>
        <col>
    </colgroup>
    <tr>
        <th>@Html.LabelWithSugarFor(FieldDefinition.FundSourceAllocation)</th>
        <th style="text-align: right">@Html.LabelWithSugarFor(FieldDefinition.ProjectFundSourceAllocationRequestTotalAmount)</th>
    </tr>
    @foreach (var fundSourceAllocationRequestAmount in ViewDataTyped.FundSourceAllocationRequestAmounts.OrderBy(x => x.FundSourceAllocation.FundSourceAllocationName))
    {
        <tr class="@fundSourceAllocationRequestAmount.DisplayCssClass">
            <td>@fundSourceAllocationRequestAmount.FundSourceAllocation.DisplayNameAsUrl</td>
            <td class="@fundSourceAllocationRequestAmount.DisplayCssClass" style="text-align: right">
                <span>@fundSourceAllocationRequestAmount.TotalAmount.ToStringCurrency()</span>
            </td>
        </tr>
    }
    @if (ViewDataTyped.FundSourceAllocationRequestAmounts.Any())
    {
        <tr>
            <th>Total</th>
            <td style="text-align: right">
                <span>@ViewDataTyped.FundSourceAllocationRequestAmounts.Sum(x => x.TotalAmount).ToStringCurrency()</span>
            </td>
        </tr>
    }
</table>
@if (!ViewDataTyped.FundSourceAllocationRequestAmounts.Any())
{
    <p class="systemText">No expected funding has been reported for this project.</p>
}
