@*-----------------------------------------------------------------------
<copyright file="ProjectFundingRequestsDetail.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Environmental Science Associates</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.Shared.ProjectUpdateDiffControls
@using LtInfo.Common
@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectGrantAllocationRequestsDetail


@if (ViewDataTyped.IsProjectAnLoaProject)
{
    <div class="row">
        <div class="col-sm-3">
            @Html.LabelWithSugarFor(FieldDefinition.EstimatedTotalCost)
        </div>
        <div class="col-sm-9">
            @ViewDataTyped.EstimatedTotalCost
        </div>
    </div>
}


<div class="row">
    <div class="col-sm-3">
        @Html.LabelWithSugarFor(FieldDefinition.FundingSource)
    </div>
    <div class="col-sm-9">
        @(string.Join(", ", ViewDataTyped.FundingSources.Select(x => x.FundingSourceDisplayName)) )
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        @Html.LabelWithSugarFor(FieldDefinition.FundingSourceNote)
    </div>
    <div class="col-sm-9">
        @ViewDataTyped.ProjectFundingSourceNotes
    </div>
</div>



<table class="summaryLayout">
    <colgroup>
        <col>
        <col>
        <col>
        <col>
    </colgroup>
    <tr>
        <th>@Html.LabelWithSugarFor(FieldDefinition.GrantAllocation)</th>
        <th style="text-align: right">@Html.LabelWithSugarFor(FieldDefinition.ProjectGrantAllocationRequestTotalAmount)</th>
    </tr>
    @foreach (var grantAllocationRequestAmount in ViewDataTyped.GrantAllocationRequestAmounts.OrderBy(x => x.GrantAllocation.GrantAllocationName))
    {
        <tr class="@grantAllocationRequestAmount.DisplayCssClass">
            <td>@grantAllocationRequestAmount.GrantAllocation.DisplayNameAsUrl</td>
            <td class="@grantAllocationRequestAmount.DisplayCssClass" style="text-align: right">
                <span >@grantAllocationRequestAmount.TotalAmount.ToStringCurrency()</span>
            </td>
        </tr>
    }
    @if (ViewDataTyped.GrantAllocationRequestAmounts.Any())
    {
        <tr>
            <th>Total</th>
            <td style="text-align: right">
                <span >@ViewDataTyped.GrantAllocationRequestAmounts.Sum(x => x.TotalAmount).ToStringCurrency()</span>
            </td>
        </tr>
    }
</table>
@if (!ViewDataTyped.GrantAllocationRequestAmounts.Any())
{
    <p class="systemText">No expected funding has been reported for this project.</p>
}
