@*-----------------------------------------------------------------------
    <copyright file="GrantDetail.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.AgGridWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Models
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Security
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using ProjectFirma.Web.Views.Shared.FileResourceControls
@using ProjectFirma.Web.Views.Shared.TextControls
@inherits ProjectFirma.Web.Views.Grant.GrantDetail

@section JavascriptAndStylesContent
{
    <script type="text/javascript" src="/Content/Bootstrap-select/bootstrap-select.min.js"></script>
    <link href="~/Content/bootstrap-tags/bootstrap-tags.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Content/Bootstrap-select/bootstrap-select.min.css" type="text/css" />
    <script src="@Url.Content("~/Content/bootstrap-toc/bootstrap-toc.min.js")" type="text/javascript"></script>
    @{ AgGridIncludes.RenderPartialView(Html); }
}

<style type="text/css">

    .basicsLayout .row {
        margin-left: 0;
        margin-right: 0;
    }

        .basicsLayout .row div {
            padding-left: 0;
            padding-right: 5px;
        }

    .basicsLayout hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>

<div>
    <a class="btn backButton" style="padding-left: 0;" href="@ViewDataTyped.GrantsListUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left") @ViewDataTyped.BackToGrantsText</a>
</div>


<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditGrantUrl, string.Format("Edit {0}", ViewDataTyped.Grant.GrantTitle), 950, ViewDataTyped.UserHasEditGrantPermissions)
                        Basics
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="basicsLayout">
                        <div class="row">
                            <div class="col-sm-4">
                                @Html.LabelWithSugarFor(FieldDefinition.GrantName)
                            </div>
                            <div class="col-sm-8">
                                <span id="Name">@ViewDataTyped.Grant.GrantName</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                @Html.LabelWithSugarFor(FieldDefinition.GrantShortName)
                            </div>
                            <div class="col-sm-8">
                                <span id="ShortName">@ViewDataTyped.Grant.ShortName</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                @Html.LabelWithSugarFor(FieldDefinition.Organization)
                            </div>
                            <div class="col-sm-8">
                                <span id="Organization">@ViewDataTyped.Grant.Organization.GetDisplayNameAsUrl()</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                @Html.LabelWithSugarFor(FieldDefinition.GrantStatus)
                            </div>
                            <div class="col-sm-8">
                                <span id="Status">@ViewDataTyped.Grant.GrantStatus.GrantStatusName</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                @Html.LabelWithSugarFor(FieldDefinition.GrantType)
                            </div>
                            <div class="col-sm-8">
                                <span id="Type">@ViewDataTyped.Grant.GrantTypeDisplay</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                @Html.LabelWithSugarFor(FieldDefinition.CFDA)
                            </div>
                            <div class="col-sm-8">
                                <span id="Type">@ViewDataTyped.Grant.CFDANumber</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                @Html.LabelWithSugarFor(FieldDefinition.GrantNumber)
                            </div>
                            <div class="col-sm-8">
                                <span id="GrantNumber">@ViewDataTyped.Grant.GrantNumber</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                @Html.LabelWithSugarFor(FieldDefinition.TotalAwardAmount)
                            </div>
                            <div class="col-sm-8">
                                <span id="TotalAwardAmount">@ViewDataTyped.Grant.GetTotalAwardAmount().ToStringCurrency()</span>
                            </div>
                        </div>
                        @if (ViewDataTyped.isUserLoggedIn)
                        {
                        <div class="row">
                            <div class="col-sm-4">
                                @Html.LabelWithSugarFor(FieldDefinition.GrantCurrentBalance)
                            </div>
                            <div class="col-sm-8">
                                <span>@ViewDataTyped.Grant.GetCurrentBalanceOfGrantBasedOnAllGrantAllocationExpenditures().ToString("C")</span>
                            </div>
                        </div>
                        }
                        
                        <div class="row">
                            <div class="col-sm-4">
                                @Html.LabelWithSugarFor(FieldDefinition.GrantStartDate)
                            </div>
                            <div class="col-sm-8">
                                <span id="StartDate">@ViewDataTyped.Grant.StartDateDisplay</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                @Html.LabelWithSugarFor(FieldDefinition.GrantEndDate)
                            </div>
                            <div class="col-sm-8">
                                <span id="EndDate">@ViewDataTyped.Grant.EndDateDisplay</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>Files</h3>
                </div>
                <div class="panel-body">
                    @{ FileDetails.RenderPartialView(Html, ViewDataTyped.GrantDetailsFileDetailsViewData); }
                </div>
            </div>
        </div>
    </div>
    
    
    @if (ViewDataTyped.isUserLoggedIn)
    {
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        @FieldDefinition.GrantAllocationBudgetLineItem.GetFieldDefinitionLabelPluralized() for this @FieldDefinition.Grant.GetFieldDefinitionLabel() (@ViewDataTyped.Grant.GrantName)
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="basicsLayout">
                        @Html.AgGrid(ViewDataTyped.GrantAllocationBudgetLineItemGridSpec, ViewDataTyped.GrantAllocationBudgetLineItemGridName, ViewDataTyped.GrantAllocationBudgetLineItemGridDataUrl, "height:350px;", AgGridResizeType.VerticalResizableHorizontalAutoFit)
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
    
    
    @if (ViewDataTyped.isUserLoggedIn)
    {
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        @FieldDefinition.Agreement.GetFieldDefinitionLabelPluralized() for this @FieldDefinition.Grant.GetFieldDefinitionLabel() (@ViewDataTyped.Grant.GrantName)
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="basicsLayout">
                        @Html.AgGrid(ViewDataTyped.GrantAgreementGridSpec, ViewDataTyped.GrantAgreementGridName, ViewDataTyped.GrantAgreementGridDataUrl, "height:350px;", AgGridResizeType.VerticalResizableHorizontalAutoFit)
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
    
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    Expected Funding by @FieldDefinition.Project.GetFieldDefinitionLabel() for this @FieldDefinition.Grant.GetFieldDefinitionLabel() (@ViewDataTyped.Grant.GrantName)
                </div>
                <div class="panel-body">
                    @Html.AgGrid(ViewDataTyped.ProjectGrantAllocationRequestsByGrantGridSpec, ViewDataTyped.ProjectGrantAllocationRequestsGridName, ViewDataTyped.ProjectGrantAllocationRequestsGridDataUrl, "height:300px", AgGridResizeType.VerticalResizableHorizontalAutoFit)
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        Notes
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="basicsLayout">
                        <strong>Public Notes</strong>
                        @{ EntityNotes.RenderPartialView(Html, ViewDataTyped.GrantNotesViewData); }

                        @if (new GrantNoteInternalViewFeature().HasPermissionByPerson(ViewDataTyped.CurrentPerson))
                        {
                            <strong>Internal Notes</strong>
                            EntityNotes.RenderPartialView(Html, ViewDataTyped.InternalGrantNotesViewData);
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
