@*-----------------------------------------------------------------------
<copyright file="EditProjectRegions.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
<author>Environmental Science Associates</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.ProjectRegion
@inherits EditProjectRegions

<script type="text/javascript" src="@Url.Content("~/Views/ProjectRegion/EditProjectRegionsController.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/typeahead/typeahead.min.js")"></script>
<script type="text/javascript">
    // <![CDATA[
    jQuery(function () {
    angular.module("ProjectFirmaApp").factory("angularModelAndViewData",
        function() {
            return {
                "AngularModel": @Html.Raw(JObject.FromObject(Model).ToString(Formatting.None)),
                "AngularViewData":
                    @Html.Raw(JObject.FromObject(ViewDataTyped.ViewDataForAngular).ToString(Formatting.None))
            };
        });
        angular.bootstrap(jQuery("[ng-controller=\"EditProjectRegionsController\"]"), ["ProjectFirmaApp"]);
    });
    // ]]>
</script>
<style>
    #@ViewDataTyped.ViewDataForAngular.MapInitJson.MapDivID {
        height: 500px;
        margin: 0;
    }

    .firma-modal .modal-body {
        overflow-y: visible;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <p>
            Select one or more @FieldDefinition.DNRUplandRegion.GetFieldDefinitionLabelPluralized() to associate with this @FieldDefinition.Project.GetFieldDefinitionLabel().ToLower().
            You can select @FieldDefinition.DNRUplandRegion.GetFieldDefinitionLabelPluralized() by clicking on the map or searching by @FieldDefinition.DNRUplandRegion.GetFieldDefinitionLabel() name.
            If your @FieldDefinition.Project.GetFieldDefinitionLabel().ToLower() is not associated with any @FieldDefinition.DNRUplandRegion.GetFieldDefinitionLabel(), please provide an explanation in the @Html.DisplayNameFor(m => m.NoDNRUplandRegionsExplanation).ToString().ToLower() field.
        </p>
    </div>
</div>

@Html.ValidationSummary()
<div class="row" ng-controller="EditProjectRegionsController">
    <div class="col-xs-12 col-md-4">
        <form action="@ViewDataTyped.EditProjectRegionsUrl" method="POST" id="@ViewDataTyped.EditProjectRegionsFormID">
            <div class="input-group" id="scrollable-dropdown-menu" style="margin-bottom: 10px;">
                @* ReSharper disable once UnknownCssClass *@
                <input type="text"
                       id="@ViewDataTyped.ViewDataForAngular.TypeAheadInputId"
                       class="typeahead form-control"
                       placeholder="@FieldDefinition.DNRUplandRegion.GetFieldDefinitionLabel()"
                       autocomplete="off" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" id="@string.Format("{0}Button", ViewDataTyped.ViewDataForAngular.TypeAheadInputId)" ng-click="selectFirstSuggestionFunction()">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
            <div class="alert alert-warning" ng-if="!AngularModel.DNRUplandRegionIDs || AngularModel.DNRUplandRegionIDs.length < 1">
                No @FieldDefinition.DNRUplandRegion.GetFieldDefinitionLabelPluralized() selected for this @FieldDefinition.Project.GetFieldDefinitionLabel(), provide an explanation in the @Html.DisplayNameFor(m => m.NoDNRUplandRegionsExplanation) field or select a @FieldDefinition.DNRUplandRegion.GetFieldDefinitionLabel().
            </div>
            <div ng-if="AngularModel.DNRUplandRegionIDs.length >= 1">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@FieldDefinition.DNRUplandRegion.GetFieldDefinitionLabel() Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="regionId in AngularModel.DNRUplandRegionIDs">
                            <td>
                                <input type="hidden" name="@Html.NameFor(x => x.DNRUplandRegionIDs)" value="{{regionId}}" />
                                <a ng-click="toggleRegion(regionId)">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                            <td ng-bind="getDNRUplandRegionName(regionId)"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <div class="form-group">
                    <label class="control-label">@Html.DisplayNameFor(m => m.NoDNRUplandRegionsExplanation)</label>
                    <textarea class="form-control" style="resize: none;" name="@Html.NameFor(m => m.NoDNRUplandRegionsExplanation)"
                              ng-model="AngularModel.@Html.NameFor(m => m.NoDNRUplandRegionsExplanation)"></textarea>
                    @Html.ValidationMessageFor(m => m.NoDNRUplandRegionsExplanation)
                </div>
            </div>
            
        </form>
    </div>
    <div class="col-xs-12 col-sm-8">
        <div id="mapContainer">
            <div id="@ViewDataTyped.ViewDataForAngular.MapInitJson.MapDivID"></div>
        </div>
        @if (ViewDataTyped.HasProjectLocationPoint || ViewDataTyped.HasProjectLocationDetail)
        {
            <div>
                <img style="margin-top: 10px; margin-right: 5px;" src="@ViewDataTyped.SimplePointMarkerImg"> Simple and/or Detailed @FieldDefinition.Project.GetFieldDefinitionLabel() location (for reference)
            </div>
        }        
    </div>

</div>