@*-----------------------------------------------------------------------
<copyright file="ProjectLocationSummary.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
<author>Environmental Science Associates</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using ProjectFirma.Web.Models
@inherits ProjectFirma.Web.Views.Shared.ProjectLocationControls.ProjectLocationSummary

<style>
    .blockOverlay {
        z-index: 999;
    }
</style>
<div class="row">
    <div class="col-sm-6">
        <div>
            <div id="@ViewDataTyped.ProjectLocationSummaryMapInitJson.MapDivID" style="height: 390px">
            </div>
            <span style="font-size: 10px">To zoom, hold down Shift and drag a rectangle.</span>
        </div>
        @if (ViewDataTyped.HasLocationNotes)
        {
            <div style="margin-bottom: 5px">
                <label>
                    Location Notes
                </label>
                <div style="padding-left: 20px">
                    @ViewDataTyped.ProjectLocationNotes
                </div>
            </div>
        }
    </div>
    <div class="col-sm-6">
        @if (ViewDataTyped.HasLocationInformation)
        {
            <div style="margin-bottom: 5px">
                <label>
                    Location Information
                </label>
                <div id="projectLocationInformationContainer" style="padding-left: 20px"></div>
            </div>
            <hr />
        }
        <div style="margin-bottom: 5px">
            <label>
                Counties
            </label>
            <ul class="noListStyle">
                @foreach (var county in ViewDataTyped.Counties.OrderBy(x => x.DisplayName))
                {
                    <li>
                        <a href="@county.GetDetailUrl()">@county.CountyName </a>
                    </li>
                }
                @if (!ViewDataTyped.Counties.Any())
                {
                    <li style="list-style-type: none; margin-left: -40px;">
                        None Selected
                    </li>
                }
            </ul>
        </div>
        @if (!string.IsNullOrEmpty(ViewDataTyped.NoCountiesExplanation))
        {
        <div style="margin-bottom: 5px">
            <label>
                Counties Notes
            </label>
            <div style="padding-left: 20px">
                @ViewDataTyped.NoCountiesExplanation
            </div>
        </div>
        }
        <hr />
        <div style="margin-bottom: 5px">
            <label>
                Priority Landscapes
            </label>
            <ul class="noListStyle">
                @foreach (var priorityLandscape in ViewDataTyped.PriorityLandscapes.OrderBy(x => x.DisplayName))
                {
                    <li>
                        <a href="@priorityLandscape.GetDetailUrl()">@priorityLandscape.DisplayName </a>
                    </li>
                }
                @if (!ViewDataTyped.PriorityLandscapes.Any())
                {
                    <li style="list-style-type: none; margin-left: -40px;">
                        None Selected
                    </li>
                }
            </ul>
        </div>
        @if (!string.IsNullOrEmpty(ViewDataTyped.NoPriorityLandscapesExplanation))
        {
            <div style="margin-bottom: 5px">
                <label>
                    Priority Landscapes Notes
                </label>
                <div style="padding-left: 20px">
                    @ViewDataTyped.NoPriorityLandscapesExplanation
                </div>
            </div>
        }
        <hr />
        <div style="margin-bottom: 5px">
            <label>
                @FieldDefinition.DNRUplandRegion.GetFieldDefinitionLabel()
            </label>
            <ul class="noListStyle">
                @foreach (var region in ViewDataTyped.DNRUplandRegions.OrderBy(x => x.DisplayName))
                {
                    <li>
                        <a href="@region.GetDetailUrl()">@region.DisplayName </a>
                    </li>
                }
                @if (!ViewDataTyped.DNRUplandRegions.Any())
                {
                    <li style="list-style-type: none; margin-left: -40px;">
                        None Selected
                    </li>
                }
            </ul>
        </div>
        @if (!string.IsNullOrEmpty(ViewDataTyped.NoRegionsExplanation))
        {
            <div style="margin-bottom: 5px">
                <label>
                    Regions Notes
                </label>
                <div style="padding-left: 20px">
                    @ViewDataTyped.NoRegionsExplanation
                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function()
    {
        var projectLocationSummaryMapInitJson = @Html.Raw(JObject.FromObject(ViewDataTyped.ProjectLocationSummaryMapInitJson).ToString(Formatting.None));
        var projectFirmaMap = new ProjectFirmaMaps.ProjectLocationSummary(projectLocationSummaryMapInitJson, jQuery("#projectLocationInformationContainer"));
    });
</script>
