@*-----------------------------------------------------------------------
<copyright file="EditProjectLocationSimple.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
<author>Environmental Science Associates</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common.BootstrapWrappers
@using ProjectFirma.Web.Models
@using LtInfo.Common.HtmlHelperExtensions
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits ProjectFirma.Web.Views.Shared.ProjectLocationControls.ProjectLocationSimple

<script type="text/javascript" src="@Url.Content("~/Views/Shared/ProjectLocationControls/ProjectLocationSimpleController.js")"></script>
<script type="text/javascript">
    // <![CDATA[
    jQuery(function() {
        var app = angular.module("ProjectFirmaApp").factory("angularModelAndViewData",
            function() {
                return {
                    "AngularModel": @Html.Raw(JObject.FromObject(Model).ToString(Formatting.None)),
                    "AngularViewData":
                        @Html.Raw(JObject.FromObject(ViewDataTyped.ViewDataForAngular).ToString(Formatting.None)),
                };
            });

        angular.bootstrap(jQuery("[ng-controller=\"ProjectLocationSimpleController\"]"), ["ProjectFirmaApp"]);
    });
    // ]]>
</script>
<style>
    .groupedControl {
        border: solid grey 1px;
        border-radius: 5px;
        margin: 5px;
        padding: 5px;
    }

    #@ViewDataTyped.ViewDataForAngular.MapInitJson.MapDivID {
        height: 500px;
    }
    .noBold {
        font-weight: normal;
    }
    .summaryLayout{
        font-size:13px
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <p>
            Enter your @FieldDefinition.Project.GetFieldDefinitionLabel()'s approximate location by plotting a point on the map or by providing latitude and longitude coordinates.
        </p>
    </div>
</div>

@Html.ValidationSummary()
<div class="row" ng-controller="ProjectLocationSimpleController">
    <div class="col-xs-12 col-md-5 col-lg-4">
        <form method="POST" action="@ViewDataTyped.MapPostUrl" id="@ViewDataTyped.MapFormID">
            @Html.LabelWithSugarFor(FieldDefinition.ProjectLocation, LabelWithSugarForExtensions.DisplayStyle.HelpIconOnly)
            <strong>How do you want to specify your simple @FieldDefinition.ProjectLocation.GetFieldDefinitionLabel()?</strong>
            <span><sup>@Html.Raw(BootstrapHtmlHelpers.RequiredIcon)</sup></span>

            <div class="form-group">
                <div class="radio">
                    <label class="noBold">
                        <input type="radio" name="@Html.NameFor(m => m.ProjectLocationSimpleType)"
                               ng-model="AngularModel.ProjectLocationSimpleType"
                               value="@ProjectLocationSimpleTypeEnum.PointOnMap"
                               ng-click="toggleMap()" />
                        Plot a point on the map
                    </label>
                </div>
                
                @Html.ValidationMessageFor(x => x.ProjectLocationPointX)
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="noBold">
                        <input type="radio" name="@Html.NameFor(m => m.ProjectLocationSimpleType)"
                               ng-model="AngularModel.ProjectLocationSimpleType"
                               value="@ProjectLocationSimpleTypeEnum.LatLngInput"
                               ng-click="toggleMap()" />
                        Enter lat/lng coordinates (DD)
                    </label>
                </div>
                @Html.ValidationMessageFor(x => x.ProjectLocationPointX)
            </div>

            <div class="form-group" ng-show="displayLatLngInputs()">
                <div class="input-group">
                    <div class="input-group-addon">Lat</div>
                    <input class="form-control text-right" type="text" placeholder="Decimal or DMS" name="@Html.NameFor(m => m.ProjectLocationPointY)" ng-model="AngularModel.@Html.NameFor(m => m.ProjectLocationPointY)" ng-change="changedLatLngInput()" ng-blur="checkInputsForDegreeMinutes()" />
                    @Html.ValidationMessageFor(x => x.ProjectLocationPointY)
                </div>
            </div>
            <div class="form-group" ng-show="displayLatLngInputs()">
                <div class="input-group">
                    <div class="input-group-addon">Lng</div>
                    <input class="form-control text-right" type="text" placeholder="Decimal or DMS" name="@Html.NameFor(m => m.ProjectLocationPointX)" ng-model="AngularModel.@Html.NameFor(m => m.ProjectLocationPointX)" ng-change="changedLatLngInput()" ng-blur="checkInputsForDegreeMinutes()" />
                    @Html.ValidationMessageFor(x => x.ProjectLocationPointX)
                </div>
            </div>
           

            <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(m => m.ProjectLocationNotes)</label>
                <textarea class="form-control" style="resize: none;" name="@Html.NameFor(m => m.ProjectLocationNotes)"
                          ng-model="AngularModel.@Html.NameFor(m => m.ProjectLocationNotes)"></textarea>
                @Html.ValidationMessageFor(m => m.ProjectLocationNotes)
            </div>
            <div >
                <hr />
                <table class="summaryLayout">
                    <tr>
                        <th colspan="2">Location Information</th>
                    </tr>
                    <tr >
                        <th> @Html.LabelWithSugarFor(FieldDefinition.PriorityLandscape, LabelWithSugarForExtensions.DisplayStyle.HelpIconOnly) @FieldDefinition.PriorityLandscape.GetFieldDefinitionLabel():</th>
                        <td>{{propertiesForPointOnMap["Priority Landscape"]}}</td>
                    </tr>
                    <tr >
                        <th>@Html.LabelWithSugarFor(FieldDefinition.DNRUplandRegion, LabelWithSugarForExtensions.DisplayStyle.HelpIconOnly)  @FieldDefinition.DNRUplandRegion.GetFieldDefinitionLabel():</th>
                        <td>{{propertiesForPointOnMap["DNR Upland Region"]}}</td>
                    </tr>
                    <tr >
                        <th>@Html.LabelWithSugarFor(FieldDefinition.County, LabelWithSugarForExtensions.DisplayStyle.HelpIconOnly) @FieldDefinition.County.GetFieldDefinitionLabel():</th>
                        <td>{{propertiesForPointOnMap["County"]}}</td>
                    </tr>
                    <tr >
                        <th>Latitude:</th>
                        <td>{{propertiesForPointOnMap["Latitude"]}}</td>
                    </tr>
                    <tr >
                        <th>Longitude:</th>
                        <td>{{propertiesForPointOnMap["Longitude"]}}</td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
    <div class="col-xs-12 col-md-7 col-lg-8" id="mapContainer">
        <p>
            To zoom, hold down Shift and drag a rectangle.
        </p>
        <div id="@ViewDataTyped.ViewDataForAngular.MapInitJson.MapDivID"></div>
    </div>
</div>