@*-----------------------------------------------------------------------
    <copyright file="Detail.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.AgGridWrappers
@using LtInfo.Common.ModalDialog
@using LtInfo.Common.Views
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Controllers
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Security
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.FundSourceAllocation
@using ProjectFirma.Web.Views.Shared.FileResourceControls
@using ProjectFirma.Web.Views.Shared.FundSourceAllocationControls
@using ProjectFirma.Web.Views.Shared.TextControls

@inherits ProjectFirma.Web.Views.FundSourceAllocation.Detail

@section JavascriptAndStylesContent
{
    @{ AgGridIncludes.RenderPartialView(Html); }
    @{ MapJavascriptIncludes.RenderPartialView(Html); }
    <script type="text/javascript" src="/Content/Bootstrap-select/bootstrap-select.min.js"></script>
    <link href="~/Content/bootstrap-tags/bootstrap-tags.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Content/Bootstrap-select/bootstrap-select.min.css" type="text/css" />
    <script src="@Url.Content("~/Content/bootstrap-toc/bootstrap-toc.min.js")" type="text/javascript"></script>
}

<style type="text/css">

    .basicsLayout .row {
        margin-left: 0;
        margin-right: 0;
    }

        .basicsLayout .row div {
            padding-left: 0;
            padding-right: 5px;
        }

    .basicsLayout hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>

<div>
    <a class="btn backButton" style="padding-left: 0;" href="@ViewDataTyped.FundSourceAllocationsListUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left") @ViewDataTyped.BackToFundSourceAllocationsText</a>
</div>


<div class="col-sm-12">

    <div class="row">
        <div class="col-lg-5">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditFundSourceAllocationUrl, string.Format("Edit {0}", ViewDataTyped.FundSourceAllocation.FundSourceAllocationName), 950, ViewDataTyped.UserHasEditFundSourceAllocationPermissions)
                        Basics
                    </h3>
                </div>
                <div class="panel-body">
                    @{ FundSourceAllocationBasics.RenderPartialView(Html, ViewDataTyped.FundSourceAllocationBasicsViewData);}
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panelFirma">
                        <div class="panel-heading panelTitle">
                            <h3>Files</h3>
                        </div>
                        <div class="panel-body">
                            @{ FileDetails.RenderPartialView(Html, ViewDataTyped.FundSourceAllocationDetailsFileDetailsViewData); }
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel panelFirma">
                        <div class="panel-heading panelTitle">
                            @FieldDefinition.FundSourceAllocation.GetFieldDefinitionLabel() Expenditures by Year
                        </div>
                        <div class="panel-body">
                            @if (ViewDataTyped.ViewGoogleChartViewData.HasData)
                            {
                                <div style="border-radius: 8px; background-color: white; height: 410px; margin-right: auto; margin-left: auto; width: 600px">
                                    @{ ViewGoogleChart.RenderPartialView(Html, ViewDataTyped.ViewGoogleChartViewData); }
                                </div>
                            }
                            else
                            {
                                <p class="systemText">No expenditures to report for this @FieldDefinition.FundSourceAllocation.GetFieldDefinitionLabel().</p>
                            }
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>


    @{ FundSourceAllocationBudgetLineItems.RenderPartialView(Html, ViewDataTyped.FundSourceAllocationBudgetLineItemsViewData); }


    @{ FundSourceAllocationBudgetVsActuals.RenderPartialView(Html, ViewDataTyped.FundSourceAllocationBudgetVsActualsViewData); }

    
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    Funding by @FieldDefinition.Project.GetFieldDefinitionLabel()
                </div>
                <div class="panel-body">
                    @Html.AgGrid(ViewDataTyped.ProjectFundSourceAllocationRequestsGridSpec, ViewDataTyped.ProjectFundSourceAllocationRequestsGridName, ViewDataTyped.ProjectFundSourceAllocationRequestsGridDataUrl, "height:300px", AgGridResizeType.VerticalResizableHorizontalAutoFit)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    @FieldDefinition.Agreement.GetFieldDefinitionLabelPluralized() associated to this @FieldDefinition.FundSourceAllocation.GetFieldDefinitionLabel()
                </div>
                <div class="panel-body">
                    @foreach (var currentAgreementFundSourceAllocation in ViewDataTyped.CurrentAgreementFundSourceAllocationsInSortedOrder)
                    {
                        @currentAgreementFundSourceAllocation.Agreement.GetAgreementTitleAsUrl()
                        <br />
                    }
                    
                    @if (ViewDataTyped.CurrentAgreementFundSourceAllocationsInSortedOrder.Count < 1)
                    {
                        <p>There are no @FieldDefinition.Agreement.GetFieldDefinitionLabelPluralized() associated to this @FieldDefinition.FundSourceAllocation.GetFieldDefinitionLabel()</p>
                    }
                </div>
            </div>
        </div>
    </div>
    
    @if (ViewDataTyped.IsUserLoggedIn)
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panelFirma">
                    <div class="panel-heading panelTitle">
                        @FieldDefinition.ReportedExpenditure.GetFieldDefinitionLabelPluralized()
                    </div>
                    <div class="panel-body">
                        <p class="smallExplanationText">The source of record for the Expenditures listed below is the WA DNR financial system. The feed below is updated every 15 minutes.</p>
                        @Html.AgGrid(ViewDataTyped.FundSourceAllocationExpendituresGridSpec, ViewDataTyped.FundSourceAllocationExpendituresGridName, ViewDataTyped.FundSourceAllocationExpendituresGridDataUrl, "height:300px", AgGridResizeType.VerticalResizableHorizontalAutoFit)
                    </div>
                </div>
            </div>
        </div>
    }
    

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        Notes
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="basicsLayout">
                        <strong>Public Notes</strong>
                        @{ EntityNotes.RenderPartialView(Html, ViewDataTyped.FundSourceAllocationNotesViewData); }

                        @if (new FundSourceAllocationNoteInternalViewFeature().HasPermissionByPerson(ViewDataTyped.CurrentPerson))
                        {
                            <strong>Internal Notes</strong>
                            EntityNotes.RenderPartialView(Html, ViewDataTyped.FundSourceAllocationNoteInternalsViewData);
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        Allocation Amount Change Log
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="basicsLayout">
                        <table class="summaryLayout">
                            @foreach (var changeLog in ViewDataTyped.FundSourceAllocation.FundSourceAllocationChangeLogs.OrderByDescending(x => x.ChangeDate))
                            {
                                <tr>
                                    <th scope="row">Created:</th>
                                    <td>@changeLog.ChangeDate.ToStringDateTime()</td>
                                    <td>@changeLog.ChangePerson.FullNameFirstLastAndOrgShortName</td>
                                </tr>
                                <tr>
                                    <th scope="row">Old Amount:</th>
                                    <td>@changeLog.FundSourceAllocationAmountOldValue.ToStringCurrency()</td>
                                </tr>
                                <tr>
                                    <th scope="row">New Amount:</th>
                                    <td>@changeLog.FundSourceAllocationAmountNewValue.ToStringCurrency()</td>
                                </tr>
                                <tr>
                                    <th scope="row">Note:</th>
                                    <td colspan="3">@Html.Raw(changeLog.FundSourceAllocationAmountNote.HtmlEncodeWithBreaks())</td>
                                </tr>
                                <tr><td>&nbsp;</td></tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>