@*-----------------------------------------------------------------------
    <copyright file="EditAgreementFundSourceAllocations.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.BootstrapWrappers
@using ProjectFirma.Web.Models
@using Newtonsoft.Json.Linq
@inherits ProjectFirma.Web.Views.Agreement.EditAgreementFundSourceAllocations

<script type="text/javascript" src="@Url.Content("~/Views/Agreement/EditAgreementFundSourceAllocationsController.js")"></script>

<script type="text/javascript">
    // <![CDATA[
    angular.module("ProjectFirmaApp").factory("angularModelAndViewData", function ()
    {
        return {
            AngularModel: @Html.Raw(JObject.FromObject(Model)),
            AngularViewData: @Html.Raw(JObject.FromObject(ViewDataTyped))
        };
    });
    jQuery(function ()
    {
        angular.bootstrap(jQuery("#EditAgreementFundSourceAllocationsAngularApp"), ["ProjectFirmaApp"]);

        jQuery(".selectpicker").selectpicker("refresh");
        jQuery(".modal").on("hidden.bs.modal",
            function() {
                jQuery(".bootstrap-select.open").removeClass("open");
            });

        jQuery(".modal").css({"overflow": "visible"});
        jQuery(".modal-body").css({"overflow-y": "visible"});

    });
    // ]]>
</script>

<script type="text/javascript" src="/Content/Bootstrap-select/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="/Content/Bootstrap-select/bootstrap-select.min.css" type="text/css" />

<style>

    .table > tbody > tr.subRelationships > td {
        border-top: none;
        padding-top: 0;
    }

    .col-xs-5.personIdSelectGroup div.bootstrap-select.btn-group {
        width: 100%;
    }

    #WrappingDivForAllContent {
        min-height: 200px;
    }
</style>

@*We need to add some extra space here because the select dropdown will appear inside the
    region of the dialog, and needs space to grow.*@
<div class="validationError">
    @Html.ValidationSummary()
</div>

<div id="EditAgreementFundSourceAllocationsAngularApp" ng-controller="EditAgreementFundSourceAllocationsController">
    <div class="row">
        <div class="col-md-12">
            <p>Select the @FieldDefinition.FundSourceAllocation.GetFieldDefinitionLabelPluralized() that are associated with your @FieldDefinition.Agreement.GetFieldDefinitionLabel(). </p>
        </div>
    </div>

    <div id="WrappingDivForAllContent" class="row">
        @*<div class="col-md-9 col-md-pull-3">*@
        <div class="col-md-12">
            <div class="row">
                @*Selectpicker*@
                <div class="col-md-10">
                    <div class="input-group" style="width: 100%;">
                        <select class="selectpicker" id="todo{{AngularViewData.FundSourceAllocationId}}"
                                ng-model="selectedFundSourceAllocationID"
                                @*ng-change="console.log('selection changed')"*@
                                data-width="100%" data-live-search="true" data-size="8">
                            <option value="" disabled selected ng-bind="dropdownDefaultOption()">Select one</option>
                            <option ng-repeat="fundSourceAllocation in getAvailableFundSourceAllocationsForAgreement()"
                                    ng-bind="(fundSourceAllocation.FundSourceNumber) + ' ' + (fundSourceAllocation.FundSourceAllocationName)"
                                    ng-value="fundSourceAllocation.FundSourceAllocationID"
                                    ng-selected="isOptionSelected(fundSourceAllocation)"></option>
                        </select>
                        <button type="button" class="btn btn-sm btn-firma" ng-click="addFundSourceAllocation(selectedFundSourceAllocationID)">
                            <span class="glyphicon glyphicon-plus"></span>
                            Add
                        </button>
                    </div>
                </div>
            </div>
            <br />
            <span>Currently Selected @FieldDefinition.FundSourceAllocation.GetFieldDefinitionLabelPluralized():</span>
            <div class="row" ng-repeat="currentFundSourceAllocationJson in AngularModel.FundSourceAllocationJsons" style="margin-top: 5px;">
                @*Selections*@
                <div class="col-md-12">
                    <span>
                        <a href="#" ng-click="removeSelectedFundSourceAllocation(currentFundSourceAllocationJson.FundSourceAllocationID); $event.preventDefault();">
                            <i class="glyphicon glyphicon-trash" title="Remove @FieldDefinition.FundSourceAllocation.GetFieldDefinitionLabel()" alt="Remove @FieldDefinition.FundSourceAllocation.GetFieldDefinitionLabel()"></i>
                        </a>
                    </span>
                    <span ng-bind="(currentFundSourceAllocationJson.FundSourceNumber) + ' ' + (currentFundSourceAllocationJson.FundSourceAllocationName)"></span>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        <div ng-repeat="fundSourceAllocationJson in AngularModel.FundSourceAllocationJsons">
            <input type="hidden" name="@Html.NameFor(x => x.FundSourceAllocationJsons[0].FundSourceAllocationID).ToString().Replace("0", "{{$index}}")" value="{{fundSourceAllocationJson.FundSourceAllocationID}}" />
            <input type="hidden" name="@Html.NameFor(x => x.FundSourceAllocationJsons[0].FundSourceAllocationName).ToString().Replace("0", "{{$index}}")" value="{{fundSourceAllocationJson.FundSourceAllocationName}}" />
        </div>
    }
</div>




