@*-----------------------------------------------------------------------
<copyright file="FileDetails.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
<author>Environmental Science Associates</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@

@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Views

@inherits ProjectFirma.Web.Views.Shared.FileResourceControls.FileDetails

@if (ViewDataTyped.CanEditFiles)
{
    <div class="pull-right">
        @ModalDialogFormHelper.ModalDialogFormLink(string.Format("{0} Add File(s)", FirmaAgGridHtmlHelpers.PlusIcon), ViewDataTyped.AddFilesUrl, "Upload New File(s)", new List<string> { "btn", "btn-firma", "btn-sm" }, ViewDataTyped.CanEditFiles)
    </div>
}

@if (!ViewDataTyped.Files.Any())
{
    <p class="systemText">No files associated with this @ViewDataTyped.FieldDefinition.GetFieldDefinitionLabel().</p>
}

@foreach (var file in ViewDataTyped.Files)
{
    <div class="@file.DisplayCssClass">
        @if (ViewDataTyped.CanEditFiles)
        {
            if (!string.IsNullOrWhiteSpace(file.EditUrl))
            {
                <span style="margin-left: 7px;">
                    @ModalDialogFormHelper.ModalDialogFormLink(BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-edit").ToString(), file.EditUrl, "Edit Document", null, true)
                </span>
            }
            else
            {
                <span style="margin-left: 25px;"></span>
            }

            if (!string.IsNullOrWhiteSpace(file.DeleteUrl))
            {
                <span style="margin: 0 8px;">
                    @ModalDialogFormHelper.MakeDeleteLink(BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-trash").ToString(), file.DeleteUrl, null, true)
                </span>
            }
            else
            {
                <span style="margin-left: 25px;"></span>
            }
        }

        <a href="@file.FileResource.FileResourceUrl">
            @file.DisplayName
            @BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-download")
        </a>

        <dl class="dl-horizontal">
            <dt>Uploaded On</dt>
            <dd title="@file.FileResource.CreateDate.ToLongDateString() @file.FileResource.CreateDate.ToLongTimeString()">@file.FileResource.CreateDate.ToShortDateString()</dd>

            <dt>File Type</dt>
            <dd>@file.FileResource.FileResourceMimeType.FileResourceMimeTypeDisplayName</dd>
            
            @if (!string.IsNullOrWhiteSpace(file.Description))
            {
                <dt>Description</dt>
                <dd>@file.Description</dd>
            }
        </dl>
    </div>
}
