@*-----------------------------------------------------------------------
    <copyright file="NewFile.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@

@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.Mvc
@inherits ProjectFirma.Web.Views.Shared.FileResourceControls.NewFile

<script type="text/javascript" src="@Url.Content("~/Views/Shared/FileResourceControls/NewFileController.js")"></script>
<script type="text/javascript">
    // <![CDATA[
    jQuery(function ()
    {
        angular.bootstrap(jQuery("#AngularAppRoot"), ["ProjectFirmaApp"]);
    });
    // ]]>
</script>

@Html.ValidationSummary()
<div id="AngularAppRoot" ng-controller="NewFileController">
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <div class="multiple-file-upload-wrapper">
                <div class="form-group">
                    <div class="col-sm-12">
                        @Html.LabelWithSugarFor(m => m.FileResourcesData, ViewDataTyped.TargetEntityName + " File Upload")
                        <input type="file" ng-file-model="files" multiple name="@Html.NameFor(x => x.FileResourcesData)" class="multiple-file-upload" id="@Html.IdFor(x => x.FileResourcesData)" />
                        <p class="help-block">Drag and drop or click on the box above to upload files. <br />Allowed Extensions: @Model.GetFileExtensions(x => x.FileResourcesData)</p>
                        @Html.ValidationMessageFor(m => m.FileResourcesData)
                    </div>
                </div>

                <div class="form-horizontal file-inputs" ng-repeat="(key, file) in files">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p class="help-block" style="margin-bottom: 0;"> @BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-file") {{file.name}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-3 control-label">
                            @Html.LabelWithRequiredTagFor("Display Name")
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <input type="text" class="form-control" name="@Html.NameFor(x => x.DisplayNames[0]).ToString().Replace("0", "{{$index}}")" id="@((Html.IdFor(m => m.DisplayNames) + "[0]").ToString().Replace("0", "{{$index}}"))" value="{{file.name}}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-3 control-label">
                            @Html.LabelWithSugarFor(x => x.Descriptions)
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <input type="textarea" class="form-control" name="@Html.NameFor(x => x.Descriptions[0]).ToString().Replace("0", "{{$index}}")" id="@((Html.IdFor(m => m.Descriptions) + "[0]").ToString().Replace("0", "{{$index}}"))" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
