@*-----------------------------------------------------------------------
    <copyright file="CustomNotification.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Controllers
@using LtInfo.Common
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using Microsoft.Web.Mvc
@inherits ProjectFirma.Web.Views.FindYourForester.BulkAssignForesters

@{
    ViewBag.Title = "BulkAssignForesters";
}

@using (Html.BeginForm<FindYourForesterController>(c => c.UpdateBulkAssignedForesters(null)))
{

    if (Model.ForesterWorkUnitIDList == null || !Model.ForesterWorkUnitIDList.Any())
    {
        <p>
            No forester work units selected to be modified.
        </p>

        <script type="text/javascript">
        // <![CDATA[
        var saveButtonId = "@ModalDialogFormHelper.SaveButtonID";
        jQuery("#" + saveButtonId).hide();
        // ]]>
        </script>
    }
    else
    {
        <div >
            <div style="margin: 5px 0">Assign the following @ViewDataTyped.ForesterWorkUnitIDList[0].ForesterRole.ForesterRoleDisplayName Work Units:</div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4 stylizeLikeTH">Forester Work Unit Name</div>
                <div class="col-md-4 stylizeLikeTH">Current Forester Assignment</div>
            </div>
            <div class ="pre-scrollable" style="max-height: 200px; overflow-x: hidden; margin-bottom: 25px; ">
                @foreach (var foresterWorkUnit in ViewDataTyped.ForesterWorkUnitIDList)
                {
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">@foresterWorkUnit.ForesterWorkUnitName</div>
                        @if (@foresterWorkUnit.PersonID != null)
                        {
                            <div class="col-md-4">@foresterWorkUnit.Person.FullNameFirstLast</div>
                        }
                        else
                        {
                            <div class="col-md-4">Unassigned</div>
                        }
                        <div class="col-md-2"></div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-md-2" style="margin: 5px 0">To:</div>
                <div class="col-md-10">
                    @Html.SearchableDropDownListFor(m=>m.SelectedForesterPersonID, ViewDataTyped.AllPossibleForesters,new {@class = "form-control selectpicker", style = "width:auto"})
                </div>
                @foreach (var foresterWorkUnit in Model.ForesterWorkUnitIDList)
                {
                    @Html.Hidden("ForesterWorkUnitIDList[]", foresterWorkUnit)
                }
                @Html.HiddenFor(x => x.ForesterRoleID)
            </div>
            <div style="margin: 5px 0">
                All the above work units will be reassigned to this selection
            </div>

            </div>
    }
}

<script type="text/javascript">
    var saveButtonId = "@ModalDialogFormHelper.SaveButtonID";
    jQuery("#" + saveButtonId).enable(false);
    var selectedUser = jQuery('#' + '@Html.IdFor(m=>m.SelectedForesterPersonID)');

    function SelectedUserToChangeEvents()
    {
        selectedUser.on("change", selectedUserChanged);
    }
    function selectedUserChanged() { 
        var currentSelectedPersonNumber = jQuery('#' + '@Html.IdFor(m => m.SelectedForesterPersonID)' + ' option:selected' ).index();
        if (currentSelectedPersonNumber === 0) {
            jQuery("#" + saveButtonId).enable(false);
        } else {
            jQuery("#" + saveButtonId).enable();
        }
    }
    jQuery(function ()
    {
        SelectedUserToChangeEvents();
    });


</script>