@*-----------------------------------------------------------------------
    <copyright file="DuplicateGrant.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Models
@inherits ProjectFirma.Web.Views.Grant.DuplicateGrant



<h2>@FieldDefinition.Grant.GetFieldDefinitionLabel() Duplication</h2>
<p>Saving this form will create a new @FieldDefinition.Grant.GetFieldDefinitionLabel() and @FieldDefinition.GrantAllocation.GetFieldDefinitionLabelPluralized() from the @ViewDataTyped.FundSourceToDuplicate.FundSourceName @FieldDefinition.Grant.GetFieldDefinitionLabel(). </p>
<p>Contributing Organization, @FieldDefinition.GrantType.GetFieldDefinitionLabel(), and CFDA will be copied automatically.</p>

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-3 control-label">
                @Html.LabelWithSugarFor(m => m.GrantName)
            </div>
            <div class="col-xs-8">
                @Html.TextBoxFor(m => m.GrantName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.GrantName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3 control-label">
                @Html.LabelWithSugarFor(m => m.GrantStatusID)
            </div>
            <div class="col-xs-8">
                @Html.DropDownListFor(m => m.GrantStatusID, ViewDataTyped.GrantStatuses, new { style = "width: auto;", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.GrantStatusID)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3 control-label">
                @Html.LabelWithSugarFor(m => m.GrantNumber)
            </div>
            <div class="col-xs-8">
                @Html.TextBoxFor(m => m.GrantNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.GrantNumber)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3 control-label">
                @Html.LabelWithSugarFor(m => m.GrantStartDate)
            </div>
            <div class="col-xs-3">
                @Html.EditorFor(m => m.GrantStartDate, new { style = "width: auto;", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.GrantStartDate)
            </div>
            <div class="col-xs-2 control-label">
                @Html.LabelWithSugarFor(m => m.GrantEndDate)
            </div>
            <div class="col-xs-3">
                @Html.EditorFor(m => m.GrantEndDate, new { style = "width: auto;", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.GrantEndDate)
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-xs-3 control-label">
                @Html.LabelWithSugarFor(m => m.GrantTotalAwardAmount)
            </div>
            <div class="col-xs-8">
                @Html.EditorFor(m => m.GrantTotalAwardAmount)
                @Html.ValidationMessageFor(m => m.GrantTotalAwardAmount)
            </div>
        </div>
        
        
        <p>The @FieldDefinition.GrantAllocation.GetFieldDefinitionLabelPluralized() below are associated with @ViewDataTyped.FundSourceToDuplicate.FundSourceName.</p>
        <div class="form-group">
            <div class="col-xs-12"><p>Select the <strong>@FieldDefinition.GrantAllocation.GetFieldDefinitionLabelPluralized()</strong> you wish to copy:</p></div>
            <div class="col-xs-12">
                @if(ViewDataTyped.GrantAllocations.Any())
                {
                    @Html.CheckBoxListFor(m => m.GrantAllocationsToDuplicate, ViewDataTyped.GrantAllocations, new {@class = "col-xs-3"})

                }
                else
                {
                    <p>There are no @FieldDefinition.GrantAllocation.GetFieldDefinitionLabelPluralized() associated to "@ViewDataTyped.FundSourceToDuplicate.FundSourceName" @FieldDefinition.Grant.GetFieldDefinitionLabel().</p>
                }
            </div>
        </div>
        

    </div>
    @Html.HiddenFor(m => m.GrantID)
    @Html.HiddenFor(m => m.InitialAwardGrantModificationID)
}