@*-----------------------------------------------------------------------
    <copyright file="DuplicateFundSource.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Models
@inherits ProjectFirma.Web.Views.FundSource.DuplicateFundSource



<h2>@FieldDefinition.FundSource.GetFieldDefinitionLabel() Duplication</h2>
<p>Saving this form will create a new @FieldDefinition.FundSource.GetFieldDefinitionLabel() and @FieldDefinition.FundSourceAllocation.GetFieldDefinitionLabelPluralized() from the @ViewDataTyped.FundSourceToDuplicate.FundSourceName @FieldDefinition.FundSource.GetFieldDefinitionLabel(). </p>
<p>Contributing Organization, @FieldDefinition.FundSourceType.GetFieldDefinitionLabel(), and CFDA will be copied automatically.</p>

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-3 control-label">
                @Html.LabelWithSugarFor(m => m.FundSourceName)
            </div>
            <div class="col-xs-8">
                @Html.TextBoxFor(m => m.FundSourceName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FundSourceName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3 control-label">
                @Html.LabelWithSugarFor(m => m.FundSourceStatusID)
            </div>
            <div class="col-xs-8">
                @Html.DropDownListFor(m => m.FundSourceStatusID, ViewDataTyped.FundSourceStatuses, new { style = "width: auto;", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FundSourceStatusID)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3 control-label">
                @Html.LabelWithSugarFor(m => m.FundSourceNumber)
            </div>
            <div class="col-xs-8">
                @Html.TextBoxFor(m => m.FundSourceNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FundSourceNumber)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3 control-label">
                @Html.LabelWithSugarFor(m => m.FundSourceStartDate)
            </div>
            <div class="col-xs-3">
                @Html.EditorFor(m => m.FundSourceStartDate, new { style = "width: auto;", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FundSourceStartDate)
            </div>
            <div class="col-xs-2 control-label">
                @Html.LabelWithSugarFor(m => m.FundSourceEndDate)
            </div>
            <div class="col-xs-3">
                @Html.EditorFor(m => m.FundSourceEndDate, new { style = "width: auto;", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FundSourceEndDate)
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-xs-3 control-label">
                @Html.LabelWithSugarFor(m => m.FundSourceTotalAwardAmount)
            </div>
            <div class="col-xs-8">
                @Html.EditorFor(m => m.FundSourceTotalAwardAmount)
                @Html.ValidationMessageFor(m => m.FundSourceTotalAwardAmount)
            </div>
        </div>
        
        
        <p>The @FieldDefinition.FundSourceAllocation.GetFieldDefinitionLabelPluralized() below are associated with @ViewDataTyped.FundSourceToDuplicate.FundSourceName.</p>
        <div class="form-group">
            <div class="col-xs-12"><p>Select the <strong>@FieldDefinition.FundSourceAllocation.GetFieldDefinitionLabelPluralized()</strong> you wish to copy:</p></div>
            <div class="col-xs-12">
                @if(ViewDataTyped.FundSourceAllocations.Any())
                {
                    @Html.CheckBoxListFor(m => m.FundSourceAllocationsToDuplicate, ViewDataTyped.FundSourceAllocations, new {@class = "col-xs-3"})

                }
                else
                {
                    <p>There are no @FieldDefinition.FundSourceAllocation.GetFieldDefinitionLabelPluralized() associated to "@ViewDataTyped.FundSourceToDuplicate.FundSourceName" @FieldDefinition.FundSource.GetFieldDefinitionLabel().</p>
                }
            </div>
        </div>
        

    </div>
    @Html.HiddenFor(m => m.FundSourceID)
    @Html.HiddenFor(m => m.InitialAwardFundSourceModificationID)
}