@*-----------------------------------------------------------------------
<copyright file="EditFundSource.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
<author>Environmental Science Associates</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Views.FundSource.EditFundSource

@Html.Raw(ViewDataTyped.EditFundSourceType.IntroductoryText)

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.FundSourceName)
            </div>
            <div class="col-xs-8">
                @Html.TextBoxFor(m => m.FundSourceName, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.FundSourceName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.FundSourceShortName)
            </div>
            <div class="col-xs-8">
                @Html.TextBoxFor(m => m.FundSourceShortName, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.FundSourceShortName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.OrganizationID)
            </div>
            <div class="col-xs-8">
                @Html.DropDownListFor(m => m.OrganizationID, ViewDataTyped.Organizations, new {style = "width: auto;", @class = "form-control"})
                @Html.ValidationMessageFor(m => m.OrganizationID)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.FundSourceStatusID)
            </div>
            <div class="col-xs-8">
                @Html.DropDownListFor(m => m.FundSourceStatusID, ViewDataTyped.FundSourceStatuses, new {style = "width: auto;", @class = "form-control"})
                @Html.ValidationMessageFor(m => m.FundSourceStatusID)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.FundSourceTypeID)
            </div>
            <div class="col-xs-8">
                @Html.DropDownListFor(m => m.FundSourceTypeID, ViewDataTyped.FundSourceTypes, new {style = "width: auto;", @class = "form-control"})
                @Html.ValidationMessageFor(m => m.FundSourceTypeID)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.FundSourceNumber)
            </div>
            <div class="col-xs-8">
                @Html.TextBoxFor(m => m.FundSourceNumber, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.FundSourceNumber)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.CFDANumber)
            </div>
            <div class="col-xs-8">
                @Html.TextBoxFor(m => m.CFDANumber, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.CFDANumber)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.TotalAwardAmount)
            </div>
            <div class="col-xs-8">
                @Html.EditorFor(m => m.TotalAwardAmount)
                @Html.ValidationMessageFor(m => m.TotalAwardAmount)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.FundSourceStartDate)
            </div>
            <div class="col-xs-8">
                @Html.EditorFor(m => m.FundSourceStartDate, new {style = "width: auto;", @class = "form-control"})
                @Html.ValidationMessageFor(m => m.FundSourceStartDate)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.FundSourceEndDate)
            </div>
            <div class="col-xs-8">
                @Html.EditorFor(m => m.FundSourceEndDate, new {style = "width: auto;", @class = "form-control"})
                @Html.ValidationMessageFor(m => m.FundSourceEndDate)
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.FundSourceID)
}