@*-----------------------------------------------------------------------
<copyright file="EditGrant.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
<author>Environmental Science Associates</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Views.Grant.EditGrant

@Html.Raw(ViewDataTyped.EditGrantType.IntroductoryText)

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.GrantName)
            </div>
            <div class="col-xs-8">
                @Html.TextBoxFor(m => m.GrantName, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.GrantName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.GrantShortName)
            </div>
            <div class="col-xs-8">
                @Html.TextBoxFor(m => m.GrantShortName, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.GrantShortName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.OrganizationID)
            </div>
            <div class="col-xs-8">
                @Html.DropDownListFor(m => m.OrganizationID, ViewDataTyped.Organizations, new {style = "width: auto;", @class = "form-control"})
                @Html.ValidationMessageFor(m => m.OrganizationID)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.GrantStatusID)
            </div>
            <div class="col-xs-8">
                @Html.DropDownListFor(m => m.GrantStatusID, ViewDataTyped.GrantStatuses, new {style = "width: auto;", @class = "form-control"})
                @Html.ValidationMessageFor(m => m.GrantStatusID)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.GrantTypeID)
            </div>
            <div class="col-xs-8">
                @Html.DropDownListFor(m => m.GrantTypeID, ViewDataTyped.GrantTypes, new {style = "width: auto;", @class = "form-control"})
                @Html.ValidationMessageFor(m => m.GrantTypeID)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.GrantNumber)
            </div>
            <div class="col-xs-8">
                @Html.TextBoxFor(m => m.GrantNumber, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.GrantNumber)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.CFDANumber)
            </div>
            <div class="col-xs-8">
                @Html.TextBoxFor(m => m.CFDANumber, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.CFDANumber)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.TotalAwardAmount)
            </div>
            <div class="col-xs-8">
                @Html.EditorFor(m => m.TotalAwardAmount)
                @Html.ValidationMessageFor(m => m.TotalAwardAmount)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.GrantStartDate)
            </div>
            <div class="col-xs-8">
                @Html.EditorFor(m => m.GrantStartDate, new {style = "width: auto;", @class = "form-control"})
                @Html.ValidationMessageFor(m => m.GrantStartDate)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.GrantEndDate)
            </div>
            <div class="col-xs-8">
                @Html.EditorFor(m => m.GrantEndDate, new {style = "width: auto;", @class = "form-control"})
                @Html.ValidationMessageFor(m => m.GrantEndDate)
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.GrantID)
}