@*-----------------------------------------------------------------------
    <copyright file="Basics.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using LtInfo.Common.Mvc
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@inherits ProjectFirma.Web.Views.GisProjectBulkUpdate.GisMetadata

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
}


<div style="margin-top: 10px">
    @Html.DhtmlxGrid(ViewDataTyped.GisRecordGridSpec, ViewDataTyped.GridName, ViewDataTyped.GridDataUrl, "min-height:350px;", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
</div>


<form method="POST" id="createProjectsForm" action="@ViewDataTyped.GisMetadataPostUrl" enctype="multipart/form-data">
    <div class="form-horizontal">
    <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.ProjectIdentifierMetadataAttributeID)
            </div>
            <div class="col-xs-8">
                @Html.DropDownListFor(m => m.ProjectIdentifierMetadataAttributeID, ViewDataTyped.ProjectIDGisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ProjectIdentifierMetadataAttributeID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.ProjectNameMetadataAttributeID)
            </div>
            <div class="col-xs-8">
                @Html.DropDownListFor(m => m.ProjectNameMetadataAttributeID, ViewDataTyped.ProjectNameGisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ProjectNameMetadataAttributeID)
            </div>
        </div>
        
        <div class="nonFlattenedColumns">
            <div class="form-group">
                <div class="col-xs-4 control-label">
                    @Html.LabelWithSugarFor(m => m.TreatmentTypeMetadataAttributeID)
                </div>
                <div class="col-xs-8">
                    @Html.DropDownListFor(m => m.TreatmentTypeMetadataAttributeID, ViewDataTyped.TreatmentTypeGisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.TreatmentTypeMetadataAttributeID)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.CompletionDateMetadataAttributeID)
            </div>
            <div class="col-xs-8">
                @Html.DropDownListFor(m => m.CompletionDateMetadataAttributeID, ViewDataTyped.CompletionDateGisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CompletionDateMetadataAttributeID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.StartDateMetadataAttributeID)
            </div>
            <div class="col-xs-8">
                @Html.DropDownListFor(m => m.StartDateMetadataAttributeID, ViewDataTyped.StartDateGisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.StartDateMetadataAttributeID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.ProjectStageMetadataAttributeID)
            </div>
            <div class="col-xs-8">
                @Html.DropDownListFor(m => m.ProjectStageMetadataAttributeID, ViewDataTyped.ProjectStageGisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ProjectStageMetadataAttributeID)
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.LeadImplementerMetadataAttributeID)
            </div>
            <div class="col-xs-8">
                @Html.DropDownListFor(m => m.LeadImplementerMetadataAttributeID, ViewDataTyped.ProjectStageGisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LeadImplementerMetadataAttributeID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.FootprintAcresMetadataAttributeID)
            </div>
            <div class="col-xs-8">
                @Html.DropDownListFor(m => m.FootprintAcresMetadataAttributeID, ViewDataTyped.FootprintAcresGisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FootprintAcresMetadataAttributeID)
                <p><span style="font-size: 12px;"> If footprint acres is left blank it will be calculated based on the geospatial shape</span></p>
            </div>
        </div>
        
    
        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.PrivateLandownerMetadataAttributeID)
            </div>
            <div class="col-xs-8">
                @Html.DropDownListFor(m => m.PrivateLandownerMetadataAttributeID, ViewDataTyped.PrivateLandownerMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PrivateLandownerMetadataAttributeID)
            </div>
        </div>

        
        <div class="nonFlattenedColumns">
            <div class="form-group">
                <div class="col-xs-4 control-label">
                    @Html.LabelWithSugarFor(m => m.TreatmentDetailedActivityTypeMetadataAttributeID)
                </div>
                <div class="col-xs-8">
                    @Html.DropDownListFor(m => m.TreatmentDetailedActivityTypeMetadataAttributeID, ViewDataTyped.TreatmentDetailedActivityTypeGisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.TreatmentDetailedActivityTypeMetadataAttributeID)
                </div>
            </div>
        </div>
    
        <div class="nonFlattenedColumns">
            <div class="form-group">
                <div class="col-xs-4 control-label">
                    @Html.LabelWithSugarFor(m => m.TreatedAcresMetadataAttributeID)
                </div>
                <div class="col-xs-8">
                    @Html.DropDownListFor(m => m.TreatedAcresMetadataAttributeID, ViewDataTyped.TreatedAcresGisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.TreatedAcresMetadataAttributeID)
                    <p><span style="font-size: 12px;"> If treated acres is left blank it will be calculated based on the geospatial shape</span></p>
                    
                </div>
            </div>
            
        </div>
        
        
        <div id="detailedTreatmentActivityTypes" class="flattenedColumns">
            <hr/>
            <div class="form-group">
                <div class="col-xs-4 control-label">
                    @Html.LabelWithSugarFor(m => m.PruningAcresMetadataAttributeID, true)
                </div>
                <div class="col-xs-8">
                    @Html.DropDownListFor(m => m.PruningAcresMetadataAttributeID, ViewDataTyped.PruningAcresGisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PruningAcresMetadataAttributeID)
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-xs-4 control-label">
                    @Html.LabelWithSugarFor(m => m.ThinningAcresMetadataAttributeID, true)
                </div>
                <div class="col-xs-8">
                    @Html.DropDownListFor(m => m.ThinningAcresMetadataAttributeID, ViewDataTyped.ThinningAcresGisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ThinningAcresMetadataAttributeID)
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-xs-4 control-label">
                    @Html.LabelWithSugarFor(m => m.ChippingAcresMetadataAttributeID, true)
                </div>
                <div class="col-xs-8">
                    @Html.DropDownListFor(m => m.ChippingAcresMetadataAttributeID, ViewDataTyped.ChippingAcresGisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ChippingAcresMetadataAttributeID)
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-xs-4 control-label">
                    @Html.LabelWithSugarFor(m => m.MasticationAcresMetadataAttributeID, true)
                </div>
                <div class="col-xs-8">
                    @Html.DropDownListFor(m => m.MasticationAcresMetadataAttributeID, ViewDataTyped.MasticationAcresGisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.MasticationAcresMetadataAttributeID)
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-xs-4 control-label">
                    @Html.LabelWithSugarFor(m => m.GrazingAcresMetadataAttributeID, true)
                </div>
                <div class="col-xs-8">
                    @Html.DropDownListFor(m => m.GrazingAcresMetadataAttributeID, ViewDataTyped.GrazingAcresGisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.GrazingAcresMetadataAttributeID)
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-xs-4 control-label">
                    @Html.LabelWithSugarFor(m => m.LopScatAcresMetadataAttributeID, true)
                </div>
                <div class="col-xs-8">
                    @Html.DropDownListFor(m => m.LopScatAcresMetadataAttributeID, ViewDataTyped.LopScatAcresGisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LopScatAcresMetadataAttributeID)
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-xs-4 control-label">
                    @Html.LabelWithSugarFor(m => m.BiomassRemovalAcresMetadataAttributeID, true)
                </div>
                <div class="col-xs-8">
                    @Html.DropDownListFor(m => m.BiomassRemovalAcresMetadataAttributeID, ViewDataTyped.BiomassRemovalAcresGisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.BiomassRemovalAcresMetadataAttributeID)
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-xs-4 control-label">
                    @Html.LabelWithSugarFor(m => m.HandPileAcresMetadataAttributeID, true)
                </div>
                <div class="col-xs-8">
                    @Html.DropDownListFor(m => m.HandPileAcresMetadataAttributeID, ViewDataTyped.HandPileAcresGisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.HandPileAcresMetadataAttributeID)
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-xs-4 control-label">
                    @Html.LabelWithSugarFor(m => m.HandPileBurnAcresMetadataAttributeID, true)
                </div>
                <div class="col-xs-8">
                    @Html.DropDownListFor(m => m.HandPileBurnAcresMetadataAttributeID, ViewDataTyped.HandPileBurnAcresGisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.HandPileBurnAcresMetadataAttributeID)
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-xs-4 control-label">
                    @Html.LabelWithSugarFor(m => m.MachinePileBurnAcresMetadataAttributeID, true)
                </div>
                <div class="col-xs-8">
                    @Html.DropDownListFor(m => m.MachinePileBurnAcresMetadataAttributeID, ViewDataTyped.MachinePileBurnAcresGisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.MachinePileBurnAcresMetadataAttributeID)
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-xs-4 control-label">
                    @Html.LabelWithSugarFor(m => m.BroadcastBurnAcresMetadataAttributeID, true)
                </div>
                <div class="col-xs-8">
                    @Html.DropDownListFor(m => m.BroadcastBurnAcresMetadataAttributeID, ViewDataTyped.BroadcastBurnAcresGisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.BroadcastBurnAcresMetadataAttributeID)
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-xs-4 control-label">
                    @Html.LabelWithSugarFor(m => m.OtherAcresMetadataAttributeID, true)
                </div>
                <div class="col-xs-8">
                    @Html.DropDownListFor(m => m.OtherAcresMetadataAttributeID, ViewDataTyped.OtherBurnAcresGisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.OtherAcresMetadataAttributeID)
                </div>
            </div>

        </div>
    </div>
</form>
<div id="gisMetadataSaving" style="min-height:100px"></div>

<div class="pull-right">
    @*<a class="btn btn-xs btn-firma" href="@ViewDataTyped.GisMetadataUrl">Continue <span class='glyphicon glyphicon-chevron-right'></span></a>*@
    <button id="uploadAdvance" class="btn btn-xs btn-firma" value="true" name="@Html.NameFor(x => x.AutoAdvance)">Create Projects</button>
</div>

<script type="text/javascript">

        function uploadGisFileAndRefreshCurrentPage() {
            uploadGisFile(true);
        }

    function createProjectsAndAdvanceCurrentPage() {
            uploadGisFile(true);
        }

    function uploadGisFile(refresh) {
        var form = jQuery("#createProjectsForm");
        if (form.valid()) {
            var gisUploadResults = jQuery("#gisMetadataSaving");
            form.ajaxForm({
                url: this.action,
                type: this.method,
                beforeSubmit: function ()
                {
                    gisUploadResults.html("<div><div class='progress'><div class='progress-bar progress-bar-info progress-bar-striped active' role='progressbar' style='width:100%'>Creating Projects</div></div></div>");
                },
                success: function (result, textStatus, jqXhr) {
                    jQuery(".progress").hide();
                    // Piggy back off the centralized login required detection in Ajax handling in SitkaAjax
                    if (refresh) {
                        window.location.href = "@ViewDataTyped.ProjectIndexUrl";
                    }
                    else
                    {
                        window.location.href = "@ViewDataTyped.ProjectIndexUrl";
                    }
                },
                error: function (xhr, statusText) {
                    // Piggy back off the centralized error Ajax handling in SitkaAjax
                    //SitkaAjax.errorHandler(xhr, statusText);
                    jQuery(".progress").hide();
                    gisUploadResults.html("<div class='alert alert-danger' style='position: fixed; top: 50%; width:500px'>There was a problem creating the Projects</div>");
                }
            });
            form.submit();
        }
    }



    jQuery(document)
        .ready(function() {
            jQuery("#uploadAdvance").on("click", createProjectsAndAdvanceCurrentPage);


            if ('@ViewDataTyped.IsFlattened' == 'True' || '@ViewDataTyped.IsFlattened' == 'true') {
                jQuery(".nonFlattenedColumns").hide();
            } else {
                jQuery(".flattenedColumns").hide();
            }


        });
</script>