@*-----------------------------------------------------------------------
    <copyright file="Basics.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using LtInfo.Common.Mvc
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@inherits ProjectFirma.Web.Views.GisProjectBulkUpdate.GisMetadata

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
}


<div style="margin-top: 10px">
    @Html.DhtmlxGrid(ViewDataTyped.GisRecordGridSpec, ViewDataTyped.GridName, ViewDataTyped.GridDataUrl, null, DhtmlxGridResizeType.VerticalFillHorizontalAutoFit)
</div>


<form method="POST" id="createProjectsForm" action="@ViewDataTyped.GisMetadataPostUrl" enctype="multipart/form-data">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.ProjectIdentifierMetadataAttributeID)
            </div>
            <div class="col-xs-8">
                @Html.DropDownListFor(m => m.ProjectIdentifierMetadataAttributeID, ViewDataTyped.GisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ProjectIdentifierMetadataAttributeID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.ProjectNameMetadataAttributeID)
            </div>
            <div class="col-xs-8">
                @Html.DropDownListFor(m => m.ProjectNameMetadataAttributeID, ViewDataTyped.GisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ProjectNameMetadataAttributeID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.TreatmentTypeMetadataAttributeID)
            </div>
            <div class="col-xs-8">
                @Html.DropDownListFor(m => m.TreatmentTypeMetadataAttributeID, ViewDataTyped.GisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TreatmentTypeMetadataAttributeID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.CompletionDateMetadataAttributeID)
            </div>
            <div class="col-xs-8">
                @Html.DropDownListFor(m => m.CompletionDateMetadataAttributeID, ViewDataTyped.GisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CompletionDateMetadataAttributeID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.StartDateMetadataAttributeID)
            </div>
            <div class="col-xs-8">
                @Html.DropDownListFor(m => m.StartDateMetadataAttributeID, ViewDataTyped.GisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.StartDateMetadataAttributeID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.ProjectStageMetadataAttributeID)
            </div>
            <div class="col-xs-8">
                @Html.DropDownListFor(m => m.ProjectStageMetadataAttributeID, ViewDataTyped.GisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ProjectStageMetadataAttributeID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.TreatmentDetailedActivityTypeMetadataAttributeID)
            </div>
            <div class="col-xs-8">
                @Html.DropDownListFor(m => m.TreatmentDetailedActivityTypeMetadataAttributeID, ViewDataTyped.GisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TreatmentDetailedActivityTypeMetadataAttributeID)
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-xs-4 control-label">
                @Html.LabelWithSugarFor(m => m.TreatedAcresMetadataAttributeID)
            </div>
            <div class="col-xs-8">
                @Html.DropDownListFor(m => m.TreatedAcresMetadataAttributeID, ViewDataTyped.GisMetadataAttributes, new { style = "width: auto;", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TreatedAcresMetadataAttributeID)
            </div>
        </div>
    </div>
</form>

<div class="pull-right">
    @*<a class="btn btn-xs btn-firma" href="@ViewDataTyped.GisMetadataUrl">Continue <span class='glyphicon glyphicon-chevron-right'></span></a>*@
    <button id="uploadAdvance" class="btn btn-xs btn-firma" value="true" name="@Html.NameFor(x => x.AutoAdvance)">Create Projects</button>
</div>

<div id="gisMetadataSaving" style="min-height:100px"></div>

<script type="text/javascript">

        function uploadGisFileAndRefreshCurrentPage() {
            uploadGisFile(true);
        }

    function createProjectsAndAdvanceCurrentPage() {
            uploadGisFile(true);
        }

    function uploadGisFile(refresh) {
        var form = jQuery("#createProjectsForm");
        if (form.valid()) {
            var gisUploadResults = jQuery("#gisMetadataSaving");
            form.ajaxForm({
                url: this.action,
                type: this.method,
                beforeSubmit: function ()
                {
                    gisUploadResults.html("<div style='padding-top: 50%'><div class='progress'><div class='progress-bar progress-bar-info progress-bar-striped active' role='progressbar' style='width:100%'>Creating Projects</div></div></div>");
                },
                success: function (result, textStatus, jqXhr) {
                    jQuery(".progress").hide();
                    // Piggy back off the centralized login required detection in Ajax handling in SitkaAjax
                    if (refresh) {
                        window.location.href = "@ViewDataTyped.ProjectIndexUrl";
                    }
                    else
                    {
                        window.location.href = "@ViewDataTyped.ProjectIndexUrl";
                    }
                },
                error: function (xhr, statusText) {
                    // Piggy back off the centralized error Ajax handling in SitkaAjax
                    //SitkaAjax.errorHandler(xhr, statusText);
                    jQuery(".progress").hide();
                    gisUploadResults.html("<div class='alert alert-danger' style='position: fixed; top: 50%; width:500px'>There was a problem creating the Projects</div>");
                }
            });
            form.submit();
        }
    }



    jQuery(document)
        .ready(function() {
            jQuery("#uploadAdvance").click(createProjectsAndAdvanceCurrentPage);
        });
</script>