@*-----------------------------------------------------------------------
    <copyright file="EditInteractionEventContacts.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Models
@using Newtonsoft.Json.Linq
@inherits ProjectFirma.Web.Views.InteractionEvent.EditInteractionEventContacts
<script type="text/javascript">
    // <![CDATA[
    angular.module("ProjectFirmaApp").factory("angularModelAndViewData", function ()
    {
        return {
            AngularModel: @Html.Raw(JObject.FromObject(Model)),
            AngularViewData: @Html.Raw(JObject.FromObject(ViewDataTyped))
        };
    });
    jQuery(document).ready(function () {

        angular.bootstrap(jQuery("#EditInteractionEventContactAngularApp"), ["ProjectFirmaApp"]);

        jQuery(".selectpicker").selectpicker("refresh");

    });
    // ]]>
</script>
<script type="text/javascript" src="/Content/Bootstrap-select/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="/Content/Bootstrap-select/bootstrap-select.min.css" type="text/css" />


<div class="validationError">
    @Html.ValidationSummary()
</div>
<div id="EditInteractionEventContactAngularApp" ng-controller="InteractionEventContactController" style="min-height: 300px;">
    <div class="row">
        <div class="col-md-12">
            <p>Select the @FieldDefinition.Contact.GetFieldDefinitionLabelPluralized() that are associated with your @FieldDefinition.InteractionEvent.GetFieldDefinitionLabel().</p>
            @if (ViewDataTyped.UserCanManageContacts)
            {
                <p>If you do not see the contact listed, you can <a href="@ViewDataTyped.AddContactUrl" target="_blank">Add a @FieldDefinition.Contact.GetFieldDefinitionLabel()</a></p>
            }
            else
            {
                <p>If you do not see the contact listed, you can use the Help Menu to request support.</p>
            }
        </div>
    </div>
    <div class="row">
        @*Selectpicker*@
        <div class="col-md-12">
            <div class="input-group" style="width: 100%;">
                <select class="selectpicker" id="@Html.IdFor(x => x.InteractionEventContacts)" ng-model="selectedContactID" data-width="100%" data-live-search="true" data-size="8">
                    <option value="" disabled selected>Select one</option>
                    <option ng-repeat="contact in getAvailableContactsForInteractionEvents()"
                            ng-bind="contact.FullName"
                            ng-value="contact.PersonID"
                            ng-selected="isOptionSelectedContact(contact)"></option>
                </select>
                <button type="button" class="btn btn-sm btn-firma" ng-click="addInteractionEventContact(selectedContactID)" ng-disabled="!selectedContactID">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add
                </button>
            </div>
        </div>
    </div>
    <div class="row" ng-repeat="contact in chosenContactsForInteractionEvent()" style="margin-top: 5px;">
        @*Selections*@
        <div class="col-md-12">
            <span>
                <a href="#" ng-click="removeInteractionEventContact(contact.PersonID); $event.preventDefault();">
                    <i class="glyphicon glyphicon-trash" title="Remove @FieldDefinition.InteractionEventContact.GetFieldDefinitionLabel()" alt="Remove @FieldDefinition.InteractionEventContact.GetFieldDefinitionLabel()"></i>
                </a>
            </span><span ng-bind="contact.FullName"></span>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        <div ng-repeat="interactionEventContact in AngularModel.InteractionEventContacts">
            <input type="hidden" name="@Html.NameFor(x => x.InteractionEventContacts[0].PersonID).ToString().Replace("0", "{{$index}}")" value="{{interactionEventContact.PersonID}}" />
        </div>
    }
</div>
