@*-----------------------------------------------------------------------
    <copyright file="EditInteractionEvent.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.Mvc
@using Newtonsoft.Json.Linq
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.InteractionEvent
@inherits ProjectFirma.Web.Views.InteractionEvent.EditInteractionEvent

<script type="text/javascript">
    // <![CDATA[
    angular.module("ProjectFirmaApp").factory("angularModelAndViewData", function ()
    {
        return {
            AngularModel: @Html.Raw(JObject.FromObject(Model)),
            AngularViewData: @Html.Raw(JObject.FromObject(ViewDataTyped.AngularViewData))
        };
    });
    jQuery(function () {

        angular.bootstrap(jQuery("#EditInteractionEventAngularApp"), ["ProjectFirmaApp"]);

        jQuery(".selectpicker").selectpicker("refresh");

    });
    // ]]>
</script>
<script type="text/javascript" src="/Content/Bootstrap-select/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="/Content/Bootstrap-select/bootstrap-select.min.css" type="text/css" />


@Html.Raw(ViewDataTyped.EditInteractionEventEditType.IntroductoryText)

@Html.ValidationSummary()

<form method="POST" action="@ViewDataTyped.PostUrl">

    <div class="form-horizontal">

        <div class="form-group">
            <div class="col-xs-3 control-label">
                @Html.LabelWithSugarFor(m => m.InteractionEventTypeID, "Type")
            </div>
            <div class="col-xs-6">
                @Html.DropDownListFor(m => m.InteractionEventTypeID, ViewDataTyped.InteractionEventTypes, new { style = "width: 100%;", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.InteractionEventTypeID)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3 control-label">
                @Html.LabelWithSugarFor(m => m.Date, "Date")
            </div>
            <div class="col-xs-8">
                @Html.EditorFor(m => m.Date, new { style = "width: 100%;", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Date)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3 control-label">
                @Html.LabelWithSugarFor(m => m.Title, "Title")
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.Title, new { style = "width: 100%;", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Title)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3 control-label">
                @Html.LabelWithSugarFor(m => m.Description, "Description")
            </div>
            <div class="col-xs-6">
                @Html.TextAreaFor(m => m.Description, new { style = "width: 100%;", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3 control-label">
                @Html.LabelWithSugarFor(m => m.DNRStaffPersonID, "DNR Staff Person")
            </div>
            <div class="col-xs-6">
                @Html.DropDownListFor(m => m.DNRStaffPersonID, ViewDataTyped.StaffPeople, new { style = "width: auto;", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DNRStaffPersonID)
            </div>
        </div>

    </div>

    <div id="EditInteractionEventAngularApp" ng-controller="InteractionEventController" style="min-height: 300px;">
        <hr />
        <div class="row">
            <div class="col-md-12">
                <p><strong>Select the @FieldDefinition.Contact.GetFieldDefinitionLabelPluralized() that are associated with your @FieldDefinition.InteractionEvent.GetFieldDefinitionLabel().</strong></p>
                @if (ViewDataTyped.UserCanManageContacts)
                {
                    <p>If you do not see the contact listed, you can <a href="@ViewDataTyped.AddContactUrl" target="_blank">Add a @FieldDefinition.Contact.GetFieldDefinitionLabel()</a></p>
                }
                else
                {
                    <p>If you do not see the contact listed, you can use the Help Menu to request support.</p>
                }
            </div>
        </div>
        <div class="row">
            @*Selectpicker*@
            <div class="col-md-12">
                <div class="input-group" style="width: 100%;">
                    <select class="selectpicker" id="@Html.IdFor(x => x.InteractionEventContacts)" ng-model="selectedContactID" data-width="100%" data-live-search="true" data-size="8">
                        <option value="" disabled selected>Select one</option>
                        <option ng-repeat="contact in getAvailableContactsForInteractionEvents()"
                                ng-bind="contact.FullName"
                                ng-value="contact.PersonID"
                                ng-selected="isOptionSelectedContact(contact)"></option>
                    </select>
                    <button type="button" class="btn btn-sm btn-firma" ng-click="addInteractionEventContact(selectedContactID)" ng-disabled="!selectedContactID">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add
                    </button>
                </div>
            </div>
        </div>
        <div class="row" ng-repeat="contact in chosenContactsForInteractionEvent()" style="margin-top: 5px;">
            @*Selections*@
            <div class="col-md-12">
                <span>
                    <a href="#" ng-click="removeInteractionEventContact(contact.PersonID); $event.preventDefault();">
                        <i class="glyphicon glyphicon-trash" title="Remove @FieldDefinition.InteractionEventContact.GetFieldDefinitionLabel()" alt="Remove @FieldDefinition.InteractionEventContact.GetFieldDefinitionLabel()"></i>
                    </a>
                </span><span ng-bind="contact.FullName"></span>
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col-md-12">
                <p><strong>Select the @FieldDefinition.Project.GetFieldDefinitionLabelPluralized() that are associated with your @FieldDefinition.InteractionEvent.GetFieldDefinitionLabel().</strong></p>
            </div>
        </div>
        <div class="row">
            @*Selectpicker*@
            <div class="col-md-12">
                <div class="input-group" style="width: 100%;">
                    <select class="selectpicker" id="@Html.IdFor(x => x.InteractionEventProjects)" ng-model="selectedProjectID" data-width="100%" data-live-search="true" data-size="8">
                        <option value="" disabled selected>Select one</option>
                        <option ng-repeat="project in getAvailableProjectsForInteractionEvents()"
                                ng-bind="project.DisplayName"
                                ng-value="project.ProjectID"
                                ng-selected="isOptionSelectedProject(project)"></option>
                    </select>
                    <button type="button" class="btn btn-sm btn-firma" ng-click="addInteractionEventProject(selectedProjectID)" ng-disabled="!selectedProjectID">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add
                    </button>
                </div>
            </div>
        </div>
        <div class="row" ng-repeat="project in chosenProjectsForInteractionEvent()" style="margin-top: 5px;">
            @*Selections*@
            <div class="col-md-12">
                <span>
                    <a href="#" ng-click="removeInteractionEventProject(project.ProjectID); $event.preventDefault();">
                        <i class="glyphicon glyphicon-trash" title="Remove @FieldDefinition.InteractionEventProject.GetFieldDefinitionLabel()" alt="Remove @FieldDefinition.InteractionEventProject.GetFieldDefinitionLabel()"></i>
                    </a>
                </span><span ng-bind="project.DisplayName"></span>
            </div>
        </div>

        @if (ViewDataTyped.EditInteractionEventEditType == EditInteractionEventEditType.NewInteractionEventEdit)
        {
            <div class="multiple-file-upload-wrapper">
                <div class="form-group">
                    <div class="col-sm-3 control-label">
                        @Html.LabelWithSugarFor(m => m.InteractionEventFileResourceData)
                    </div>
                    <div class="col-sm-9">
                        <input type="file" ng-file-model="files" multiple name="@Html.NameFor(x => x.InteractionEventFileResourceData)" class="multiple-file-upload" id="@Html.IdFor(x => x.InteractionEventFileResourceData)" />
                        <p class="help-block">Drag and drop or click on the box above to upload files. <br />Allowed Extensions: @Model.GetFileExtensions(x => x.InteractionEventFileResourceData)</p>
                        @Html.ValidationMessageFor(m => m.InteractionEventFileResourceData)
                        <div class="form-horizontal file-inputs" ng-repeat="(key, file) in files">
                            <p class="help-block" style="margin-bottom: 0;"> @BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-file") {{file.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div ng-repeat="interactionEventProject in AngularModel.InteractionEventProjects">
            <input type="hidden" name="@Html.NameFor(x => x.InteractionEventProjects[0].ProjectID).ToString().Replace("0", "{{$index}}")" value="{{interactionEventProject.ProjectID}}" />
        </div>
        <div ng-repeat="interactionEventContact in AngularModel.InteractionEventContacts">
            <input type="hidden" name="@Html.NameFor(x => x.InteractionEventContacts[0].PersonID).ToString().Replace("0", "{{$index}}")" value="{{interactionEventContact.PersonID}}" />
        </div>
    </div>
    
    @Html.HiddenFor(m => m.InteractionEventID)

</form>
