@*-----------------------------------------------------------------------
    <copyright file="ProjectMapPopup.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Models
@using LtInfo.Common
@using ProjectFirma.Web.Common
@inherits ProjectFirma.Web.Views.InteractionEvent.InteractionEventMapPopup
<style>
    .row {
        margin-bottom: 5px;
        padding-left: 10px;
    }

    dl.inline {
        margin-bottom: 0;
    }

    dl.inline dd {
        display: inline;
        margin: 0;
        max-width: 200px;
        margin-bottom: 8px;
    }

    dl.inline dd:after {
        display: block;
        content: '';
    }

    dl.inline dt {
        display: inline-block;
    }

</style>


    <div style="width:300px">
        <div style="font-weight: bold; border-bottom: 1px solid lightgray; margin-bottom: 10px">@ViewDataTyped.InteractionEvent.GetInteractionEventTitleAsUrl()</div>
        <div class="row">

            <div class="col-xs-12">
                <dl class="inline">
                    @if (!string.IsNullOrEmpty(ViewDataTyped.InteractionEvent.InteractionEventDescription))
                    {
                        <dt><strong>Description:</strong></dt>
                        <dd>@ViewDataTyped.InteractionEvent.InteractionEventDescription</dd>
                    }
                    <dt><strong>Date:</strong></dt>
                    <dd>@ViewDataTyped.InteractionEvent.DateDisplay</dd>
                    <dt><strong>Type:</strong></dt>
                    <dd>@ViewDataTyped.InteractionEvent.InteractionEventType.InteractionEventTypeDisplayName</dd>
                    <dt><strong>@FieldDefinition.DNRStaffPerson.GetFieldDefinitionLabel():</strong></dt>
                    <dd>@ViewDataTyped.InteractionEvent.StaffPerson.GetFullNameFirstLastAsUrl()</dd>
                    @if (!string.IsNullOrEmpty(ViewDataTyped.InteractionEventContactsWithLinksAsCommaDelimitedHtmlString.ToString()))
                    {
                        <dt><strong>@FieldDefinition.InteractionEventContact.GetFieldDefinitionLabel():</strong></dt>
                        <dd>@ViewDataTyped.InteractionEventContactsWithLinksAsCommaDelimitedHtmlString</dd>
                    }
                    @if (!string.IsNullOrEmpty(ViewDataTyped.InteractionEventProjectsWithLinksAsCommaDelimitedHtmlString.ToString()))
                    {
                        <dt><strong>@FieldDefinition.InteractionEventProject.GetFieldDefinitionLabel():</strong></dt>
                        <dd>@ViewDataTyped.InteractionEventProjectsWithLinksAsCommaDelimitedHtmlString</dd>
                    }
                </dl>
            </div>
        </div>
    </div>

