@*-----------------------------------------------------------------------
    <copyright file="EditPriorityLandscape.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using DocumentFormat.OpenXml.Math
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.Mvc
@using Newtonsoft.Json.Linq
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Views.PriorityLandscape
@inherits ProjectFirma.Web.Views.PriorityLandscape.EditPriorityLandscape


@Html.ValidationSummary()

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = string.Format("priorityLandscapeForm{0}", Model.PriorityLandscapeID) }))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-2 control-label">
                @Html.LabelWithSugarFor(m => m.PriorityLandscapeName)
            </div>
            <div class="col-xs-10">
                @Html.TextBoxFor(m => m.PriorityLandscapeName, new { @class = "form-control", disabled = "disabled" })
                @Html.ValidationMessageFor(m => m.PriorityLandscapeName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-2 control-label">
                @Html.LabelWithSugarFor(m => m.PriorityLandscapeDescription)
            </div>
            <div class="col-xs-10">
                @Html.CkEditorFor(x => x.PriorityLandscapeDescription, CkEditorExtension.CkEditorToolbar.Minimal, true, false, 200)
                @Html.ValidationMessageFor(m => m.PriorityLandscapeDescription)
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-2 control-label">
                @Html.LabelWithSugarFor(m => m.PriorityLandscapeExternalResources)
            </div>
            <div class="col-xs-10">
                @Html.CkEditorFor(x => x.PriorityLandscapeExternalResources, CkEditorExtension.CkEditorToolbar.Minimal, true, false, 200)
                @Html.ValidationMessageFor(m => m.PriorityLandscapeExternalResources)
            </div>
        </div>
    </div>

    @Html.HiddenFor(m => m.PriorityLandscapeID)
}

<script>
    @*
    * 9/21/20 TK - There is probably a better way to do this. CKEditor needs to have the value moved to the correct text area for postback to work
    * Copied this JS from: C:\git\sitkatech\wadnrforesthealth\Source\ProjectFirma.Web\ScriptsCustom\CkEditorReady.js
    *@
    jQuery(function ()
    {
        jQuery("#@string.Format("priorityLandscapeForm{0}", Model.PriorityLandscapeID)").on("submit", function () {

            for (var i in CKEDITOR.instances)
            {
                var ckEditorForDiv = CKEDITOR.instances[i];
                var id = ckEditorForDiv.name;
                var ckEditorHtml = ckEditorForDiv.getData();
                jQuery("#" + id).val(ckEditorHtml);
            }
        });
    });
</script>

