@*-----------------------------------------------------------------------
    <copyright file="Detail.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using System.Globalization
@using LtInfo.Common
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits ProjectFirma.Web.Views.FocusArea.Detail

@section JavascriptAndStylesContent
{
    @{ AgGridIncludes.RenderPartialView(Html); }
    @{ MapJavascriptIncludes.RenderPartialView(Html); }
    <script src="@Url.Content("~/Content/leaflet/leaflet.legend/leaflet-legend.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/leaflet/leaflet.legend/leaflet-legend.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">

    jQuery(function () {
        jQuery("#overviewTab").on("shown.bs.tab", function () {
            var gridName1 = @(ViewDataTyped.ProjectFocusAreaGridName.ToJS().ToHTMLFormattedString());
            Sitka[gridName1].resizeGridWidths();
            _.forOwn(window.GoogleCharts.chartWrappers,
                function (chartWrapper) {
                    if (jQuery('#' + chartWrapper.getContainerId()).is(':visible')) {
                        chartWrapper.getChart().clearChart();
                        chartWrapper.draw();
                    }
                });
        });
    });
    </script>
}

<div>
    <a class="btn backButton" href="@ViewDataTyped.IndexUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left") Back to all @FieldDefinition.FocusArea.GetFieldDefinitionLabelPluralized()</a>
</div>


<div class="panel">
    <div class="panel-body">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="focusAreaOverview">
                <div class="row">
                    <div class="col-md-10">
                        <div class="panel panelFirma">
                            <div class="panel-heading panelTitle">
                                @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditFocusAreaUrl, string.Format("Edit {0} - {1}", FieldDefinition.FocusArea.GetFieldDefinitionLabel(), ViewDataTyped.FocusArea.FocusAreaName), ViewDataTyped.UserHasFocusAreaManagePermissions) Basics
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-3 fieldLabel">@Html.Label("Name")</div>
                                            <div class="col-xs-6">@ViewDataTyped.FocusArea.FocusAreaName</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3 fieldLabel">@Html.Label("Status")</div>
                                            <div class="col-xs-6">@(ViewDataTyped.FocusArea.FocusAreaStatus != null ? ViewDataTyped.FocusArea.FocusAreaStatus.FocusAreaStatusDisplayName : string.Empty)</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3 fieldLabel">@Html.Label(FieldDefinition.DNRUplandRegion.FieldDefinitionDisplayName)</div>
                                            <div class="col-xs-6">@ViewDataTyped.FocusArea.DNRUplandRegion.GetDisplayNameAsUrl()</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3 fieldLabel">@Html.Label("Planned Footprint Acres")</div>
                                            <div class="col-xs-6">@(ViewDataTyped.FocusArea.PlannedFootprintAcres.HasValue ? ViewDataTyped.FocusArea.PlannedFootprintAcres.Value.ToString() : "None")</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panelFirma">
                            <div class="panel-heading panelTitle">
                                @FieldDefinition.GrantAllocationAward.GetFieldDefinitionLabelPluralized() For This @FieldDefinition.FocusArea.GetFieldDefinitionLabel() (@ViewDataTyped.FocusArea.FocusAreaName)
                            </div>
                            <div class="panel-body">
                                @Html.DhtmlxGrid(ViewDataTyped.GrantAllocationAwardGridSpec, ViewDataTyped.GrantAllocationAwardGridName, ViewDataTyped.GrantAllocationAwardGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panelFirma">
                            <div class="panel-heading panelTitle">
                                @FieldDefinition.FocusArea.GetFieldDefinitionLabel() and @FieldDefinition.ProjectLocation.GetFieldDefinitionLabelPluralized()
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="pull-right">
                                            @if (ViewDataTyped.UserHasFocusAreaManagePermissions)
                                            {
                                                <a href="@ViewDataTyped.EditLocationUrl" title="Edit @FieldDefinition.FocusArea.GetFieldDefinitionLabel() Location" class="btn btn-firma">
                                                    @BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-edit blue")
                                                    Edit Location
                                                </a>
                                                if (ViewDataTyped.FocusArea.FocusAreaLocation != null)
                                                {
                                                    @ModalDialogFormHelper.MakeDeleteLink(string.Format("{0} Delete Location", BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-trash")), ViewDataTyped.DeleteFocusAreaLocationUrl, new List<string> { "btn", "btn-firma" }, ViewDataTyped.UserHasFocusAreaManagePermissions)
                                                }
                                            }
                                        </div>
                                        @if (ViewDataTyped.HasSpatialData)
                                        {
                                            <p>
                                                The map displays the @FieldDefinition.FocusArea.GetFieldDefinitionLabel() location, and the locations of any active @FieldDefinition.Project.GetFieldDefinitionLabelPluralized() and @FieldDefinition.Application.GetFieldDefinitionLabelPluralized() that have spatial data.
                                            </p>
                                            if (ViewDataTyped.FocusArea.FocusAreaLocation == null)
                                            {
                                                <p style="font-weight: bold"> The @FieldDefinition.FocusArea.GetFieldDefinitionLabel(), @ViewDataTyped.FocusArea.FocusAreaName, does not have a location set. </p>
                                            }
                                        }

                                        else
                                        {
                                            <p class="systemText">No spatial data associated with this @FieldDefinition.FocusArea.GetFieldDefinitionLabel().</p>
                                        }
                                    </div>
                                    <div class="col-xs-12">
                                        @if (ViewDataTyped.HasSpatialData)
                                        {
                                            <div id="@ViewDataTyped.MapInitJson.MapDivID" style="height: 600px; margin: 5px 0 5px 0">
                                            </div>
                                            <span class="alert" style="font-size: 12px">To zoom, hold down Shift and drag a rectangle.</span>
                                            <script type="text/javascript">
                                                jQuery(function() {
                                                    var mapInitJson =
                                                        @Html.Raw(JObject.FromObject(ViewDataTyped.MapInitJson).ToString(Formatting.None));
                                                    var map = new ProjectFirmaMaps.Map(mapInitJson);

                                                    jQuery("#overviewTab").on("shown.bs.tab", function() {
                                                        map.map.invalidateSize();
                                                    });

                                                });
                                            </script>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panelFirma">
                            <div class="panel-heading panelTitle">
                                @FieldDefinition.Project.GetFieldDefinitionLabelPluralized()
                            </div>
                            <div class="panel-body">
                                @Html.DhtmlxGrid(ViewDataTyped.ProjectsIncludingLeadImplementingGridSpec, ViewDataTyped.ProjectFocusAreaGridName, ViewDataTyped.ProjectFocusAreaGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panelFirma">
                            <div class="panel-heading panelTitle">
                                CLOSEOUT REPORT
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-3"><h4>@ViewDataTyped.FocusArea.FocusAreaName</h4></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3 fieldLabel">@Html.LabelWithSugarFor(FieldDefinition.FocusAreaTotalPlannedFootprintAcres): </div>
                                            <div class="col-xs-6">@(ViewDataTyped.FocusArea.PlannedFootprintAcres.HasValue ? ViewDataTyped.FocusArea.PlannedFootprintAcres.Value.ToString() : "None")</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3 fieldLabel">@Html.LabelWithSugarFor(FieldDefinition.FocusAreaTotalCompletedFootprintAcres): </div>
                                            <div class="col-xs-6">@(ViewDataTyped.FocusArea.TotalCompletedFootprintAcres.ToString())</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3 fieldLabel">@Html.LabelWithSugarFor(FieldDefinition.FocusAreaTotalProjectEstimatedTotalCosts):  </div>
                                            <div class="col-xs-6">@(ViewDataTyped.FocusArea.SumOfProjectEstimatedTotalCost.HasValue ? ViewDataTyped.FocusArea.SumOfProjectEstimatedTotalCost.Value.ToString("C", CultureInfo.CurrentCulture) : "None")</div>
                                        </div>
                                        @* 6/26/2019 TK - commenting out for now. This "Reported Expenditure" is pulling data from an old project firma table called ProjectGrantAllocationReportedExpenditures(previously ProjectFundingSourceReportedExpenditures). We no longer use this table for expenditure data in WADNR, but may be needed in phase 2. Expenditure data in WADNR comes from datamart and is stored in the GrantAllocationExpenditures table. *@
                                        @*<div class="row">
                                            <div class="col-xs-3 fieldLabel">@Html.LabelWithSugarFor(FieldDefinition.FocusAreaTotalProjectReportedExpendiures): </div>
                                            <div class="col-xs-6">@(ViewDataTyped.FocusArea.SumOfProjectReportedExpenditures.HasValue ? ViewDataTyped.FocusArea.SumOfProjectReportedExpenditures.Value.ToString("C", CultureInfo.CurrentCulture) : "None")</div>
                                        </div>*@
                                        <br />
                                        <hr />
                                        <div class="row">
                                            <h4>@Html.LabelWithSugarFor(FieldDefinition.FocusAreaCloseoutReportProjectList) </h4>
                                        </div>
                                        <div class="row">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="border-bottom: none;">Project</th>
                                                        <th scope="col" style="border-bottom: none;">Status</th>
                                                        <th scope="col" style="border-bottom: none;">@Html.LabelWithSugarFor(FieldDefinition.ProjectTotalCompletedFootprintAcres, "Footprint Acres")</th>
                                                        <th scope="col" style="border-bottom: none;">Estimated Total Cost</th>
                                                        @* 6/26/2019 TK - see above comments  *@
                                                        @*<th scope="col" style="border-bottom: none;">Reported Expenditures</th>*@
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var project in ViewDataTyped.FocusArea.GetAssociatedImplementationOrFurtherProjects().OrderBy(x => x.DisplayName))
                                                    {
                                                        <tr>
                                                            <td style="border-top: none;">
                                                                @project.DisplayName
                                                            </td>
                                                            <td style="border-top: none;">
                                                                @project.ProjectStage.ProjectStageDisplayName
                                                            </td>
                                                            <td style="border-top: none;">
                                                                @project.TotalCompletedFootprintAcres
                                                            </td>
                                                            <td style="border-top: none;">
                                                                @(project.EstimatedTotalCost.HasValue ? project.EstimatedTotalCost.Value.ToString("C", CultureInfo.CurrentCulture) : "None")
                                                            </td>
                                                            @* 6/26/2019 TK - see above comments  *@
                                                            @*<td style="border-top: none;">
                                                                @(project.TotalExpenditures.HasValue ? project.TotalExpenditures.Value.ToString("C", CultureInfo.CurrentCulture) : "None")
                                                            </td>*@
                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
