@*-----------------------------------------------------------------------
    <copyright file="Index.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Views.Shared
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Controllers
@inherits ProjectFirma.Web.Views.JsonApiManagement.JsonApiLandingPage

@functions
{

    private string ProjectJsonApiLink()
    {
        string linkHtml = SitkaRoute<ProjectController>.BuildLinkFromExpression(c => c.ProjectJsonApi(), "Project JSON");
        return linkHtml;
    }

    //private string ProjectCodeJsonApiLink()
    //{
    //    string linkHtml = SitkaRoute<ProjectCodeController>.BuildLinkFromExpression(c => c.ProjectCodeJsonApi(), "Project Code JSON");
    //    return linkHtml;
    //}

    //private string ProgramIndexJsonApiLink()
    //{
    //    string linkHtml = SitkaRoute<ProgramIndexController>.BuildLinkFromExpression(c => c.ProgramIndexJsonApi(), "Program Index JSON");
    //    return linkHtml;
    //}

    private string AgreementJsonApiLink()
    {
        string linkHtml = SitkaRoute<AgreementController>.BuildLinkFromExpression(c => c.AgreementJsonApi(), "Agreement JSON");
        return linkHtml;
    }

    private string FundSourceAllocationJsonApiLink()
    {
        string linkHtml = SitkaRoute<FundSourceAllocationController>.BuildLinkFromExpression(c => c.FundSourceAllocationJsonApi(), "FundSource Allocation JSON");
        return linkHtml;
    }

    private string FundSourceAllocationProgramIndexProjectCodeJsonApiLink()
    {
        string linkHtml = SitkaRoute<FundSourceAllocationProgramIndexProjectCodeController>.BuildLinkFromExpression(c => c.FundSourceAllocationProgramIndexProjectCodeJsonApi(), "FundSource Allocation - Program Index - Project Code JSON");
        return linkHtml;
    }

    private string FundSourceJsonApiLink()
    {
        string linkHtml = SitkaRoute<FundSourceController>.BuildLinkFromExpression(c => c.FundSourceJsonApi(), "FundSource JSON");
        return linkHtml;
    }

    private string FundSourceStatusJsonApiLink()
    {
        // FundSourceStatusJsonApi
        string linkHtml = SitkaRoute<FundSourceController>.BuildLinkFromExpression(c => c.FundSourceStatusJsonApi(), "FundSource Status JSON");
        return linkHtml;
    }

    private string InteractionEventJsonApiLink()
    {
        string linkHtml = SitkaRoute<InteractionEventController>.BuildLinkFromExpression(c => c.InteractionEventJsonApi(), "Interaction Event JSON");
        return linkHtml;
    }

    private string InvoiceJsonApiLink()
    {
        string linkHtml = SitkaRoute<InvoiceController>.BuildLinkFromExpression(c => c.InvoiceJsonApi(), "Invoice JSON");
        return linkHtml;
    }



}

<div>
    @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }
</div>

<br />

<h3>@Html.Raw(ProjectJsonApiLink())</h3>
@*Tammy doesn't want to see these, finds them confusing/redundant. Commenting them out, but can be resurrected if desired.*@
@*<h3>@Html.Raw(ProjectCodeJsonApiLink())</h3>
<h3>@Html.Raw(ProgramIndexJsonApiLink())</h3>*@
<h3>@Html.Raw(AgreementJsonApiLink())</h3>
<h3>@Html.Raw(FundSourceAllocationJsonApiLink())</h3>
<h3>@Html.Raw(FundSourceAllocationProgramIndexProjectCodeJsonApiLink())</h3>
<h3>@Html.Raw(FundSourceJsonApiLink())</h3>
<h3>@Html.Raw(FundSourceStatusJsonApiLink())</h3>
<h3>@Html.Raw(InteractionEventJsonApiLink())</h3>
<h3>@Html.Raw(InvoiceJsonApiLink())</h3>


<div>
Some of these result sets may be empty until populated in the system
</div>

