@*-----------------------------------------------------------------------
    <copyright file="GrantModificationDetail.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.HtmlHelperExtensions

@using ProjectFirma.Web.Models
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Security
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using ProjectFirma.Web.Views.Shared.FileResourceControls
@using ProjectFirma.Web.Views.Shared.TextControls
@inherits ProjectFirma.Web.Views.GrantModification.GrantModificationDetail

@section JavascriptAndStylesContent
{


    <script type="text/javascript" src="/Content/Bootstrap-select/bootstrap-select.min.js"></script>
    <link href="~/Content/bootstrap-tags/bootstrap-tags.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Content/Bootstrap-select/bootstrap-select.min.css" type="text/css" />
    <script src="@Url.Content("~/Content/bootstrap-toc/bootstrap-toc.min.js")" type="text/javascript"></script>
    @{ AgGridIncludes.RenderPartialView(Html); }

}





<div>
    <a class="btn backButton" style="padding-left: 0;" href="@ViewDataTyped.ParentGrantUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left") @ViewDataTyped.BackToParentGrantUrlText</a>
</div>


<div class="col-sm-12 col-md-9 col-lg-10">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditGrantModificationBasicsUrl, string.Format("Edit {0}", ViewDataTyped.GrantModification.GrantModificationName), 950, ViewDataTyped.UserHasEditGrantModificationPermissions)
                        Basics
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="basicsLayout">
                        <div class="row">
                            <div class="col-sm-3">
                                @Html.LabelWithSugarFor(FieldDefinition.GrantModificationName)
                            </div>
                            <div class="col-sm-9">
                                @ViewDataTyped.GrantModification.GrantModificationName
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                @Html.LabelWithSugarFor(FieldDefinition.GrantModificationPurpose)
                            </div>
                            <div class="col-sm-9">
                                @ViewDataTyped.GrantModification.GrantModificationPurposeNamesAsCommaDelimitedString
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                @Html.LabelWithSugarFor(FieldDefinition.GrantModificationStatus)
                            </div>
                            <div class="col-sm-9">
                                @ViewDataTyped.GrantModification.GrantModificationStatus.GrantModificationStatusName
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                @Html.LabelWithSugarFor(FieldDefinition.GrantModificationAmount)
                            </div>
                            <div class="col-sm-9">
                                @ViewDataTyped.GrantModification.GrantModificationAmount.ToStringCurrency()
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                @Html.LabelWithSugarFor(FieldDefinition.GrantModificationDescription)
                            </div>
                            <div class="col-sm-9">
                                @ViewDataTyped.GrantModification.GrantModificationDescription
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                @Html.LabelWithSugarFor(FieldDefinition.GrantModificationStartDate)
                            </div>
                            <div class="col-sm-9">
                                @ViewDataTyped.GrantModification.StartDateDisplay
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                @Html.LabelWithSugarFor(FieldDefinition.GrantModificationEndDate)
                            </div>
                            <div class="col-sm-9">
                                @ViewDataTyped.GrantModification.EndDateDisplay
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>Files</h3>
                </div>
                <div class="panel-body">
                    @{ FileDetails.RenderPartialView(Html, ViewDataTyped.GrantModificationDetailFileDetailsViewData); }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panelFirma">
                <div class="panel-heading panelTitle">
                    <h3>
                        @FieldDefinition.GrantAllocation.GetFieldDefinitionLabelPluralized() Related to this @FieldDefinition.GrantModification.GetFieldDefinitionLabel() (@ViewDataTyped.GrantModification.GrantModificationName)
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="basicsLayout">
                        @Html.DhtmlxGrid(ViewDataTyped.GrantAllocationGridSpec, ViewDataTyped.GrantAllocationGridName, ViewDataTyped.GrantAllocationGridDataUrl, null, DhtmlxGridResizeType.VerticalFillHorizontalAutoFit)
                    </div>
                </div>
            </div>
        </div>
    </div>


    @if (new GrantNoteInternalViewFeature().HasPermissionByPerson(ViewDataTyped.CurrentPerson))
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panelFirma">
                    <div class="panel-heading panelTitle">
                        <h3>
                            Internal Notes
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="basicsLayout">
                            @{
                                EntityNotes.RenderPartialView(Html, ViewDataTyped.InternalGrantModificationNotesViewData);
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>