@*-----------------------------------------------------------------------
    <copyright file="ProjectInvoiceDetail.cshtml" company="Tahoe Regional Planning Agency & Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency & Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Models
@using LtInfo.Common
@using LtInfo.Common.AgGridWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Controllers
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Invoice
@inherits ProjectFirma.Web.Views.ProjectInvoice.ProjectInvoiceDetail




<div class="row">
    <div class="col-xs-4 col-xs-offset-8" style="text-align: right;">
        @ModalDialogFormHelper.ModalDialogFormLink(string.Format("{0} Add {1}", FirmaAgGridHtmlHelpers.PlusIcon, FieldDefinition.InvoicePaymentRequest.GetFieldDefinitionLabel()), ViewDataTyped.AddInvoicePaymentRequestUrl, string.Format("Create New {0}", FieldDefinition.InvoicePaymentRequest.GetFieldDefinitionLabel()), new List<string> { "btn", "btn-firma", "btn-sm" }, ViewDataTyped.CanEditInvoicePaymentRequests)
    </div>
</div>

@if (ViewDataTyped.InvoicePaymentRequests.Any())
{

    foreach (var invoicePaymentRequest in ViewDataTyped.InvoicePaymentRequests.OrderByDescending(x => x.InvoicePaymentRequestDate))
    {
        <hr />
        <div class="row" style="margin-top: 10px;">
            <div class="col-xs-4 col-xs-offset-8" style="text-align: right;">
                @ModalDialogFormHelper.ModalDialogFormLink(string.Format("{0} Edit {1}", AgGridHtmlHelpers.EditIcon, FieldDefinition.InvoicePaymentRequest.GetFieldDefinitionLabel()), SitkaRoute<InvoiceController>.BuildUrlFromExpression(x => x.EditInvoicePaymentRequest(invoicePaymentRequest.PrimaryKey)), string.Format("Edit {0}", FieldDefinition.InvoicePaymentRequest.GetFieldDefinitionLabel()), new List<string> { "btn", "btn-firma", "btn-sm" }, ViewDataTyped.CanEditInvoicePaymentRequests)
            </div>
        </div>
        if (ViewDataTyped.CanEditInvoicePaymentRequests)
        {
            <div class="row" style="margin-top: 10px;">
                <div class="col-xs-4 col-xs-offset-8" style="text-align: right;">
                    <a class="btn btn-firma" href="@ViewDataTyped.GetDownloadInvoicePaymentRequestUrl(invoicePaymentRequest)" title="Download Invoice Payment Request">@FirmaAgGridHtmlHelpers.EnvelopeIcon Download Invoice Payment Request</a>
                </div>
            </div>
        }
        <div class="row" style="margin-top: 10px;">
            <div class="col-xs-5">
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">Vendor Name</div>
                    <div class="col-xs-7">@(invoicePaymentRequest.Vendor != null ? invoicePaymentRequest.Vendor.VendorName : string.Empty)</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">Vendor Address</div>
                    <div class="col-xs-7">@(invoicePaymentRequest.Vendor != null ? invoicePaymentRequest.Vendor.GetFullVendorAddress() : string.Empty) </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">Vendor ID</div>
                    <div class="col-xs-7">@(invoicePaymentRequest.Vendor != null ? invoicePaymentRequest.Vendor.StatewideVendorNumberWithSuffix : string.Empty)</div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">Purchase Authority</div>
                    <div class="col-xs-7">@invoicePaymentRequest.PurchaseAuthorityDisplay</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">DUNS</div>
                    <div class="col-xs-7">@invoicePaymentRequest.Duns</div>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">Prepared By</div>
                    <div class="col-xs-7">@(invoicePaymentRequest.PreparedByPerson != null ? invoicePaymentRequest.PreparedByPerson.FullNameFirstLast : string.Empty)</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">Phone</div>
                    <div class="col-xs-7">@(invoicePaymentRequest.PreparedByPerson != null ? invoicePaymentRequest.PreparedByPerson.Phone : string.Empty)</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">Date</div>
                    <div class="col-xs-7">@invoicePaymentRequest.InvoicePaymentRequestDate.ToShortDateString()</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 fieldLabel text-right">Notes</div>
            <div class="col-xs-10">@invoicePaymentRequest.Notes</div>
        </div>


        @Html.AgGrid(new InvoiceGridSpec(ViewDataTyped.CurrentPerson, invoicePaymentRequest.Invoices.Any(x => x.InvoiceFileResourceID.HasValue), invoicePaymentRequest), ViewDataTyped.InvoiceGridNamePrefix + invoicePaymentRequest.InvoicePaymentRequestID, SitkaRoute<InvoiceController>.BuildUrlFromExpression(tc => tc.InvoiceGridJsonData(invoicePaymentRequest)), "height:240px;", AgGridResizeType.VerticalResizableHorizontalAutoFit)

    }
}
