@*-----------------------------------------------------------------------
    <copyright file="ProjectInvoiceDetail.cshtml" company="Tahoe Regional Planning Agency & Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency & Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Models
@using LtInfo.Common
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Controllers
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Invoice
@inherits ProjectFirma.Web.Views.ProjectInvoice.ProjectInvoiceDetail




<div class="row">
    <div class="col-xs-4 col-xs-offset-8" style="text-align: right;">
        @ModalDialogFormHelper.ModalDialogFormLink(string.Format("{0} Add {1}", FirmaDhtmlxGridHtmlHelpers.PlusIcon, FieldDefinition.InvoicePaymentRequest.GetFieldDefinitionLabel()), ViewDataTyped.AddInvoicePaymentRequestUrl, string.Format("Create New {0}", FieldDefinition.InvoicePaymentRequest.GetFieldDefinitionLabel()), new List<string> { "btn", "btn-firma", "btn-sm" }, ViewDataTyped.CanEditInvoicePaymentRequests)
    </div>
</div>

@if (ViewDataTyped.InvoicePaymentRequests.Any())
{

    foreach (var invoicePaymentRequest in ViewDataTyped.InvoicePaymentRequests.OrderByDescending(x => x.InvoicePaymentRequestDate))
    {
        <hr />
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-6" style="text-align: right;">
                    @ModalDialogFormHelper.MakeEditIconLink(SitkaRoute<InvoiceController>.BuildUrlFromExpression(x => x.EditInvoicePaymentRequest(invoicePaymentRequest.PrimaryKey)), string.Format("Edit {0}", FieldDefinition.InvoicePaymentRequest.GetFieldDefinitionLabel()), ViewDataTyped.CanEditInvoicePaymentRequests)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-3 fieldLabel">@Html.Label("Vendor Name")</div>
                    <div class="col-xs-6">@invoicePaymentRequest.Vendor.VendorName</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 fieldLabel">@Html.Label("Vendor Address")</div>
                    <div class="col-xs-6">@invoicePaymentRequest.Vendor.VendorAddressLine1<br />@invoicePaymentRequest.Vendor.VendorAddressLine2<br />@invoicePaymentRequest.Vendor.VendorAddressLine3</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 fieldLabel">@Html.Label("Vendor ID")</div>
                    <div class="col-xs-6">@invoicePaymentRequest.Vendor.StatewideVendorNumberWithSuffix</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 fieldLabel">@Html.Label("Purchase Authority")</div>
                    <div class="col-xs-6">@invoicePaymentRequest.PurchaseAuthority</div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-3 fieldLabel">@Html.Label("DUNS")</div>
                    <div class="col-xs-6">@invoicePaymentRequest.Duns</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 fieldLabel">@Html.Label("Date")</div>
                    <div class="col-xs-6">@invoicePaymentRequest.InvoicePaymentRequestDate</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 fieldLabel">@Html.Label("Notes")</div>
                    <div class="col-xs-6">@invoicePaymentRequest.Notes</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 fieldLabel">@Html.Label("Prepared By")</div>
                    <div class="col-xs-6">@invoicePaymentRequest.PreparedByPerson.FullNameFirstLast</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 fieldLabel">@Html.Label("Phone")</div>
                    <div class="col-xs-6">@invoicePaymentRequest.PreparedByPerson.Phone</div>
                </div>
            </div>
        </div>


        @Html.DhtmlxGrid(new InvoiceGridSpec(ViewDataTyped.CurrentPerson, invoicePaymentRequest.Invoices.Any(x => x.InvoiceFileResourceID.HasValue), invoicePaymentRequest), ViewDataTyped.InvoiceGridNamePrefix + invoicePaymentRequest.InvoicePaymentRequestID, SitkaRoute<InvoiceController>.BuildUrlFromExpression(tc => tc.InvoiceGridJsonData(invoicePaymentRequest)), string.Empty, DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)

    }
}
